.bill .title {
    width: 100%;
    margin-bottom: 24px;
}

.bill .title span {
    height: 32px;
    font-family: 'Roboto', sans-serif;
    font-style: normal;
    font-weight: bold;
    font-size: 30px;
    line-height: 32px;
    letter-spacing: 0.4px;
    color: #585858;
}

.bill .name-user {
    width: 328px;
    height: 72px;
    margin: 40px 0px 24px 0px;
}

.bill .name-user span {
    width: 328px;
    height: 16px;
    font-family: 'Roboto', sans-serif;
    font-style: normal;
    font-weight: 500;
    font-size: 15px;
    line-height: 20px;
    letter-spacing: 0.28px;
    font-feature-settings: 'pnum' on, 'lnum' on;
    color: #585858;
    order: 0;
    align-self: stretch;
    flex-grow: 0;
    margin-bottom: 8px;
}

.bill .name-user input[type="text"] {
    flex-direction: row;
    align-items: center;
    padding: 13px 16px;
    width: 328px;
    height: 48px;
    background: #FFFFFF;
    border: 1px solid #DDDDDD;
    box-sizing: border-box;
    border-radius: 8px;
    order: 1;
    align-self: stretch;
    flex-grow: 0;
    color: #757575;
    font-family: 'Roboto', sans-serif;
    font-style: normal;
    font-weight: normal;
    font-size: 15px;
}

.bill .name-user input[type="text"].disabled, .bill .telefone-user input[type="text"].disabled {
    background: #F7F7F7;
    border: none;
    pointer-events: none;
}

.bill .telefone-user {
    margin-bottom: 40px;
}

.bill .telefone-user span {
    width: 328px;
    height: 16px;
    font-family: 'Roboto', sans-serif;
    font-style: normal;
    font-weight: 500;
    font-size: 15px;
    line-height: 20px;
    letter-spacing: 0.28px;
    font-feature-settings: 'pnum' on, 'lnum' on;
    color: #585858;
    order: 0;
    align-self: stretch;
    flex-grow: 0;
    margin-bottom: 8px;
}

.bill .telefone-user input[type="text"] {
    flex-direction: row;
    align-items: center;
    padding: 13px 16px;
    width: 328px;
    height: 48px;
    background: #FFFFFF;
    border: 1px solid #DDDDDD;
    box-sizing: border-box;
    border-radius: 8px;
    order: 1;
    align-self: stretch;
    flex-grow: 0;
    color: #757575;
    font-family: 'Roboto', sans-serif;
    font-style: normal;
    font-weight: normal;
    font-size: 15px;
}

.bill .name-user input[type="text"].disabled, .bill .telefone-user input[type="text"].disabled {
    background: #F7F7F7;
    border: none;
    pointer-events: none;
}

.bill .bill-confirm[disabled] {
    background: #CCCCCC;
}

.bill .bill-confirm {
    height: 48px;
    width: 100%;
    background: var(--color-primary);
    border-radius: 5px;
    padding: 14px 24px 12px 24px;
    text-align: center;
    display: flex;
    justify-content: center;
    align-items: center;
    border: none;
}

.bill .bill-confirm span {
    font-family: 'Roboto', sans-serif;
    font-style: normal;
    font-weight: bold;
    font-size: 15px;
    align-items: center;
    text-align: center;
    letter-spacing: 0.28px;
    line-height: 24px;
    font-feature-settings: 'tnum' on, 'lnum' on;
    color: #FFFFFF;
}

.bill .bill-confirm svg {
    margin-right: 4px;
}

/********* QR ALERT *********/

#qr-alert {
    position: fixed;
    height: 316px;
    width: 100%;
    border-radius: 16px 16px 0px 0px;
    background: #FFFFFF;
    bottom: 0;
    z-index: 1000;
}

#qr-alert div div span:nth-child(1) {
    font-family: 'Roboto', sans-serif;
    font-style: normal;
    font-weight: bold;
    font-size: 18px;
    line-height: 20px;
    display: flex;
    align-items: center;
    letter-spacing: 0.4px;
    font-feature-settings: 'tnum' on, 'lnum' on, 'cpsp' on;
    color: #757575;
    margin-bottom: 16px;
}

#qr-alert div div span:nth-child(2) {
    font-family: 'Roboto', sans-serif;
    font-style: normal;
    font-weight: normal;
    font-size: 15px;
    line-height: 131%;
    display: flex;
    align-items: center;
    letter-spacing: 0.023em;
    color: #757575;
}

#qr-alert img {
    width: 96px;
    height: 180px;
}

@media screen and (min-width: 720px) {
    .bill .value{
        margin-bottom: unset;
    }
    .responsive-cart .name-user {
        margin-right: 16px;
    }
}