/*********** FINAL BILL ***********/

.final-bill .desk {
    flex-direction: row;
    justify-content: center;
    align-items: flex-end;
    padding: 16px;
    height: 96px;
    background: #FFFFFF;
    border: 1px solid #DDDDDD;
    box-sizing: border-box;
    border-radius: 8px;
    margin-top: 40px;
}

.final-bill .desk span:nth-child(1) {
    width: 241px;
    height: 20px;
    font-family: 'Roboto', sans-serif;
    font-style: normal;
    font-weight: bold;
    font-size: 15px;
    line-height: 20px;
    align-items: center;
    letter-spacing: 0.28px;
    font-feature-settings: 'tnum' on, 'lnum' on;
    color: #757575;
    margin-bottom: 4px;
}

.final-bill .desk span:nth-child(2) {
    height: 40px;
    font-family: 'Roboto', sans-serif;
    font-style: normal;
    font-weight: normal;
    font-size: 15px;
    line-height: 131%;
    display: flex;
    align-items: center;
    letter-spacing: 0.023em;
    color: #757575;
}

.final-bill .banner {
    margin-top: 24px;
}

.final-bill .name {
    display: flex;
    flex-direction: row;
    align-items: center;
    padding: 10px 8px;
    width: 100%;
    height: 40px;
    background: #F7F7F7;
    border-radius: 8px;
    margin-top: 16px;
}

.final-bill .name span {
    height: 20px;
    font-family: 'Roboto', sans-serif;
    font-style: normal;
    font-weight: normal;
    font-size: 15px;
    line-height: 20px;
    display: flex;
    align-items: center;
    letter-spacing: 0.4px;
    font-feature-settings: 'tnum' on, 'lnum' on;
    color: #585858;
}

.final-bill .tel-desk {
    margin-top: 16px;
    line-height: 20px;
    display: flex;
    align-items: center;
    letter-spacing: 0.4px;
    font-feature-settings: 'tnum' on, 'lnum' on;
}

.final-bill .tel-desk .tel {
    margin-right: 16px;
}

.final-bill .tel-desk .tel, .final-bill .tel-desk .desk-num {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    padding: 10px 8px;
    width: 50%;
    height: 40px;
    background: #F7F7F7;
    border-radius: 8px;
}

.final-bill .tel-desk span {
    height: 20px;
    font-family: 'Roboto', sans-serif;
    font-style: normal;
    font-weight: normal;
    font-size: 15px;
    line-height: 20px;
    display: flex;
    align-items: center;
    letter-spacing: 0.4px;
    font-feature-settings: 'tnum' on, 'lnum' on;
    color: #585858;
}

.final-bill .alert {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 12px;
    height: 44px;
    background: #E8F5EE;
    border: 1px solid #C3E6CB;
    box-sizing: border-box;
    border-radius: 4px;
}

.final-bill .alert div {
    display: flex;
    flex-direction: row;
    align-items: center;
    height: 20px;
}

.final-bill .alert div span:nth-child(2) {
    height: 20px;
    font-family: 'Roboto', sans-serif;
    font-style: normal;
    font-weight: normal;
    font-size: 15px;
    line-height: 20px;
    letter-spacing: 0.4px;
    font-feature-settings: 'tnum' on, 'lnum' on;
    color: #25A65B;
    margin: 0px 8px;
}

.final-bill .alert div span:nth-child(3) {
    height: 20px;
    font-family: 'Roboto', sans-serif;
    font-style: normal;
    font-weight: normal;
    font-size: 12px;
    line-height: 20px;
    letter-spacing: 0.4px;
    font-feature-settings: 'tnum' on, 'lnum' on;
    color: #757575;
}

.final-bill #quantity-value {
    height: 20px;
    font-family: 'Roboto', sans-serif;
    font-style: normal;
    font-weight: normal;
    font-size: 15px;
    line-height: 20px;
    letter-spacing: 0.4px;
    color: #757575;
}

.final-bill .elegant {
    padding-top: 2px;
}

.bill .title span {
    height: 32px;
    font-family: 'Roboto', sans-serif;
    font-style: normal;
    font-weight: bold;
    font-size: 30px;
    line-height: 32px;
    letter-spacing: 0.4px;
    color: #585858;
}

.bill .title div {
    float: right;
    padding-top: 7px;
}

.bill .title div img {
    margin-right: 4px;
    margin-bottom: 1px;
    animation: blinker 1.25s linear infinite;
}

@keyframes blinker {
    50% {
        opacity: 0;
    }
}

.bill .title div span {
    width: 128px;
    height: 20px;
    font-family: 'Roboto', sans-serif;
    font-style: normal;
    font-weight: normal;
    font-size: 12px;
    line-height: 20px;
    align-items: center;
    letter-spacing: 0.4px;
    font-feature-settings: 'tnum' on, 'lnum' on;
    color: #25A65B;
}

.bill .title {
    width: 100%;
    margin-bottom: 24px;
}