/*LINKTREE*/

.linktree {
    position: fixed;
    top: 0;
    width: 100%;
    height: 100%;
    z-index: 2500;
}

/*HEADER*/

.linktree-header {
    width: 100%;
    height: 138px;
    background-repeat: no-repeat;
    background-size: cover;
    position: relative;
    background-position: center;
}

.linktree-header>div {
    background: rgba(0, 0, 0, 0.25);
    position: absolute;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
}

/*BODY*/

.linktree-body {
    width: 100%;
    max-width: 720px;
    background: #FFFFFF;
    padding-top: 16px;
    margin: 0 auto;
}

/*PROFILE*/

.linktree-profile {
    width: 328px;
    justify-content: center;
    text-align: center;
    margin: 0 auto;
    min-height: calc(100vh - 199px);
    place-content: space-between;
}

.linktree-profile-info {
    display: flex;
    padding-bottom: 24px;
}

.linktree-profile-img {
    min-width: 104px;
    min-height: 104px;
    max-width: 104px;
    max-height: 104px;
    border: 1px solid #DDDDDD;
    border-radius: 112px;
    background: #FFFFFF;
    margin-right: 12px;
}

.linktree-profile-name {
    width: 100%;
    font-family: 'Roboto', sans-serif;
    font-style: normal;
    font-weight: 500;
    font-size: 18px;
    line-height: 32px;
    letter-spacing: 0.4px;
    color: #585858;
    margin-bottom: 8px;
    text-align: left;
}

.linktree-profile-address {
    display: flex;
    margin-bottom: 8px;
}

.linktree-profile-payment {
    display: flex;
}

.linktree-profile-address svg, .linktree-profile-payment svg {
    margin-right: 4px;
    min-width: 17px;
    min-height: 16px;
}

.linktree-profile-address p, .linktree-profile-payment p {
    font-family: 'Roboto';
    font-style: normal;
    font-weight: 400;
    font-size: 12px;
    line-height: 20px;
    letter-spacing: 0.4px;
    color: #757575;
    text-align: left;
    overflow: hidden;
    max-height: 40px;
}

.linktree-profile-time {
    width: 100%;
    background: #F5F5F5;
    border-radius: 8px;
    margin-bottom: 32px;
}

.linktree-profile-time-minimized {
    display: flex;
    align-items: center;
    width: 100%;
    height: 32px;
    position: relative;
    padding: 0 6px;
}

.linktree-profile-time-minimized-status {
    display: flex;
    align-items: center;
}

.linktree-profile-time-minimized-status img {
    margin-right: 4px;
    margin-bottom: 1px;
    animation: blinker 1.25s linear infinite;
}

@keyframes blinker {
    50% {
        opacity: 0;
    }
}

.linktree-profile-time-minimized-status p::after {
    height: 20px;
    font-family: 'Roboto', sans-serif;
    font-style: normal;
    font-weight: normal;
    font-size: 12px;
    line-height: 20px;
    letter-spacing: 0.4px;
    color: #25A65B;
    content: "Aberto agora";
}

.linktree-profile-time-minimized-status.closed p::after {
    content: "Fechado";
    color: #a80606;
}

.linktree-profile-time-minimized-status.closed img {
    display: none;
}

.linktree-profile-time-minimized-button {
    position: absolute;
    right: 6px;
    display: flex;
    align-items: center;
}

.linktree-profile-time-minimized-button p::after {
    height: 20px;
    font-family: 'Roboto', sans-serif;
    font-style: normal;
    font-weight: normal;
    font-size: 12px;
    line-height: 20px;
    letter-spacing: 0.4px;
    color: var(--color-primary);
    content: "Ver horários";
}

.linktree-profile-time.opened .linktree-profile-time-minimized-button p::after {
    content: "Fechar";
}

.linktree-profile-time .linktree-profile-time-minimized-button svg {
    -webkit-transition: 0.2s;
    -ms-transition: 0.2s;
    transition: 0.2s;
}

.linktree-profile-time.opened .linktree-profile-time-minimized-button svg {
    transform: rotate(180deg);
    -ms-transform: rotate(180deg);
    -webkit-transform: rotate(180deg);
    -webkit-transition: 0.2s;
    -ms-transition: 0.2s;
    transition: 0.2s;
    margin-top: 4px;
}

.linktree-profile-time-maximized {
    display: none;
    text-align: left;
    padding: 14px 8px 18px 8px;
}

.linktree-profile-time-maximized .divider {
    width: 100%;
}

.linktree-profile-time-maximized-title {
    height: 20px;
    font-family: 'Roboto', sans-serif;
    font-style: normal;
    font-weight: bold;
    font-size: 15px;
    line-height: 20px;
    letter-spacing: 0.28px;
    color: #585858;
    margin: 16px 0;
}

.linktree-profile-time-maximized-row:not(:first-child):not(:last-child) {
    margin: 18px 0;
}

.linktree-profile-time-maximized-row p:nth-child(1) {
    height: 24px;
    font-family: 'Roboto', sans-serif;
    font-style: normal;
    font-weight: 500;
    font-size: 15px;
    line-height: 24px;
    letter-spacing: 0.28px;
    color: #585858;
}

.linktree-profile-time-maximized-row p:nth-child(2) {
    height: 20px;
    font-family: 'Roboto', sans-serif;
    font-style: normal;
    font-weight: normal;
    font-size: 15px;
    line-height: 20px;
    letter-spacing: 0.023em;
    color: #585858;
}

.linktree-button {
    width: 100%;
    background: #FFFFFF;
    border: 1px solid var(--color-primary);
    font-family: 'Roboto', sans-serif;
    font-style: normal;
    font-weight: 500;
    font-size: 15px;
    line-height: 20px;
    display: flex;
    align-items: center;
    text-align: center;
    letter-spacing: 0.28px;
    color: var(--color-primary);
    height: 48px;
    margin-bottom: 16px;
    border-radius: 8px;
    justify-content: center;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
}

.linktree-button:active {
    opacity: 0.6;
    transition: 0.1s;
}

.linktree-button.pedir-online {
    color: #FFFFFF;
    background: var(--color-primary);
}

.linktree-button svg {
    margin-right: 4px;
}

.linktree-button.pedir-mesa svg {
    margin-right: 8px;
}

.linktree-share {
    display: flex;
    align-items: center;
    justify-content: center;
    z-index: 1;
    height: 40px;
}

.linktree-share:active {
    opacity: 0.6;
    transition: 0.1s;
}

.linktree-share p::after {
    height: 20px;
    font-family: 'Roboto', sans-serif;
    font-style: normal;
    font-weight: normal;
    font-size: 12px;
    line-height: 20px;
    letter-spacing: 0.4px;
    color: var(--color-primary);
    margin-left: 4px;
    content: "Compartilhar cardápio";
}

.linktree-share.message {
    display: flex;
    padding: 12px 16px;
    background: #E8F5EE;
    border: 1px solid #C3E6CB;
    border-radius: 8px;
    width: 328px;
    z-index: 2;
    margin: -10px auto 0px auto;
}

.linktree-share.message p::after {
    font-family: 'Roboto', sans-serif;
    font-style: normal;
    font-weight: normal;
    font-size: 15px;
    line-height: 20px;
    letter-spacing: 0.4px;
    color: #25A65B;
    margin-left: 8px;
    white-space: nowrap;
    content: "Link copiado! Agora é só compartilhar!";
}

.linktree-share.message svg path {
    d: path("M8 0C3.584 0 0 3.584 0 8C0 12.416 3.584 16 8 16C12.416 16 16 12.416 16 8C16 3.584 12.416 0 8 0ZM6.4 12L2.4 8L3.528 6.872L6.4 9.736L12.472 3.664L13.6 4.8L6.4 12Z");
}

.linktree-share.message svg * {
    fill: #25A65B !important;
}

/*LINKTREE CLOSED*/

.linktree.closed {
    position: unset;
    top: unset;
    height: unset;
}

.linktree.closed .linktree-button {
    display: none;
}

.linktree.closed .linktree-profile {
    min-height: unset;
}

.linktree.closed .linktree-share {
    display: none;
}

.linktree.closed .linktree-profile-time {
    margin-bottom: 0;
}

.linktree.closed .simulate-shipping {
    display: block;
}

/*SIMULATE SHIPPING*/

.simulate-shipping {
    display: none;
}

.simulate-shipping-field {
    margin-top: 24px;
}

.simulate-shipping-field>div {
    display: flex;
    align-items: center;
    position: relative;
    height: 40px;
}

.simulate-shipping-error {
    font-family: 'Roboto';
    font-style: normal;
    font-weight: 500;
    font-size: 12px;
    line-height: 20px;
    letter-spacing: 0.4px;
    color: #B00020;
    text-align: right;
    margin-top: 8px;
    display: none;
}

.simulate-shipping-address {
    font-family: 'Roboto';
    font-style: normal;
    font-weight: 400;
    font-size: 15px;
    line-height: 24px;
    color: #585858;
    margin-top: 8px;
    text-align: left;
    display: none;
}

.simulate-shipping-field>div p {
    font-family: 'Roboto';
    font-style: normal;
    font-weight: 500;
    font-size: 15px;
    line-height: 20px;
    letter-spacing: 0.28px;
    color: #585858;
    display: flex;
    align-items: center;
}

.simulate-shipping-field>div p>div {
    color: #25A65B;
    margin-left: 4px;
}

.simulate-shipping-field>div>div {
    position: absolute;
    right: 0;
    display: flex;
    align-items: center;
    height: 40px;
}

.simulate-shipping-field>div>div input[type="text"] {
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 4px 8px;
    width: 104px;
    height: 40px;
    background: #FCFCFC;
    border-radius: 8px 0 0 8px;
    font-family: 'Roboto';
    font-style: normal;
    font-weight: 400;
    font-size: 15px;
    line-height: 131%;
    letter-spacing: 0.023em;
    color: #585858;
    border: 0.5px solid #DDDDDD;
    border-right: none;
}

.simulate-shipping-field>div>div button {
    width: 80px;
    height: 40px;
    background: var(--color-primary-effects);
    color: var(--color-primary);
    border-radius: 0 8px 8px 0;
    border: 0.5px solid #DDDDDD;
    border-left: none;
}

.simulate-shipping-field>div>div button::after {
    content: "Verificar";
}

.address-button {
    margin-top: 16px;
    background: #EBF5FF;
    border-radius: 8px;
    border: none;
    width: 100%;
    height: 44px;
    font-family: 'Roboto';
    font-style: normal;
    font-weight: 500;
    font-size: 15px;
    line-height: 20px;
    color: #0962BA;
    display: flex;
    align-items: center;
    justify-content: center;
}

.address-button svg {
    margin-right: 8px;
}

.simulate-shipping.default .simulate-shipping-field>div>div input[type="text"] {
    display: none;
}

.simulate-shipping.default .simulate-shipping-field>div>div button {
    font-family: 'Roboto';
    font-style: normal;
    font-weight: 500;
    font-size: 12px;
    line-height: 20px;
    display: flex;
    align-items: center;
    text-align: right;
    letter-spacing: 0.4px;
    font-feature-settings: 'tnum'on, 'lnum'on;
    color: var(--color-primary);
    width: unset;
    height: 20px;
    background: none;
    border: none;
    padding: unset;
}

.simulate-shipping.default .simulate-shipping-field>div>div button::after {
    content: "Inserir CEP";
}

.simulate-shipping.default .address-button {
    display: none;
}

.simulate-shipping.result .simulate-shipping-address {
    display: block;
}

.simulate-shipping.result .simulate-shipping-field>div>div input[type="text"] {
    display: none;
}

.simulate-shipping.result .simulate-shipping-field>div>div button {
    font-family: 'Roboto';
    font-style: normal;
    font-weight: 500;
    font-size: 12px;
    line-height: 20px;
    display: flex;
    align-items: center;
    text-align: right;
    letter-spacing: 0.4px;
    font-feature-settings: 'tnum'on, 'lnum'on;
    color: var(--color-primary);
    width: unset;
    height: 20px;
    background: none;
    border: none;
    padding: unset;
}

.simulate-shipping.result .simulate-shipping-field>div>div button::after {
    content: "Alterar CEP";
}

.simulate-shipping.result .address-button {
    display: none;
}

@media screen and (min-width: 720px) {
    .linktree-header {
        z-index: -1;
        height: 272px;
    }

    .linktree-body {
        margin-top: -48px;
        border-radius: 16px 16px 0px 0px;
        padding-top: 48px;
        height: 100%;
    }

    .linktree.closed .linktree-body {
        padding-top: 32px;
    }

    .linktree-profile {
        min-height: 430px;
    }

    .linktree.closed .linktree-profile {
        display: flex;
        width: 672px;
    }

    .linktree-profile-info, .linktree-profile-second {
        width: 328px;
    }

    .bottom-bar .option {
        width: 96px;
    }

    .bottom-bar .option:not(:last-child) {
        margin-right: 24px;
    }

    .simulate-shipping-field{
        margin-top: 8px;
    }
}

@media screen and (min-width: 1440px) {
    .linktree-body {
        margin: -96px auto 0 auto;
        border-radius: 16px;
    }

    .linktree:not(.closed) .linktree-body {
        min-height: 588px;
        height: auto;
        padding-bottom: 48px;
    }

    .linktree:not(.closed) .linktree-profile {
        min-height: 453px;
    }
}