@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap');

/*Body*/

body {
    text-align: -webkit-center;
}

h1, h2, h3, h4, h5, p {
    margin: 0;
}

::-webkit-scrollbar {
    height: 0;
    width: 0;
}

.center-abs {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

input:focus {
    outline: none;
}

a:link {
    text-decoration: none;
}

a:visited {
    text-decoration: none;
}

a:hover {
    text-decoration: none;
}

a:active {
    text-decoration: none;
}

/*Lojas*/

.lojas {
    display: none;
}

.lojas.empty .searchBar,
.lojas.empty .categoriesChips,
.lojas.empty .storesTitle,
.lojas.empty .lojasRodape {
    display: none;
}

.lojas.empty .emptyList {
    display: block;
}

/*Address Select*/

.addressSelect {
    display: flex;
    align-items: center;
    padding: 4px 8px;
    max-width: 328px;
    width: 100%;
    height: 32px;
    background: #F7F7F7;
    border-radius: 8px;
    margin-top: 24px;
    font-style: normal;
    font-weight: 400;
    font-size: 12px;
    line-height: 16px;
    color: #585858;
    position: relative;
    border: none;
    margin-bottom: 8px;
    white-space: nowrap;
    overflow: hidden;
}

.addressSelect svg {
    position: absolute;
    right: 0;
    background: #f7f7f7;
}

/*Search Bar*/

.searchBar {
    height: 40px;
    background: #FFF0F3;
    border-radius: 8px;
    max-width: 328px;
    width: 100%;
    display: flex;
    align-items: center;
    position: relative;
    padding: 10px 44px 9px 16px;
    margin-bottom: 32px;
    margin-top: 24px;
}

.searchBar input[type="text"] {
    height: 100%;
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    line-height: 24px;
    color: #4D4D4D;
    width: 100%;
    border: none;
    background: none;
}

.searchBar input[type="text"]::placeholder {
    color: #E4002B;
}

.searchBar svg {
    position: absolute;
    right: 16px;
}

/*Categories Chips*/

.categoriesChips {
    display: flex;
    max-width: 328px;
    width: 100%;
    white-space: nowrap;
    position: relative;
    overflow-x: scroll;
    overflow-y: hidden;
    white-space: nowrap;
    transition: all 0.2s;
    transform: scale(0.98);
    will-change: transform;
    user-select: none;
    cursor: pointer;
    margin-bottom: 32px;
}

.categories {
    min-width: 121px;
    height: 72px;
    background: #F5F5F5;
    border-radius: 12px;
    position: relative;
    border: none;
    display: flex;
    justify-content: center;
    margin-right: 8px;
}

.categories.selected {
    background: #FFF0F3;
    border: 0.5px solid #E4002B;
}

.categories img {
    max-height: 44px;
    position: absolute;
    top: 4px;
}

.categories p {
    font-style: normal;
    font-weight: 400;
    font-size: 12px;
    line-height: 16px;
    color: #4D4D4D;
    position: absolute;
    bottom: 4px;
    width: 95px;
    text-align: center;
    overflow: hidden;
}

/*Stores*/

.storesTitle {
    width: 100%;
    max-width: 328px;
    font-style: normal;
    font-weight: 500;
    font-size: 16px;
    line-height: 24px;
    color: #4D4D4D;
    margin-bottom: 16px;
    text-align: left;
}

/* .stores {
    height: 100vw;
    overflow-y: auto;
} */

.store {
    display: flex;
    width: 100%;
    max-width: 328px;
    height: 120px;
    border-bottom: 0.5px solid #DDDDDD;
    margin-bottom: 16px;
}

.store img {
    width: 104px;
    height: 104px;
    margin-right: 16px;
}

.storeTitle {
    margin-top: 12px;
    font-style: normal;
    font-weight: 500;
    font-size: 16px;
    line-height: 24px;
    color: #4D4D4D;
    margin-bottom: 12px;
    text-align: left;
}

.storeDescription {
    display: flex;
    align-items: center;
    margin-bottom: 12px;
}

.storeStatus {
    padding: 0 4px;
    background: #E1F5E9;
    border-radius: 8px;
    margin-right: 4px;
    line-height: 16px;
}

.storeStatus::after {
    content: "Aberto";
    font-style: normal;
    font-weight: 400;
    font-size: 12px;
    color: #25A65B;
}

.storeStatus.closed {
    padding: unset;
    background: unset;
}

.storeStatus.closed::after {
    content: "Fechado";
    color: #B00020;
}

.storeText {
    font-style: normal;
    font-weight: 400;
    font-size: 12px;
    line-height: 16px;
    color: #4D4D4D;
    margin-right: 4px;
}

.storeType {
    max-width: 92px;
    overflow: hidden;
    white-space: nowrap;
}

.starNumber {
    font-style: normal;
    font-weight: 400;
    font-size: 12px;
    line-height: 16px;
    color: #FEBF00;
}

/*Lojas Rodape*/

.lojasRodape {
    width: 100%;
    max-width: 328px;
    padding-bottom: 16px;
    padding-top: 4px;
}

.lojasRodape button {
    height: 32px;
    background: none;
    font-style: normal;
    font-weight: 400;
    font-size: 12px;
    text-align: center;
    color: #4D4D4D;
    border: none;
}

.lojasRodape button red {
    color: #E4002B;
}

/*Empty List*/

.emptyList {
    padding: 22px 0;
    display: none;
}

.emptyList svg {
    margin-bottom: 16px;
}

.emptyList p {
    font-style: normal;
    font-weight: 500;
    font-size: 16px;
    line-height: 24px;
    color: #4D4D4D;
    margin-bottom: 24px;
}

.emptyList button {
    width: 200px;
    height: 40px;
    display: flex;
    align-items: center;
    justify-content: center;
    background: #FFF0F3;
    border-radius: 8px;
    font-style: normal;
    font-weight: 500;
    font-size: 16px;
    line-height: 24px;
    color: #E4002B;
    border: none;
}

/*Suggestion Area*/

.suggestionBackground {
    display: none;
    position: fixed;
    background: rgba(0, 0, 0, 0.5);
    width: 100%;
    height: 100%;
    z-index: 999;
    left: 0;
    top: 0;
    z-index: 4;
}

.suggestionModal {
    display: none;
    position: fixed;
    bottom: 0;
    width: 100%;
    height: 320px;
    background: #FFFFFF;
    border-radius: 16px 16px 0px 0px;
    z-index: 5;
    text-align: -webkit-center;
}

.suggestionModal>svg {
    margin-top: 14px;
    margin-bottom: 24px;
}

.suggestionStart p {
    width: 100%;
    max-width: 328px;
    font-style: normal;
    font-weight: 500;
    font-size: 20px;
    line-height: 32px;
    color: #4D4D4D;
    margin-bottom: 24px;
    margin-top: 8px;
}

.suggestionStart input[type="text"] {
    width: 100%;
    max-width: 328px;
    height: 48px;
    background: #FFFFFF;
    border: 1px solid #DDDDDD;
    box-sizing: border-box;
    border-radius: 8px;
    font-style: normal;
    font-weight: 400;
    font-size: 15px;
    line-height: 20px;
    display: flex;
    align-items: center;
    letter-spacing: 0.4px;
    color: #4D4D4D;
    padding-left: 16px;
    margin-bottom: 80px;
}

.suggestionStart input[type="text"]::placeholder {
    font-style: normal;
    font-weight: 400;
    font-size: 15px;
    line-height: 20px;
    letter-spacing: 0.4px;
    color: #999999;
}

.suggestionStart button {
    width: 100%;
    max-width: 328px;
    height: 48px;
    background: #E4002B;
    border-radius: 4px;
    align-items: center;
    display: flex;
    justify-content: center;
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    line-height: 24px;
    color: #FFFFFF;
    border: none;
}

.suggestionStart button[disabled] {
    background: #cecece;
}

.suggestionSuccess {
    display: none;
}

.suggestionSuccess svg {
    margin-bottom: 16px;
}

.suggestionSuccess h2 {
    font-style: normal;
    font-weight: 500;
    font-size: 20px;
    line-height: 32px;
    color: #4D4D4D;
}

.suggestionSuccess h3 {
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    line-height: 24px;
    color: #4D4D4D;
}

.suggestionSuccess button {
    width: 100%;
    max-width: 328px;
    font-style: normal;
    font-weight: 400;
    font-size: 15px;
    line-height: 20px;
    display: flex;
    align-items: center;
    justify-content: center;
    letter-spacing: 0.4px;
    color: #E4002B;
    border: none;
    background: none;
    margin-top: 24px;
}

/*Address Area*/

.address-area {
    width: 328px;
    padding-bottom: 100px;
}

.address-area img {
    margin-top: 24px;
    margin-bottom: 32px;
}

.address-area-title {
    font-family: 'Roboto';
    font-style: normal;
    font-weight: 700;
    font-size: 18px;
    line-height: 20px;
    display: flex;
    align-items: center;
    letter-spacing: 0.4px;
    color: #585858;
    justify-content: center;
}

.address-area-subtitle {
    font-family: 'Roboto';
    font-style: normal;
    font-weight: 400;
    font-size: 15px;
    line-height: 32px;
    display: flex;
    align-items: center;
    color: #585858;
    margin-bottom: 24px;
    justify-content: center;
}

.checkout-field {
    position: relative;
    margin-bottom: 26px;
}

.checkout-field-row {
    display: flex;
    margin-top: 16px;
}

.checkout-field-row .checkout-field:first-child {
    margin-right: 16px;
    width: 37%;
}

.checkout-field input {
    height: 48px;
    display: block;
    width: 100%;
    border: none;
    border: 1px solid #DDDDDD;
    border-radius: 8px;
    font-family: 'Roboto', sans-serif;
    font-style: normal;
    font-weight: normal;
    font-size: 15px;
    line-height: 20px;
    letter-spacing: 0.4px;
    color: #585858;
    padding: 0 16px;
}

.checkout-field.error input {
    border: 1px solid #B00020;
}

.checkout-field label {
    font-family: 'Roboto', sans-serif;
    font-style: normal;
    font-weight: normal;
    font-size: 15px;
    line-height: 20px;
    letter-spacing: 0.4px;
    color: #585858;
    transition: 0.2s ease all;
    -moz-transition: 0.2s ease all;
    -webkit-transition: 0.2s ease all;
    position: absolute;
    pointer-events: none;
    left: 16px;
    top: 14px;
}

.checkout-field.error label {
    color: #B00020;
}

.textarea-title {
    font-family: 'Roboto';
    font-style: normal;
    font-weight: 400;
    font-size: 15px;
    line-height: 24px;
    color: #4D4D4D;
    margin-bottom: 4px;
    margin-top: -10px;
    text-align: left;
}

.address-area textarea {
    border: 1px solid #DDDDDD;
    border-radius: 8px;
    width: 100%;
    height: 96px;
    padding: 16px;
    font-family: 'Roboto', sans-serif;
    font-style: normal;
    font-weight: normal;
    font-size: 15px;
    line-height: 20px;
    letter-spacing: 0.4px;
    color: #585858;
}

.address-area-sublabel {
    height: 10px;
    font-family: 'Roboto', sans-serif;
    font-style: normal;
    font-weight: normal;
    font-size: 11px;
    line-height: 10px;
    letter-spacing: 0.4px;
    color: #757575;
    margin-left: 14px;
    text-align: left;
    margin-top: 6px;
}

.address-area-button {
    position: fixed;
    left: calc(50% - 328px/2);
    height: 50px;
    bottom: 0;
    background: #E4002B;
    border-radius: 5px;
    align-items: center;
    justify-content: center;
    display: flex;
    margin-bottom: 20px;
    text-align: center;
    width: 328px;
    z-index: 5;
    font-family: 'Roboto', sans-serif;
    font-style: normal;
    font-weight: bold;
    font-size: 15px;
    line-height: 20px;
    letter-spacing: 0.4px;
    color: #FFFFFF;
    border: none;
}

.address-area-button[disabled] {
    background: #cecece;
}

.checkout-field label {
    font-family: 'Roboto', sans-serif;
    font-style: normal;
    font-weight: normal;
    font-size: 15px;
    line-height: 20px;
    letter-spacing: 0.4px;
    color: #585858;
    transition: 0.2s ease all;
    -moz-transition: 0.2s ease all;
    -webkit-transition: 0.2s ease all;
    position: absolute;
    pointer-events: none;
    left: 16px;
    top: 14px;
}

.checkout-field.error label {
    color: #B00020;
}

.checkout-field input:focus~label, .checkout-field input:valid~label {
    top: -4px;
    font-family: 'Roboto', sans-serif;
    font-style: normal;
    font-weight: normal;
    font-size: 11px;
    line-height: 10px;
    letter-spacing: 0.4px;
    color: #585858;
    padding: 0 4px;
    background: #ffffff;
}

.checkout-field.error input:focus~label, .checkout-field.error input:valid~label {
    color: #B00020;
}

.checkout-field input:focus~.bar:before, input:focus~.bar:after {
    width: 50%;
}

.checkout-field .highlight {
    position: absolute;
    height: 60%;
    width: 100px;
    top: 25%;
    left: 0;
    pointer-events: none;
    opacity: 0.5;
}

.checkout-field input:focus~.highlight {
    -webkit-animation: inputHighlighter 0.3s ease;
    -moz-animation: inputHighlighter 0.3s ease;
    animation: inputHighlighter 0.3s ease;
}

@-webkit-keyframes inputHighlighter {
    from {
        background: #DDDDDD;
    }

    to {
        width: 0;
        background: transparent;
    }
}

@-moz-keyframes inputHighlighter {
    from {
        background: #DDDDDD;
    }

    to {
        width: 0;
        background: transparent;
    }
}

@keyframes inputHighlighter {
    from {
        background: #DDDDDD;
    }

    to {
        width: 0;
        background: transparent;
    }
}

.checkout-error {
    display: flex;
    position: absolute;
    z-index: 2;
    align-items: center;
    background: #ffffff;
    padding: 0 20px 5px 20px;
}

.checkout-error-text {
    font-family: 'Roboto', sans-serif;
    font-style: normal;
    font-weight: normal;
    font-size: 12px;
    line-height: 16px;
    letter-spacing: 0.4px;
    color: #B00020;
    margin-left: 4px;
}

.address-button {
    background: #EBF5FF;
    border-radius: 8px;
    border: none;
    width: 100%;
    height: 44px;
    font-family: 'Roboto';
    font-style: normal;
    font-weight: 500;
    font-size: 15px;
    line-height: 20px;
    color: #0962BA;
    display: flex;
    align-items: center;
    justify-content: center;
    margin-bottom: 32px;
}

.address-button svg {
    margin-right: 8px;
}

/*Skeleton Lojas*/

.shine {
    background: #f6f7f8;
    background-image: linear-gradient(to right, #f6f7f8 0%, #edeef1 20%, #f6f7f8 40%, #f6f7f8 100%);
    background-repeat: no-repeat;
    background-size: 800px 104px;
    display: inline-block;
    position: relative;
    -webkit-animation-fill-mode: forwards;
    -webkit-animation-iteration-count: infinite;
    -webkit-animation-name: placeholderShimmer;
    -webkit-animation-timing-function: linear;
}

.categoriesChipsSkeleton .shine {
    width: 121px;
    height: 72px;
    border-radius: 12px;
    margin-right: 8px;
    -webkit-animation-duration: 1s;
}

.storeSkeleton {
    display: flex;
    width: 328px;
    padding-bottom: 15.5px;
    border-bottom: 0.5px solid #f6f7f8;
    margin-bottom: 12px;
}

.storeSkeleton>.shine {
    width: 104px;
    height: 104px;
    border-radius: 16px;
    margin-right: 16px;
    -webkit-animation-duration: 1s;
}

.storeSkeleton div {
    display: block;
    text-align: left;
}

.storeSkeleton div .shine:nth-child(1) {
    width: 176px;
    height: 16px;
    margin-right: 16px;
    margin-top: 20px;
    -webkit-animation-duration: 1s;
}

.storeSkeleton div .shine:nth-child(2) {
    width: 72px;
    height: 12px;
    margin-right: 16px;
    margin-top: 12px;
    -webkit-animation-duration: 1s;
}

.storeSkeleton div .shine:nth-child(3) {
    width: 112px;
    height: 12px;
    margin-right: 16px;
    margin-top: 12px;
    -webkit-animation-duration: 1s;
}

@-webkit-keyframes placeholderShimmer {
    0% {
        background-position: -468px 0;
    }

    100% {
        background-position: 468px 0;
    }
}