/*---------- FONT SECTION ----------*/

@import url('https://rsms.me/inter/inter.css');
@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap');

html {
    font-family: 'Inter', sans-serif;
}

@supports (font-variation-settings: normal) {
    html {
        font-family: 'Inter var', sans-serif;
    }
}

* {
    -webkit-touch-callout: none;
    -webkit-user-select: none;
    -khtml-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
    /* iOS Safari */
    /* Safari */
    /* Konqueror HTML */
    /* Old versions of Firefox */
    /* Internet Explorer/Edge */
}

* {
    touch-action: manipulation;
}

input, textarea {
    -webkit-user-select: text;
}

.d-flex {
    display: flex !important;
}

h1, h2, h3, h4, h5, p {
    margin: 0;
}

a:link {
    text-decoration: none;
}

a:visited {
    text-decoration: none;
}

a:hover {
    text-decoration: none;
}

a:active {
    text-decoration: none;
}

.section {
    padding: unset;
    max-width: 720px;
    background: #ffffff;
    margin: 0 auto;
}

body {
    background: #f5f5f5;
}

/**************************************** PRODUCT AREA *****************************************/

/*----------- HEADER SECTION ----------*/

.header-start {
    width: 100%;
    background: #FFFFFF;
}

.default-area {
    position: fixed;
    left: 0px;
    right: 0px;
    top: 0px;
    z-index: 10;
}

.header-logo {
    height: 64px;
}

.header-logo img {
    height: 50px;
    width: 50px;
    border-radius: 25px;
}

.header-category {
    height: 44px;
    white-space: nowrap;
    position: relative;
    width: 100%;
    overflow-x: scroll;
    overflow-y: hidden;
    white-space: nowrap;
    transition: all 0.2s;
    transform: scale(0.98);
    will-change: transform;
    user-select: none;
    cursor: pointer;
}

.header-category.active {
    cursor: grabbing;
    cursor: -webkit-grabbing;
}

::-webkit-scrollbar {
    height: 0;
    width: 0;
}

.header-category .category.selected, .header-category .category {
    width: max-content;
    height: 100%;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    padding: 12px 16px;
    position: static;
    left: 0px;
    top: 0px;
    order: 0;
    flex-grow: 0;
    margin: 0px 4px;
    display: inline-block;
    cursor: pointer;
}

.header-category .category.selected span {
    color: var(--color-primary);
    font-weight: bold;
}

.header-category .category span {
    font-family: 'Roboto', sans-serif;
    font-style: normal;
    font-size: 15px;
    line-height: 20px;
    align-items: center;
    text-align: center;
    letter-spacing: 0.28px;
    font-feature-settings: 'tnum'on, 'lnum'on;
    color: #757575;
}

/*----------- PRODUCTS SECTION ----------*/

.product-start .title {
    margin-bottom: 12px;
    margin-top: 8px;
    width: 328px;
}

.product-start .title span {
    height: 26px;
    font-family: 'Roboto', sans-serif;
    font-style: normal;
    font-weight: bold;
    font-size: 18px;
    line-height: 20px;
    display: flex;
    align-items: center;
    letter-spacing: 0.4px;
    font-feature-settings: 'tnum'on, 'lnum'on, 'cpsp'on;
    color: #757575;
}

.product-start .list {
    display: flex;
    flex-wrap: wrap;
    width: 328px;
}

.product-start .list .product {
    height: 136px;
    justify-content: center;
    display: flex;
    align-items: center;
    width: 328px;
    border: 1px solid #DDDDDD;
    box-sizing: border-box;
    border-radius: 8px;
    margin: 0 0 16px 0;
    position: relative;
}

.product-start .list img {
    height: 136px;
    width: 136px;
    border-radius: 8px 0px 0px 8px;
    z-index: -1;
    background-color: #ffffff;
    object-fit: cover;
}

.product-start .list .img-placeholder {
    border-radius: 8px 0px 0px 8px;
    z-index: -2;
    left: 0;
    position: absolute;
}

.product-start .list .product-header {
    width: 100%;
    height: 92px;
    margin-bottom: 4px;
}

.product-start .list .product-title span {
    width: 100%;
    height: max-content;
    right: 0px;
    font-family: 'Roboto', sans-serif;
    font-style: normal;
    font-weight: 500;
    font-size: 15px;
    line-height: 20px;
    letter-spacing: 0.28px;
    font-feature-settings: 'pnum'on, 'lnum'on;
    color: #757575;
}

.product-start .list .product-info {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    padding: 0px;
    position: static;
    width: 180px;
    height: 116px;
    order: 1;
    flex-grow: 0;
    margin: 8px;
}

.product-start .list .product-title {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    padding: 0px;
    position: static;
    width: 100%;
    height: max-content;
    word-wrap: break-word;
    overflow: hidden;
    text-overflow: ellipsis;
    display: -webkit-box;
    -webkit-line-clamp: 2;
    -webkit-box-orient: vertical;
    margin-bottom: 4px;
}

.product-start .list .product-weight {
    display: flex;
    width: 100%;
}

.product-start .list .product-weight div {
    width: max-content;
    height: 20px;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    padding: 0px 4px;
    background: #F7F7F7;
    border-radius: 4px;
    margin-right: 8px;
}

.product-start .list .product-weight img {
    height: 14px;
    width: 14px;
    margin-right: 2px;
}

.product-start .list .product-weight span {
    height: 20px;
    font-family: 'Roboto', sans-serif;
    font-style: normal;
    font-weight: normal;
    font-size: 12px;
    line-height: 20px;
    align-items: center;
    letter-spacing: 0.4px;
    font-feature-settings: 'tnum'on, 'lnum'on;
    color: #757575;
}

.product-start .list .product-description {
    width: 100%;
    height: 25px;
    word-wrap: break-word;
    overflow: hidden;
    text-overflow: ellipsis;
    display: -webkit-box;
    -webkit-line-clamp: 2;
    -webkit-box-orient: vertical;
    line-height: 12px;
    margin-top: 4px;
}

.product-start .list .product-description p {
    height: 24px;
    font-family: 'Roboto';
    font-style: normal;
    font-weight: 400;
    font-size: 10px;
    line-height: 12px;
    color: #757575;
    overflow: hidden;
}

.product-start .list .product-value {
    display: flex;
    flex-direction: row;
    align-items: center;
    position: static;
    width: 100%;
    height: 20px;
    order: 1;
    flex-grow: 0;
}

.product-start .list .product-value .value-final {
    font-family: 'Roboto', sans-serif;
    font-style: normal;
    font-weight: normal;
    font-size: 15px;
    line-height: 20px;
    display: flex;
    align-items: flex-end;
    text-align: center;
    letter-spacing: 0.4px;
    font-feature-settings: 'tnum'on, 'lnum'on;
    color: #757575;
    margin-right: 8px;
}

.product-start .list .product-value .old-value {
    font-family: 'Roboto', sans-serif;
    font-style: normal;
    font-weight: normal;
    font-size: 12px;
    line-height: 20px;
    text-align: right;
    letter-spacing: 0.4px;
    text-decoration-line: line-through;
    font-feature-settings: 'tnum'on, 'lnum'on;
    color: rgba(117, 117, 117, 0.5);
}

.product-area .search-area .title {
    display: flex;
}

.product-area .search-area .seemore-area {
    display: flex;
    flex-direction: row;
    justify-content: flex-end;
    align-items: center;
    width: 86px;
    height: 32px;
    position: absolute;
    right: 0;
    cursor: pointer;
}

.product-area .search-area .seemore-area span {
    height: 32px;
    font-family: 'Roboto', sans-serif;
    font-style: normal;
    font-weight: normal;
    font-size: 12px;
    line-height: 20px;
    display: flex;
    align-items: center;
    text-align: right;
    letter-spacing: 0.4px;
    font-feature-settings: 'tnum'on, 'lnum'on;
    color: var(--color-primary);
    margin: 0px 4px;
}

.product-area .search-area .header-category {
    margin-bottom: 11px;
    height: 49px;
    width: 328px;
}

.product-area .search-area .header-category .category {
    flex-direction: row;
    justify-content: center;
    align-items: center;
    padding: 12px 16px;
    min-width: max-content;
    height: 44px;
    background: #F7F7F7;
    border-radius: 8px;
    text-align: center;
}

.product-area .search-area .header-category .category span {
    height: 20px;
    font-family: 'Roboto', sans-serif;
    font-style: normal;
    font-weight: normal;
    font-size: 15px;
    line-height: 20px;
    align-items: center;
    text-align: center;
    letter-spacing: 0.4px;
    font-feature-settings: 'tnum'on, 'lnum'on;
    color: #757575;
}

.product-area .search-area .header-category .category.selected span {
    color: var(--color-primary);
}

.product-area .search-area .title span {
    height: 32px;
}

.product-start .list {
    padding-bottom: 120px;
}

/*---------- BOTTOM BAR SECTION ----------*/

.bottom-bar {
    position: fixed;
    height: 60px;
    width: 100%;
    left: 0px;
    right: 0px;
    bottom: 0px;
    display: flex;
    background: #FFFFFF;
    border-top: 0.5px solid #DDDDDD;
    z-index: 2000;
    justify-content: center;
}

.bottom-bar .option {
    height: 100%;
    width: 33.33%;
    margin: 0 12px 0 12px;
    text-align: center;
    display: flex;
    align-items: center;
    justify-content: center;
}

.bottom-bar .option span {
    width: max-content;
    margin-top: 4px;
    font-family: 'Roboto', sans-serif;
    font-style: normal;
    font-weight: 500;
    font-size: 12px;
    line-height: 20px;
    display: flex;
    align-items: center;
    text-align: center;
    letter-spacing: 0.4px;
    font-feature-settings: 'tnum'on, 'lnum'on;
    color: #757575;
    margin: 0 auto;
    visibility: hidden;
    opacity: 0;
    transition: visibility 0s, opacity 0.15s linear;
    height: 0;
}

.bottom-bar .selected span {
    color: var(--color-primary);
}

.bottom-bar .item-disabled * {
    fill: #757575 !important;
}

.bottom-bar>.option.selected span {
    visibility: visible;
    opacity: 1;
    height: unset;
}

/*----------- HEADER WITH BACK BUTTON ----------*/

.header {
    position: fixed;
    height: 64px;
    width: 100%;
    background: #FFFFFF;
    border-bottom: 1px solid #DDDDDD;
    top: 0;
    left: 0;
    z-index: 2000;
}

.header .back-arrow {
    position: absolute;
    width: 48px;
    left: 0px;
    top: 0px;
    bottom: 0px;
}

.header .logo {
    height: 50px;
    width: 50px;
    border-radius: 25px;
}

/*----------- GLOBAL SECTION ----------*/

.center-rel {
    position: relative;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

.center-rel-hor {
    position: relative;
    top: 0%;
    left: 50%;
    transform: translate(-50%, 0%);
}

.center-rel-ver {
    position: relative;
    top: 50%;
    left: 0%;
    transform: translate(0%, -50%);
}

.center-abs {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

.center-abs-hor {
    position: absolute;
    top: 0%;
    left: 50%;
    transform: translate(-50%, 0%);
}

.center-abs-ver {
    position: absolute;
    top: 50%;
    left: 0%;
    transform: translate(0%, -50%);
}

.center-fix {
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

.center-fix-hor {
    position: fixed;
    top: 0%;
    left: 50%;
    transform: translate(-50%, 0%);
}

.center-fix-ver {
    position: fixed;
    top: 50%;
    left: 0%;
    transform: translate(0%, -50%);
}

/***********************************************************************************************/

/**************************************** SEARCH AREA ******************************************/

.search-start {
    padding-top: 24px;
}

.search-area .header-logo {
    border-bottom: 1px solid #DDDDDD;
}

.search-area .search {
    display: flex;
    flex-direction: row;
    align-items: center;
    width: 328px;
    height: 48px;
    background: #FFFFFF;
    border: 1px solid #DDDDDD;
    box-sizing: border-box;
    border-radius: 8px;
}

.search-area .search svg {
    margin: 12px 20px;
}

.search-area .search input[type="text"] {
    position: static;
    width: 262px;
    height: 20px;
    font-family: 'Roboto', sans-serif;
    font-style: normal;
    font-weight: normal;
    font-size: 15px;
    line-height: 20px;
    display: flex;
    align-items: center;
    letter-spacing: 0.4px;
    font-feature-settings: 'tnum'on, 'lnum'on;
    color: #757575;
    order: 1;
    border: none;
    border-color: transparent;
    margin: 14px 0;
}

/*.search-area .search input[type="text"]:focus {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
}*/

.search-area .product-start .title {
    margin: 16px 0px;
}

.search-area .product-start .list .category {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 4px;
    width: 156px;
    height: 56px;
    background: var(--color-primary-category);
    border-radius: 8px;
    margin: 0 0 16px 0;
}

.search-area .product-start .list .category:nth-child(odd) {
    margin: 0 16px 16px 0;
}

.search-area .product-start .list .category span {
    position: static;
    font-family: 'Roboto', sans-serif;
    font-style: normal;
    font-weight: normal;
    font-size: 15px;
    line-height: 20px;
    display: flex;
    align-items: center;
    text-align: center;
    letter-spacing: 0.4px;
    font-feature-settings: 'tnum'on, 'lnum'on;
    color: var(--color-primary);
    order: 0;
    align-self: stretch;
    margin: 0 auto;
}

.search-area-second .header-logo {
    height: 64px;
    border-bottom: 0.5px solid #DDDDDD;
    display: flex;
}

.search-area-second .header-logo .icon-search {
    width: 24px;
    height: 24px;
    margin-left: 12px;
    margin-right: 19px;
    margin-top: -1px;
}

.search-area-second .header-logo .icon-search-close {
    width: 20px;
    height: 20px;
    float: right;
    margin-right: 15.09px;
}

.search-area-second .header-logo input[type="text"] {
    width: calc(100% - 80px);
    height: 20px;
    font-family: 'Roboto', sans-serif;
    font-style: normal;
    font-weight: normal;
    font-size: 15px;
    line-height: 20px;
    display: flex;
    align-items: center;
    letter-spacing: 0.4px;
    font-feature-settings: 'tnum'on, 'lnum'on;
    color: #757575;
    order: 1;
    border: none;
    border-color: transparent;
    margin: 0;
}

.search-area-second .header-logo div {
    display: flex;
    margin-top: 22px;
    width: 100%;
}

.no-result {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    height: 60px;
}

.no-result span:nth-child(1) {
    position: static;
    width: 328px;
    height: 32px;
    left: calc(50% - 328px/2);
    top: 0px;
    font-family: 'Roboto', sans-serif;
    font-style: normal;
    font-weight: bold;
    font-size: 30px;
    line-height: 32px;
    display: flex;
    align-items: center;
    letter-spacing: 0.4px;
    color: #F7B3BF;
    order: 0;
    align-self: stretch;
    flex-grow: 0;
    margin: 8px 0px;
}

.no-result span:nth-child(2) {
    position: static;
    width: 328px;
    height: 20px;
    left: calc(50% - 328px/2);
    top: 40px;
    font-family: 'Roboto', sans-serif;
    font-style: normal;
    font-weight: 900;
    font-size: 18px;
    line-height: 20px;
    display: flex;
    align-items: center;
    letter-spacing: 0.4px;
    font-feature-settings: 'tnum'on, 'lnum'on, 'cpsp'on;
    color: #757575;
    order: 1;
    align-self: stretch;
    flex-grow: 0;
    margin: 8px 0px;
}

/********** PRODUCT SECTION **********/

.product-section, .cart-section {
    width: 100%;
    background: #FFFFFF;
    max-width: 720px;
    margin: 0 auto;
}

.product-section .main-area {
    width: 100%;
    padding-bottom: 120px;
    padding-top: 64px;
}

.product-section .image {
    width: 100%;
    max-width: 600px;
    height: 360px;
}

.product-section .image img {
    height: 100%;
    width: 100%;
    object-fit: cover;
}

.product-section .info {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: flex-start;
    padding: 0px;
    width: 100%;
    border-radius: 8px;
    order: 1;
    flex-grow: 0;
    margin-bottom: 40px;
    margin-top: 21px;
    padding: 0px 16px 0px 16px;
}

.product-section .description {
    flex-direction: column;
    justify-content: center;
    align-items: flex-start;
    position: static;
    width: 360px;
    border-radius: 8px;
}

.product-section .description span {
    position: static;
    width: 360px;
    height: max-content;
    right: 0px;
    top: 0px;
    font-family: 'Roboto', sans-serif;
    font-style: normal;
    font-weight: normal;
    font-size: 15px;
    line-height: 131%;
    letter-spacing: 0.023em;
    color: #757575;
    order: 0;
    align-self: stretch;
    flex-grow: 0;
    margin: 4px 0px;
}

.product-section .title span {
    position: static;
    width: 328px;
    right: 0px;
    top: 0px;
    bottom: 28px;
    font-family: 'Roboto', sans-serif;
    font-style: normal;
    font-weight: bold;
    font-size: 18px;
    line-height: 20px;
    letter-spacing: 0.4px;
    font-feature-settings: 'tnum'on, 'lnum'on, 'cpsp'on;
    color: #757575;
    order: 0;
    align-self: stretch;
    flex-grow: 0;
    margin: 8px 0px;
}

.product-section .title .subdescription {
    display: flex;
    flex-direction: row;
    align-items: center;
    padding: 0px;
    position: static;
    width: 328px;
    left: 0px;
    top: 48px;
    order: 1;
    flex-grow: 0;
}

.product-section .title .subdescription span {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    padding: 0px 4px;
    position: static;
    background: #F7F7F7;
    border-radius: 4px;
    position: static;
    height: 20px;
    width: max-content;
    font-family: 'Roboto', sans-serif;
    font-style: normal;
    font-weight: normal;
    font-size: 12px;
    line-height: 20px;
    align-items: center;
    letter-spacing: 0.4px;
    font-feature-settings: 'tnum'on, 'lnum'on;
    color: #757575;
    margin-right: 4px;
}

.product-section .remove-ingredients {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    padding: 16px;
    position: static;
    width: 100%;
    height: 76px;
    left: 0px;
    top: 0px;
    background: #F7F7F7;
    order: 0;
    align-self: stretch;
    flex-grow: 0;
}

.product-section .remove-ingredients .title {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: flex-start;
    padding: 0px;
    position: static;
    width: 300px;
    height: 44px;
    left: 16px;
    top: 16px;
    order: 0;
    flex-grow: 1;
    margin: 0px 4px;
}

.product-section .remove-ingredients .title span:nth-child(1) {
    position: static;
    width: 300px;
    height: 20px;
    left: 0px;
    top: 0px;
    font-family: 'Roboto', sans-serif;
    font-style: normal;
    font-weight: bold;
    font-size: 15px;
    line-height: 20px;
    display: flex;
    align-items: center;
    letter-spacing: 0.28px;
    font-feature-settings: 'tnum'on, 'lnum'on;
    color: #6D6D6D;
    order: 0;
    align-self: stretch;
    flex-grow: 0;
    margin: 4px 0px;
}

.product-section .remove-ingredients .title span:nth-child(2) {
    position: static;
    width: 300px;
    height: 20px;
    left: 0px;
    top: 24px;
    font-family: 'Roboto', sans-serif;
    font-style: normal;
    font-weight: normal;
    font-size: 12px;
    line-height: 20px;
    display: flex;
    align-items: center;
    letter-spacing: 0.4px;
    font-feature-settings: 'tnum'on, 'lnum'on;
    color: #828282;
    order: 1;
    align-self: stretch;
    flex-grow: 0;
    margin: 4px 0px;
}

.product-section .remove-ingredients svg {
    position: static;
    width: 24px;
    height: 24px;
    right: 16px;
    top: 26px;
    order: 1;
    flex-grow: 0;
    margin: 0px 4px;
}

.product-section .ingredientes.closed {
    height: 76px;
    overflow: hidden;
}

.product-section .chooses {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    padding: 0px;
    position: static;
    width: 100%;
    left: 0px;
    top: 84px;
    order: 1;
    flex-grow: 0;
    margin: 8px 0px;
}

.product-section .chooses .title-adicionais {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    padding: 16px;
    position: static;
    width: 100%;
    height: 76px;
    left: 0px;
    top: 0px;
    background: #F7F7F7;
    order: 0;
    flex-grow: 0;
    margin: 8px 0px;
}

.product-section .chooses .title-description {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: flex-start;
    padding: 0px;
    position: static;
    width: 328px;
    height: 44px;
    left: 16px;
    top: 16px;
    order: 0;
    flex-grow: 1;
    margin: 0px 4px;
}

.product-section .chooses .title-description span:nth-child(1) {
    position: static;
    width: 328px;
    height: 20px;
    left: 0px;
    top: 0px;
    font-family: 'Roboto', sans-serif;
    font-style: normal;
    font-weight: bold;
    font-size: 15px;
    line-height: 20px;
    display: flex;
    align-items: center;
    letter-spacing: 0.28px;
    font-feature-settings: 'tnum'on, 'lnum'on;
    color: #6D6D6D;
    order: 0;
    align-self: stretch;
    flex-grow: 0;
    margin: 4px 0px;
}

.product-section .chooses .title-description span:nth-child(2) {
    position: static;
    width: 328px;
    height: 20px;
    left: 0px;
    top: 24px;
    font-family: 'Roboto', sans-serif;
    font-style: normal;
    font-weight: normal;
    font-size: 12px;
    line-height: 20px;
    display: flex;
    align-items: center;
    letter-spacing: 0.4px;
    font-feature-settings: 'tnum'on, 'lnum'on;
    color: #828282;
    order: 1;
    align-self: stretch;
    flex-grow: 0;
    margin: 4px 0px;
}

.product-section .chooses .itens {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    padding: 0px;
    position: static;
    width: 100%;
    left: 0px;
    top: 84px;
    order: 1;
    flex-grow: 0;
    margin-bottom: 8px;
}

.product-section .chooses .itens .item-container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 0px;
    position: static;
    width: 100%;
    height: 76px;
    left: 0px;
    top: 176px;
    order: 2;
    flex-grow: 0;
    margin-bottom: 12px;
    border-bottom: 0.5px solid #DDDDDD;
}

.product-section .chooses .itens .item-container .title-choose {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    padding: 8px 16px;
    position: static;
    width: 100%;
    height: 64px;
    left: 0px;
    top: 0px;
    order: 0;
    align-self: stretch;
    flex-grow: 0;
    margin-bottom: 12px;
}

.product-section .chooses .itens .item-container .title-choose .info {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: flex-start;
    padding: 0px;
    position: static;
    height: 48px;
    width: max-content;
    left: 16px;
    top: 8px;
    order: 0;
    align-self: stretch;
    flex-grow: 1;
    margin: 0px 0px;
}

.product-section .chooses .itens .item-container .title-choose .info span {
    position: static;
    height: 20px;
    width: 216px;
    left: 0px;
    top: 14px;
    font-family: 'Roboto', sans-serif;
    font-style: normal;
    font-weight: normal;
    font-size: 15px;
    line-height: 20px;
    display: flex;
    align-items: center;
    letter-spacing: 0.4px;
    font-feature-settings: 'tnum'on, 'lnum'on;
    color: #585858;
    order: 0;
    align-self: stretch;
    flex-grow: 0;
    margin: 4px 0px;
}

.product-section .chooses .itens .item-container .title-choose .info div {
    display: inline-flex;
}

.product-section .chooses .itens .item-container .title-choose .info div span {
    position: static;
    width: max-content;
    height: 20px;
    left: 0px;
    top: 26px;
    font-family: 'Roboto', sans-serif;
    font-style: normal;
    font-weight: normal;
    font-size: 12px;
    line-height: 20px;
    display: flex;
    align-items: center;
    letter-spacing: 0.4px;
    font-feature-settings: 'tnum'on, 'lnum'on;
    color: #757575;
    order: 1;
    align-self: stretch;
    flex-grow: 0;
    margin: 4px 0px;
}

.product-section .chooses .itens .item-container .title-choose input[type="radio"] {
    width: 24px;
    height: 24px;
    opacity: 0.5;
}

.product-section .note {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    padding: 0px;
    width: 100%;
    height: 184px;
    margin-top: 20px;
    border-radius: 4px;
    padding: 0px 16px 0px 16px;
}

.product-section .note-text {
    position: static;
    height: 20px;
    left: 0px;
    top: 0px;
    font-family: 'Roboto', sans-serif;
    font-style: normal;
    font-weight: normal;
    font-size: 15px;
    line-height: 20px;
    letter-spacing: 0.4px;
    font-feature-settings: 'tnum'on, 'lnum'on;
    color: #757575;
    order: 0;
    align-self: stretch;
    flex-grow: 0;
    margin: 4px 0px;
}

.product-section textarea {
    display: flex;
    flex-direction: column;
    align-items: flex-end;
    padding: 0px;
    position: static;
    height: 160px;
    left: 0px;
    top: 24px;
    background: #FFFFFF;
    border: 1px solid #DDDDDD;
    box-sizing: border-box;
    border-radius: 4px;
    order: 1;
    align-self: stretch;
    flex-grow: 0;
    margin: 4px 0px;
    padding: 4px 8px;
    font-family: 'Roboto', sans-serif;
    font-style: normal;
    font-weight: normal;
    font-size: 15px;
    line-height: 131%;
    letter-spacing: 0.023em;
    color: #757575;
}

.product-section .bottom-options {
    position: fixed;
    height: 80px;
    width: 100%;
    background: #FFFFFF;
    bottom: 0%;
    left: 0%;
    z-index: 10;
    border-top: 1px solid #DDDDDD;
}

.elegant {
    display: flex;
    align-items: center;
}

.elegant div {
    height: 40px;
    width: 42px;
    display: flex;
    align-items: center;
    justify-content: center;
}

.elegant div:nth-child(2) {
    width: 40px;
}

.elegant div:nth-child(2) span {
    font-family: "Roboto";
    font-style: normal;
    font-weight: 500;
    font-size: 15px;
    line-height: 20px;
    display: flex;
    align-items: center;
    text-align: center;
    letter-spacing: 0.28px;
    color: #585858;
}

.bottom-options .elegant {
    margin-top: 16px;
    margin-left: 8px;
    height: 48px;
}

.product-section .confirm {
    position: absolute;
    right: 0%;
    top: 0%;
    width: 192px;
    height: 48px;
    display: inline-flex;
    flex-direction: row;
    padding: 10px 8px;
    background: #CCCCCC;
    border-radius: 4px;
    margin-right: 8px;
    margin-top: 16px;
    align-items: center;
}

.product-section .confirm-enabled {
    background: var(--color-primary);
}

.product-section .confirm-disabled {
    background: var(--color-primary);
}

.product-section .confirm span {
    width: 68px;
    font-family: 'Roboto', sans-serif;
    font-style: normal;
    font-weight: bold;
    font-size: 15px;
    line-height: 20px;
    display: flex;
    align-items: center;
    letter-spacing: 0.28px;
    font-feature-settings: 'tnum'on, 'lnum'on;
    color: #FFFFFF;
    order: 0;
    flex-grow: 0;
}

.product-section .confirm div {
    display: inline-flex;
    position: absolute;
    right: 8px;
}

.product-section .confirm div span {
    font-family: 'Roboto', sans-serif;
    font-style: normal;
    font-weight: bold;
    font-size: 15px;
    line-height: 20px;
    letter-spacing: 0.28px;
    font-feature-settings: 'tnum'on, 'lnum'on;
    color: #FFFFFF;
    order: 0;
    width: max-content;
}

.product-section .confirm div span:nth-child(1) {
    margin-right: 3px;
}

/*********** BILL SECTION **********/

.no-bill {
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 328px;
    height: 224px;
}

.bill-area {
    height: 100%;
}

.no-bill div {
    flex-direction: column;
    width: 328px;
    height: 44px;
    order: 1;
    flex-grow: 0;
    text-align: center;
    margin-top: 32px;
}

.no-bill div .first {
    width: 328px;
    height: 20px;
    font-family: 'Roboto', sans-serif;
    font-style: normal;
    font-weight: bold;
    font-size: 18px;
    line-height: 20px;
    letter-spacing: 0.4px;
    font-feature-settings: 'tnum'on, 'lnum'on, 'cpsp'on;
    color: #757575;
}

.no-bill div .second {
    width: 328px;
    height: 20px;
    font-family: 'Roboto', sans-serif;
    font-style: normal;
    font-weight: normal;
    font-size: 12px;
    line-height: 20px;
    letter-spacing: 0.4px;
    font-feature-settings: 'tnum'on, 'lnum'on;
    color: #757575;
    order: 1;
    flex-grow: 0;
    margin-top: 4px;
}

.bill {
    width: 328px;
    padding-bottom: 175px;
    padding-top: 88px;
}

.bill .bill-title {
    margin-bottom: 24px;
}

.bill .bill-title span {
    height: 32px;
    font-family: 'Roboto', sans-serif;
    font-style: normal;
    font-weight: bold;
    font-size: 30px;
    line-height: 32px;
    letter-spacing: 0.4px;
    color: #585858;
}

.bill .sub-title {
    margin-bottom: 16px;
    align-items: center;
}

.bill .sub-title span {
    font-family: 'Roboto', sans-serif;
    font-style: normal;
    font-weight: bold;
    font-size: 18px;
    line-height: 20px;
    color: #585858;
}

.bill .order-bill {
    position: relative;
}

.bill .order-bill div {
    display: flex;
    align-items: center;
    margin-bottom: 16px;
}

.bill .order-bill span {
    font-family: 'Roboto', sans-serif;
    font-style: normal;
    font-weight: normal;
    font-size: 15px;
    line-height: 20px;
    color: #585858;
}

.bill .order-bill div span:nth-child(2) {
    position: absolute;
    right: 0;
    left: unset;
    top: unset;
}

.bill .order-bill div:last-child span {
    font-family: 'Roboto', sans-serif;
    font-style: normal;
    font-weight: 900;
    font-size: 18px;
    line-height: 20px;
    color: #585858;
}

.bill .order-bill div span.free-shipping {
    font-style: normal;
    font-weight: normal;
    font-size: 15px;
    line-height: 20px;
    letter-spacing: 0.4px;
    color: #25A65B;
}

.bill .buttons {
    display: flex;
    align-items: center;
    position: absolute;
    bottom: 0;
}

.bill .buttons .value-area {
    height: 40px;
    width: 86px;
    text-align: center;
    align-items: center;
    justify-content: center;
    display: flex;
}

.bill .value {
    width: 100%;
    height: 40px;
    background: #F7F7F7;
    border-radius: 8px;
    padding: 10px 8px 8px 8px;
}

.bill .value span {
    height: 24px;
    font-family: 'Roboto', sans-serif;
    font-style: normal;
    font-weight: 900;
    font-size: 18px;
    line-height: 20px;
    letter-spacing: 0.4px;
    font-feature-settings: 'tnum'on, 'lnum'on, 'cpsp'on;
    color: #585858;
}

.bill .value span:nth-child(2) {
    float: right;
    margin: 0;
}

.bill .value-area span:nth-child(1) {
    margin-right: 2px;
}

.bill .value-area span {
    height: 20px;
    font-family: 'Roboto', sans-serif;
    font-style: normal;
    font-weight: bold;
    font-size: 15px;
    line-height: 20px;
    text-align: center;
    letter-spacing: 0.28px;
    font-feature-settings: 'tnum'on, 'lnum'on;
    color: #757575;
}

.item-pedido .pedido-extra {
    padding: 8px;
    border-top: 0.5px solid #DDDDDD;
}

.item-pedido .pedido-extra:not(.observacao) {
    display: grid;
}

.item-pedido .pedido-extra .title {
    height: 14px;
    font-family: 'Roboto', sans-serif;
    font-style: normal;
    font-weight: bold;
    font-size: 12px;
    line-height: 20px;
    display: flex;
    align-items: center;
    letter-spacing: 0.4px;
    font-feature-settings: 'tnum'on, 'lnum'on;
    color: #757575;
    align-self: stretch;
    flex-grow: 0;
    margin-bottom: 4px;
}

.item-pedido .pedido-extra span:not(.title) {
    height: 20px;
    font-family: 'Roboto', sans-serif;
    font-style: normal;
    font-weight: normal;
    font-size: 12px;
    line-height: 20px;
    letter-spacing: 0.4px;
    font-feature-settings: 'tnum'on, 'lnum'on;
    color: #757575;
}

/*********** FLOATING BUTTON ***********/

.floating-button {
    position: fixed;
    width: 328px;
    height: 44px;
    left: calc(50% - 328px/2);
    bottom: 68px;
    background: var(--color-primary);
    border-radius: 8px;
}

.floating-button span {
    position: absolute;
    width: 196px;
    height: 20px;
    left: 16px;
    top: 12px;
    font-family: 'Roboto', sans-serif;
    font-style: normal;
    font-weight: bold;
    font-size: 15px;
    line-height: 20px;
    letter-spacing: 0.28px;
    font-feature-settings: 'tnum'on, 'lnum'on;
    color: #FFFFFF;
}

.floating-button div {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    padding: 4px;
    position: absolute;
    height: 28px;
    left: 284px;
    top: 8px;
    background: #FFFFFF;
    border-radius: 64px;
}

.floating-button div span {
    position: static;
    min-width: 20px;
    width: unset;
    height: 20px;
    left: 4px;
    top: 4px;
    font-family: 'Roboto', sans-serif;
    font-style: normal;
    font-weight: normal;
    font-size: 15px;
    line-height: 20px;
    text-align: center;
    letter-spacing: 0.4px;
    font-feature-settings: 'tnum'on, 'lnum'on;
    color: var(--color-primary);
    order: 0;
    flex-grow: 0;
    margin: 0px 0px;
}

.hide {
    display: none;
}

/********** CUSTOM RADIO BUTTON **********/

.custom-radio:checked, .custom-radio:not(:checked) {
    position: absolute;
    left: -9999px;
}

.custom-radio:checked+label, .custom-radio:not(:checked)+label {
    position: relative;
    padding-left: 28px;
    padding-bottom: 14px;
    cursor: pointer;
    line-height: 20px;
    display: inline-block;
    color: #666;
}

.custom-radio:checked+label:before, .custom-radio:not(:checked)+label:before {
    content: '';
    position: absolute;
    left: 0;
    top: 0;
    width: 24px;
    height: 24px;
    border: 1px solid #ddd;
    border-radius: 100%;
    background: #fff;
    border: 2px solid var(--color-primary-radio);
}

.custom-radio:checked+label:after, .custom-radio:not(:checked)+label:after {
    content: '';
    width: 24px;
    height: 24px;
    left: 0;
    top: 0;
    background: #FFF;
    position: absolute;
    border-radius: 100%;
    /*-webkit-transition: all 0.2s ease;
    transition: all 0.2s ease;*/
    border: 6px solid var(--color-primary);
}

.custom-radio:not(:checked)+label:after {
    opacity: 0;
    /*-webkit-transform: scale(0);
    transform: scale(0);*/
}

.custom-radio:checked+label:after {
    opacity: 1;
    animation-name: radio-custom;
    animation-duration: 0.10s;
}

.elegant div:not(:nth-child(2)):not(.disabled):active {
    animation-name: signal-custom;
    animation-duration: 1s;
}

@keyframes radio-custom {
    0% {
        background: var(--color-primary-effects);
        border: 10px solid var(--color-primary-effects);
    }

    20% {
        border: 20px solid var(--color-primary-effects);
    }

    40% {
        margin-top: -17.5px;
        margin-left: -17.5px;
        border: 30px solid var(--color-primary-effects);
    }

    60% {
        margin-top: -17.5px;
        margin-left: -17.5px;
        border: 30px solid var(--color-primary-effects);
    }

    80% {
        border: 20px solid var(--color-primary-effects);
    }

    100% {
        border: 10px solid var(--color-primary-effects);
    }
}

@keyframes signal-custom {
    0% {
        background: var(--color-primary-effects);
        border-radius: 50px;
    }

    25% {
        background: var(--color-primary-effects);
        border-radius: 50px;
    }

    50% {
        background: var(--color-primary-effects);
        border-radius: 50px;
    }

    100% {
        background: var(--color-primary-effects);
        border-radius: 50px;
    }
}

.item-disabled *, .item-disabled-all * {
    fill: #CCCCCC;
}

svg {
    vertical-align: middle;
}

svg:not(.not-wl):not(.item-disabled):not(.item-disabled-all):not(.datepicker-modal *):not(.timepicker-container *) * {
    fill: var(--color-primary);
}

svg.item-disabled *, svg.item-disabled-all * {
    fill: #CCCCCC;
}

/********* CUSTOM ALERT **********/

.custom-alert {
    position: fixed;
    top: 10%;
    left: 50%;
    transform: translate(-50%, 0%);
    z-index: 1000;
    text-align: center;
    transition: max-height 1s ease-in-out;
    max-width: 360px;
    width: 80%;
}

/********** QR CODE **********/

#r-options .leitura-iniciada {
    height: 20px;
    font-family: 'Roboto', sans-serif;
    font-style: normal;
    font-weight: normal;
    font-size: 12px;
    line-height: 20px;
    display: flex;
    align-items: center;
    letter-spacing: 0.4px;
    font-feature-settings: 'tnum'on, 'lnum'on;
    color: #757575;
    padding: 0 12px;
    margin: 8px;
}

#r-options .alterar-camera {
    position: absolute;
    right: 0px;
    height: 20px;
    padding: 0 12px;
    margin: 8px;
    font-family: 'Roboto', sans-serif;
    font-style: normal;
    font-weight: normal;
    font-size: 12px;
    line-height: 20px;
    align-items: center;
    text-align: center;
    letter-spacing: 0.4px;
    font-feature-settings: 'tnum'on, 'lnum'on;
    color: var(--color-primary);
    cursor: pointer;
}

#r-options {
    height: 46px;
    width: 100%;
    display: flex;
}

#r-options svg {
    position: absolute;
    top: 0;
    right: 0;
    margin: 13px 13px 0 0;
}

/********* QR ALERT *********/

.bottom-modal-fade {
    position: absolute;
    background: rgba(0, 0, 0, 0.5);
    width: 100%;
    height: 100%;
    z-index: 999;
    left: 0;
    top: 0;
    display: none;
}

.bottom-modal {
    position: fixed;
    height: 0;
    width: 100%;
    border-radius: 16px 16px 0px 0px;
    background: #FFFFFF;
    bottom: 0;
    left: 0;
    z-index: 1000;
}

#bottom-modal svg:nth-child(1) {
    display: flex;
    height: 32px;
}

#bottom-modal-area {
    width: 328px;
    height: 100%;
}

#bottom-modal-title {
    height: 24px;
    font-family: 'Roboto', sans-serif;
    font-style: normal;
    font-weight: 500;
    font-size: 15px;
    line-height: 20px;
    align-items: center;
    letter-spacing: 0.28px;
    color: #585858;
    margin-bottom: 8px;
}

.bottom-modal-fields {
    display: flex;
    align-items: center;
    width: 100%;
    height: 48px;
    margin-bottom: 16px;
    position: relative;
}

.bottom-modal-fields div p:nth-child(1) {
    height: 20px;
    font-family: 'Roboto', sans-serif;
    font-style: normal;
    font-weight: 500;
    font-size: 15px;
    line-height: 20px;
    letter-spacing: 0.28px;
    color: #585858;
}

.bottom-modal-fields div p:nth-child(2) {
    height: 20px;
    font-family: 'Roboto', sans-serif;
    font-style: normal;
    font-weight: normal;
    font-size: 12px;
    line-height: 20px;
    letter-spacing: 0.4px;
    color: #585858;
}

.bottom-modal-fields input {
    justify-content: center;
    align-items: center;
    padding: 14px;
    width: 96px;
    height: 48px;
    background: #FFFFFF;
    border: 1px solid #DDDDDD;
    box-sizing: border-box;
    border-radius: 8px;
    font-family: 'Roboto', sans-serif;
    font-style: normal;
    font-weight: normal;
    font-size: 15px;
    line-height: 20px;
    letter-spacing: 0.4px;
    color: #585858;
    position: absolute;
    right: 0;
    text-align: center;
}

.bottom-modal-fields input.error {
    border: 1px solid #B00020;
}

.bottom-modal-fields input[disabled] {
    background: #F7F7F7;
    border: 1px solid #F7F7F7;
}

#bottom-modal-topbutton {
    width: 100%;
    height: 24px;
    text-align: center;
    font-family: 'Roboto', sans-serif;
    font-style: normal;
    font-weight: normal;
    font-size: 15px;
    line-height: 20px;
    letter-spacing: 0.4px;
    color: var(--color-primary);
    margin-top: 28px;
    transition: 0.15s;
}

#bottom-modal-topbutton.change {
    color: #585858;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 36px;
    background: #F7F7F7;
    border-radius: 8px;
    margin-top: 24px;
}

#bottom-modal-topbutton.change.error {
    font-size: 12px;
    font-style: normal;
    font-weight: 500;
    color: #B00020;
}

#bottom-modal-button {
    font-family: 'Roboto', sans-serif;
    font-style: normal;
    font-weight: bold;
    font-size: 15px;
    line-height: 20px;
    align-items: center;
    text-align: center;
    letter-spacing: 0.28px;
    color: #FFFFFF;
    width: 328px;
    height: 48px;
    background: var(--color-primary);
    border-radius: 4px;
    justify-content: center;
    position: absolute;
    bottom: -48px;
    display: flex;
}

/********** Lista Final Bill **********/

.list-bill {
    width: 328px;
    padding-top: 24px;
}

.list-bill-all {
    display: flex;
    flex-direction: row;
    align-items: center;
    padding: 0px;
    width: 328px;
    height: 93px;
    background: #FFFFFF;
    border: 1px solid #DDDDDD;
    box-sizing: border-box;
    border-radius: 8px;
    margin-bottom: 10px;
}

.list-bill-data {
    width: 132px;
    height: 93px;
    font-family: 'Roboto', sans-serif;
    font-style: normal;
    font-weight: bold;
    font-size: 16px;
    line-height: 19px;
    display: flex;
    align-items: center;
    text-align: center;
    font-feature-settings: 'lnum'on;
    color: #585858;
    display: block;
    padding-top: 28px;
}

.list-bill-data .date {
    font-family: 'Roboto', sans-serif;
    font-style: normal;
    font-weight: bold;
    font-size: 16px;
    line-height: 19px;
    align-items: center;
    text-align: center;
    font-feature-settings: 'lnum'on;
    color: #585858;
}

.list-bill-data .time {
    font-family: 'Roboto', sans-serif;
    font-style: normal;
    font-weight: normal;
    font-size: 14px;
    line-height: 16px;
    align-items: center;
    text-align: center;
    font-feature-settings: 'lnum'on;
    color: #585858;
}

.list-bill-details {
    flex-direction: column;
    align-items: flex-start;
    position: static;
    width: 180px;
    height: 74px;
    order: 1;
    flex-grow: 0;
    margin: 9.5px 8px;
}

.list-bill-details .status span {
    height: 20px;
    font-family: 'Roboto', sans-serif;
    font-style: normal;
    font-weight: normal;
    font-size: 12px;
    line-height: 20px;
    align-items: center;
    letter-spacing: 0.4px;
    font-feature-settings: 'tnum'on, 'lnum'on;
    color: #25A65B;
}

.list-bill-details .details {
    width: 180px;
    height: 32px;
    word-wrap: break-word;
    overflow: hidden;
    text-overflow: ellipsis;
    display: -webkit-box;
    -webkit-line-clamp: 2;
    -webkit-box-orient: vertical;
    line-height: 12px;
}

.list-bill-details .details span {
    font-family: 'Roboto', sans-serif;
    font-style: normal;
    font-weight: normal;
    font-size: 10px;
    font-feature-settings: 'tnum'on, 'lnum'on, 'liga'off;
    color: #757575;
    order: 0;
    align-self: stretch;
}

.list-bill-details .value-final {
    font-family: 'Roboto', sans-serif;
    font-style: normal;
    font-weight: normal;
    font-size: 15px;
    line-height: 20px;
    align-items: center;
    letter-spacing: 0.4px;
    font-feature-settings: 'tnum'on, 'lnum'on;
    margin-top: 4px;
    color: #757575;
}

/*Final Bill*/

.final-bill #quantity-value {
    font-family: "Roboto";
    font-style: normal;
    font-weight: normal;
    font-size: 15px;
    line-height: 20px;
    display: flex;
    align-items: center;
    text-align: center;
    letter-spacing: 0.4px;
    color: #757575;
}

.final-bill .elegant div {
    width: unset;
}

.final-bill .elegant div:nth-child(2) {
    margin-left: 16px;
    margin-right: 8px;
}

.final-bill .buttons .value-area {
    width: unset;
}

@media screen and (min-width: 720px) {
    .search-area .search {
        width: 672px;
    }

    .search input {
        width: 608px !important;
    }

    .product-start .list {
        width: 672px;
    }

    .product-start .title {
        width: 672px;
        height: max-content;
    }

    .product-area .list .product.left {
        margin-right: 16px;
    }

    .search-area .product-start .list .category {
        margin: 0 16px 16px 0;
    }

    .search-area .product-start .list .category:nth-child(4n) {
        margin: 0 0 16px 0;
    }

    .product-section .image {
        max-width: 328px;
        height: 328px;
        left: 0;
        margin: 0 16px 16px 24px;
        transform: translate(0, 0);
    }

    .responsive-product {
        display: flex;
        padding-top: 24px;
    }

    .product-section .info {
        justify-content: start;
        margin-top: 0;
    }

    .floating-button {
        width: 672px;
        left: calc(50% - 672px/2);
    }

    .floating-button div {
        left: 628px;
    }

    .search-area .product-detais:nth-child(odd) {
        margin-right: 16px;
    }

    .bill {
        width: 672px;
    }

    .bill .itens {
        display: flex;
        flex-wrap: wrap;
    }

    /*.bill .itens .pedido:nth-child(odd){
        margin-right: 16px;
    }*/
    .responsive-cart {
        display: flex;
    }

    .responsive-cart .telefone-user {
        margin: 40px 0px 24px 0px;
    }

    .responsive-cart .name-user {
        margin-right: 16px;
    }

    .bill .value {
        margin-top: 16px;
    }

    .final-bill .name {
        width: 100%;
    }

    .final-bill .tel-desk .tel, .final-bill .tel-desk .desk-num {
        width: 100%;
    }

    .item-pedido {
        margin-bottom: 16px;
    }

    .itens-1 {
        margin-right: 16px;
    }

    .product-area .search-area .header-category {
        width: 672px;
    }
}

/********** COMBO ITENS **********/

.selected-combo {
    display: flex;
    background: #FCFCFC;
    border: 1px solid #DDDDDD;
    box-sizing: border-box;
    border-radius: 8px;
    margin-left: 16px;
    position: relative !important;
    width: calc(100% - 32px);
}

.selected-combo:first-child {
    margin-top: 16px;
}

.selected-combo:not(:last-child) {
    margin-bottom: 16px;
}

.selected-combo-quantity {
    position: absolute;
    left: 4px;
    bottom: 4px;
    padding: 4px;
    font-family: 'Roboto', sans-serif;
    font-style: normal;
    font-weight: normal;
    font-size: 10px;
    line-height: 12px;
    color: #585858;
    background: #ffffff;
    border-radius: 4px;
    margin-bottom: 0;
    z-index: 3;
}

.selected-combo .image {
    border-radius: 8px 0 0 8px;
    margin: -1px 0 0 -1px;
    border-top: 1px solid #DDDDDD;
    border-left: 1px solid #DDDDDD;
    border-bottom: 1px solid #DDDDDD;
    background-color: #FCFCFC !important;
    z-index: 2;
    height: auto;
    width: 113px;
    object-fit: cover;
}

.selected-combo .image-placeholder {
    position: absolute;
    left: 0;
    border-radius: 8px 0 0 8px;
    z-index: 1;
    height: 100%;
}

.selected-combo .selected-combo-title {
    max-height: 48px;
    margin: 8px 12px 4px 8px;
    font-family: 'Roboto', sans-serif;
    font-style: normal;
    font-weight: 500;
    font-size: 16px;
    line-height: 24px;
    color: #4D4D4D;
}

.selected-combo .selected-combo-description {
    margin: 0 12px 8px 8px !important;
    height: 32px;
    font-family: 'Roboto', sans-serif;
    font-style: normal;
    font-weight: normal;
    font-size: 12px;
    line-height: 16px;
    color: #4D4D4D;
    overflow: hidden;
    text-overflow: ellipsis;
    display: -webkit-box;
    -webkit-line-clamp: 2;
    -webkit-box-orient: vertical;
}

.selected-combo .value {
    align-items: center;
    display: flex;
    height: 24px;
    margin: 0 0 8px 8px;
}

.selected-combo .value .measure {
    width: max-content;
    height: 20px;
    background: #F5F5F5;
    border-radius: 4px;
    font-family: 'Roboto', sans-serif;
    font-style: normal;
    font-weight: normal;
    font-size: 12px;
    line-height: 16px;
    padding: 2px 4px;
    margin-right: 8px;
    color: #4D4D4D;
}

.selected-combo .value .serves {
    width: max-content;
    height: 20px;
    background: #F5F5F5;
    border-radius: 4px;
    font-family: 'Roboto', sans-serif;
    font-style: normal;
    font-weight: normal;
    font-size: 12px;
    line-height: 16px;
    padding: 2px 4px;
    margin-right: 8px;
    color: #4D4D4D;
}

.selected-combo .value .price {
    width: max-content;
    height: 24px;
    font-family: 'Roboto', sans-serif;
    font-style: normal;
    font-weight: normal;
    font-size: 16px;
    line-height: 24px;
    padding: 0 9.5px;
    color: #4F4F4F;
}

/*ITEM PEDIDO*/

.item-pedido {
    flex-direction: column;
    align-items: center;
    padding: 0px;
    width: 328px;
    height: max-content;
    border: 1px solid #DDDDDD;
    box-sizing: border-box;
    border-radius: 8px;
    order: 0;
    flex-grow: 0;
    margin-bottom: 16px;
}

.item-pedido .pedido-produto {
    width: 328px;
    height: 116px;
    display: flex;
}

.item-pedido .pedido-produto .product-image {
    min-width: 116px;
    height: 116px;
    border-radius: 7px 0 0 0;
    z-index: -1;
    object-fit: cover;
}

.item-pedido .pedido-produto .description {
    padding: 8px 8px 1px 0px;
    position: relative;
}

.item-pedido .pedido-produto .description .product-title {
    width: 196px;
    height: 40px;
    font-family: 'Roboto', sans-serif;
    font-style: normal;
    font-weight: bold;
    font-size: 15px;
    line-height: 20px;
    letter-spacing: 0.28px;
    font-feature-settings: 'tnum'on, 'lnum'on;
    color: #757575;
    order: 0;
    flex-grow: 0;
    max-width: 196px;
    max-height: 40px;
    word-wrap: break-word;
    overflow: hidden;
    text-overflow: ellipsis;
    display: -webkit-box;
    -webkit-line-clamp: 2;
    -webkit-box-orient: vertical;
    margin-left: 8px;
}

/*DIVIDER*/

.divider {
    border-bottom: 0.5px solid #DDDDDD;
    margin-bottom: 16px;
}

/*FINISH BILL*/

.finish-bill {
    height: 100%;
    width: 100%;
    position: fixed;
    top: 0;
    left: 0;
    background-color: #FCFCFC;
    z-index: 1000;
}

.finish-bill.gif {
    z-index: 1500;
}

.finish-bill div {
    text-align: center;
}

.finish-bill img {
    width: 128px;
    margin-bottom: 24px;
}

.finish-bill p {
    height: 32px;
    font-family: 'Roboto', sans-serif;
    font-style: normal;
    font-weight: 500;
    font-size: 24px;
    line-height: 32px;
    text-align: center;
    color: #4D4D4D;
    margin-top: 24px;
    margin-right: 6px;
    width: max-content;
}

.finish-bill p.finished {
    color: #25A65B;
    margin: unset;
    margin-bottom: 4px;
}

.finish-bill p.text {
    height: unset;
    font-family: 'Roboto', sans-serif;
    font-style: normal;
    font-weight: normal;
    font-size: 16px;
    line-height: 24px;
    text-align: center;
    color: #4D4D4D;
    margin: unset;
}

.finish-bill p.mail {
    font-weight: bold;
}

.finish-bill span {
    height: 32px;
    font-family: 'Roboto', sans-serif;
    font-style: normal;
    font-weight: 500;
    font-size: 24px;
    line-height: 80px;
    color: #4D4D4D;
    opacity: 0;
}

.finish-bill span:nth-child(1) {
    -webkit-animation: dot 1.3s infinite;
    -webkit-animation-delay: 0.1s;
    animation: dot 1.3s infinite;
    animation-delay: 0.1s;
}

.finish-bill span:nth-child(2) {
    -webkit-animation: dot 1.3s infinite;
    -webkit-animation-delay: 0.2s;
    animation: dot 1.3s infinite;
    animation-delay: 0.2s;
}

.finish-bill span:nth-child(3) {
    -webkit-animation: dot 1.3s infinite;
    -webkit-animation-delay: 0.3s;
    animation: dot 1.3s infinite;
    animation-delay: 0.3s;
}

.finish-bill input[type="submit"] {
    justify-content: center;
    padding: 4px 8px;
    width: 192px;
    height: 32px;
    background: #4D4D4D;
    border-radius: 8px;
    font-family: 'Roboto', sans-serif;
    font-style: normal;
    font-weight: 500;
    font-size: 16px;
    line-height: 24px;
    align-items: center;
    text-align: center;
    color: #FCFCFC;
    margin-top: 24px;
    border: none;
}

@-webkit-keyframes dot {
    0% {
        opacity: 0;
    }

    50% {
        opacity: 0;
    }

    100% {
        opacity: 1;
    }
}

@keyframes dot {
    0% {
        opacity: 0;
    }

    50% {
        opacity: 0;
    }

    100% {
        opacity: 1;
    }
}