<div class="address-area">
    <p class="address-area-title">{{title}}</p>
    <p class="address-area-subtitle">
        <svg width="16" height="24" viewBox="0 0 16 24" fill="none" xmlns="http://www.w3.org/2000/svg">
            <path
                d="M10.5649 21C10.7696 21 10.9527 20.9273 11.1143 20.7819C11.2813 20.6364 11.3647 20.4291 11.3647 20.1598C11.3647 19.982 11.3109 19.7828 11.2032 19.5619L9.59544 16.3142C9.52004 16.1741 9.44194 16.0395 9.36115 15.9102C9.28575 15.7756 9.21035 15.6571 9.13494 15.5548L8.13315 14.1248L8.19778 13.9309C8.33781 13.5 8.44015 13.1257 8.50478 12.8079C8.56941 12.4901 8.61519 12.1239 8.64212 11.7092L8.8037 9.35817C8.84679 8.79264 8.71214 8.3079 8.39975 7.90395C8.08737 7.49461 7.63494 7.28995 7.04248 7.28995C6.60622 7.28995 6.21573 7.40305 5.87103 7.62926C5.53171 7.85548 5.15738 8.16517 4.74805 8.55835L3.51196 9.78636C3.29652 10.0018 3.14571 10.2065 3.05954 10.4004C2.97875 10.5889 2.93027 10.8151 2.91412 11.079L2.76062 13.0018C2.73907 13.2603 2.79293 13.4704 2.92219 13.632C3.05684 13.7882 3.23997 13.8743 3.47157 13.8905C3.69239 13.9066 3.87821 13.8501 4.02902 13.7208C4.17983 13.5862 4.266 13.3788 4.28754 13.0987L4.47336 10.982L5.19239 10.3357C5.2678 10.2765 5.3432 10.2603 5.4186 10.2873C5.49401 10.3142 5.52632 10.3788 5.51555 10.4811L5.37821 12.3878C5.34589 12.8402 5.41053 13.2388 5.57211 13.5835C5.73368 13.9282 5.92758 14.2406 6.15379 14.5206L7.77767 16.5566C7.85846 16.6589 7.90963 16.737 7.93117 16.7908C7.9581 16.8447 7.99042 16.9066 8.02812 16.9767L9.74895 20.4668C9.85128 20.6661 9.97246 20.8034 10.1125 20.8788C10.2525 20.9596 10.4033 21 10.5649 21ZM3.24535 21C3.51465 21 3.73548 20.8977 3.90783 20.693L6.33153 17.8088C6.45002 17.6634 6.52812 17.553 6.56582 17.4776C6.60891 17.4022 6.65738 17.2917 6.71124 17.1463C6.74356 17.044 6.77318 16.9417 6.80011 16.8393C6.83243 16.737 6.86205 16.6373 6.88898 16.5404L5.50747 14.8357L5.10352 16.7424L2.81717 19.4569C2.70945 19.5808 2.62058 19.6993 2.55056 19.8124C2.48593 19.9255 2.45361 20.0628 2.45361 20.2244C2.45361 20.4506 2.52902 20.6364 2.67983 20.7819C2.83602 20.9273 3.02453 21 3.24535 21ZM10.8962 12.0727H12.6978C12.9617 12.0727 13.1691 12.0054 13.3199 11.8707C13.4707 11.7307 13.5461 11.5449 13.5461 11.3133C13.5461 11.0817 13.468 10.8959 13.3118 10.7558C13.161 10.6158 12.9563 10.5458 12.6978 10.5458H10.7992L9.47426 9.10772L9.33692 11.1598L9.90245 11.7253C10.0425 11.86 10.1852 11.9515 10.3306 12C10.4761 12.0485 10.6646 12.0727 10.8962 12.0727ZM7.97965 6.63555C8.31358 6.63555 8.61789 6.55206 8.89257 6.3851C9.16726 6.21813 9.38539 6 9.54697 5.7307C9.71394 5.45601 9.79742 5.15709 9.79742 4.83393C9.79742 4.49461 9.71394 4.18761 9.54697 3.91293C9.38539 3.63285 9.16726 3.41203 8.89257 3.25045C8.61789 3.08348 8.31358 3 7.97965 3C7.6511 3 7.34948 3.08348 7.0748 3.25045C6.80011 3.41203 6.58198 3.63285 6.4204 3.91293C6.26421 4.18761 6.18611 4.49461 6.18611 4.83393C6.18611 5.15709 6.26421 5.45601 6.4204 5.7307C6.58198 6 6.80011 6.21813 7.0748 6.3851C7.34948 6.55206 7.6511 6.63555 7.97965 6.63555Z"
                fill="#E4002B" />
        </svg>
        Local de retirada
    </p>
    <p class="address-info">{{endereco}}</p>
    <a href="https://www.google.com/maps?q={{enderecoURL}}" target="_blank"><button>
        <svg class="not-wl" width="25" height="24" viewBox="0 0 25 24" fill="none" xmlns="http://www.w3.org/2000/svg">
            <path
                d="M21.8984 10.6016L13.8984 2.60156C13.1016 1.80078 11.8984 1.80078 11.1016 2.60156L3.10156 10.6016C2.30078 11.3984 2.30078 12.6016 3.10156 13.3984L11.1016 21.3984C11.8984 22.1992 13.1016 22.1992 13.8984 21.3984L21.8984 13.3984C22.6992 12.6016 22.6992 11.3984 21.8984 10.6016ZM14.5 14.5V12H10.5V15H8.5V12C8.5 10.8984 9.39844 10 10.5 10H14.5V7.5L18 11L14.5 14.5Z"
                fill="#1A73E9" />
        </svg>
        Rotas
    </button></a>
    <div class="divider"></div>
    <p class="address-name">{{nomeUsuario}}</p>
    <p class="address-phone">{{telefoneUsuario}}</p>
</div>