<div class="expandable-buttom-close">
    <p>Fechar detalhes</p>
    <svg width="15" height="8" viewBox="0 0 15 8" fill="none" xmlns="http://www.w3.org/2000/svg">
        <path
            d="M13.6591 8.00024L15 6.78688L7.5 0.00024423L8.09298e-08 6.78688L1.34091 8.00024L7.5 2.42698L13.6591 8.00024Z"
            fill="#E4002B" />
    </svg>
</div>
<div class="divider"></div>