<div class="payment-type-area">
    <p class="payment-type-title">{{tipoPagamento}}</p>
    <div class="payment-type">
        <img src="/cardapio.ai/img/card-flags/{{flagImg}}.svg" onerror="this.src='/cardapio.ai/img/card-flags/sem_bandeira.svg'">
        <p>{{metodoPagamento}}</p>
    </div>
</div>
{{troco}}
<div class="divider"></div>
