<a class="store" href="https://cardapio.ai/online/{{small-name}}">
    <img src="{{url}}">
    <div>
        <p class="storeTitle">{{nome}}</p>
        <div class="storeDescription">
            <p class="storeStatus {{closed}}"></p>
            <p class="storeText">·</p>
            <p class="storeText storeType">{{tipo}}</p>
            <p class="storeText">·</p>
            <svg width="16" height="16" viewBox="0 0 16 16" fill="none" xmlns="http://www.w3.org/2000/svg">
                <path
                    d="M8.02394 11.2423L10.6222 12.8138C11.098 13.1018 11.6802 12.6761 11.555 12.1376L10.8663 9.18255L13.164 7.19163C13.5835 6.8285 13.3581 6.13982 12.8072 6.09599L9.78322 5.8393L8.59993 3.047C8.38706 2.53988 7.66082 2.53988 7.44795 3.047L6.26466 5.83304L3.24071 6.08973C2.68976 6.13356 2.46438 6.82224 2.88385 7.18537L5.18155 9.17629L4.49287 12.1314C4.36765 12.6698 4.9499 13.0955 5.42572 12.8075L8.02394 11.2423Z"
                    fill="#FEBF00" />
            </svg>
            <p class="starNumber">{{avaliacao}}</p>
        </div>
        <div class="storeDescription">
            <p class="storeText">{{distancia}} Km</p>
            <p class="storeText">·</p>
            <p class="storeText">{{tempo}} min</p>
            <p class="storeText">·</p>
            <p class="storeText">R$ {{valor}}</p>
        </div>
    </div>
</a>