<div class="lojas {{empty}}">
    <div>
        <button class="addressSelect">
            {{address}}
            <svg width="32" height="14" viewBox="0 0 32 14" fill="none" xmlns="http://www.w3.org/2000/svg">
                <path d="M20.1955 5L21 5.79627L16.5 10.25L12 5.79627L12.8045 5L16.5 8.65745L20.1955 5Z"
                    fill="#E4002B" />
            </svg>
        </button>
        <div class="searchBar">
            <input type="text" placeholder="O que você quer pedir hoje?">
            <svg width="16" height="16" viewBox="0 0 16 16" fill="none" xmlns="http://www.w3.org/2000/svg">
                <g clip-path="url(#clip0_45_436)">
                    <path fill-rule="evenodd" clip-rule="evenodd"
                        d="M10.4419 10.442C10.5348 10.349 10.6451 10.2752 10.7665 10.2249C10.8879 10.1746 11.018 10.1487 11.1494 10.1487C11.2809 10.1487 11.411 10.1746 11.5324 10.2249C11.6538 10.2752 11.7641 10.349 11.8569 10.442L15.7069 14.292C15.8946 14.4795 16.0001 14.7338 16.0001 14.9991C16.0002 15.2644 15.895 15.5188 15.7074 15.7065C15.5199 15.8941 15.2656 15.9996 15.0003 15.9997C14.735 15.9998 14.4806 15.8945 14.2929 15.707L10.4429 11.857C10.35 11.7641 10.2762 11.6538 10.2259 11.5324C10.1756 11.411 10.1497 11.2809 10.1497 11.1495C10.1497 11.0181 10.1756 10.8879 10.2259 10.7665C10.2762 10.6451 10.35 10.5348 10.4429 10.442H10.4419Z"
                        fill="#E4002B" />
                    <path fill-rule="evenodd" clip-rule="evenodd"
                        d="M6.5 12C7.22227 12 7.93747 11.8577 8.60476 11.5813C9.27205 11.3049 9.87837 10.8998 10.3891 10.3891C10.8998 9.87837 11.3049 9.27205 11.5813 8.60476C11.8577 7.93747 12 7.22227 12 6.5C12 5.77773 11.8577 5.06253 11.5813 4.39524C11.3049 3.72795 10.8998 3.12163 10.3891 2.61091C9.87837 2.10019 9.27205 1.69506 8.60476 1.41866C7.93747 1.14226 7.22227 1 6.5 1C5.04131 1 3.64236 1.57946 2.61091 2.61091C1.57946 3.64236 1 5.04131 1 6.5C1 7.95869 1.57946 9.35764 2.61091 10.3891C3.64236 11.4205 5.04131 12 6.5 12ZM13 6.5C13 8.22391 12.3152 9.87721 11.0962 11.0962C9.87721 12.3152 8.22391 13 6.5 13C4.77609 13 3.12279 12.3152 1.90381 11.0962C0.684819 9.87721 0 8.22391 0 6.5C0 4.77609 0.684819 3.12279 1.90381 1.90381C3.12279 0.684819 4.77609 0 6.5 0C8.22391 0 9.87721 0.684819 11.0962 1.90381C12.3152 3.12279 13 4.77609 13 6.5Z"
                        fill="#E4002B" />
                </g>
                <defs>
                    <clipPath id="clip0_45_436">
                        <rect width="16" height="16" fill="white" />
                    </clipPath>
                </defs>
            </svg>
        </div>
        <div class="categoriesChips">
            {{categories}}
        </div>
        <h1 class="storesTitle">Lojas</h1>
        <div class="stores">
            {{stores}}
        </div>
        <div class="lojasRodape">
            <button>
                Não encontrou o que queria?</br>
                <red>Indique um restaurante</red>
            </button>
        </div>
    </div>
    <div class="emptyList center-abs">
        <svg width="78" height="52" viewBox="0 0 78 52" fill="none" xmlns="http://www.w3.org/2000/svg">
            <path
                d="M51.5149 -1.1577e-06C54.2313 -1.03896e-06 56.495 0.852238 58.306 2.55669C60.1169 4.26113 61.0224 6.5884 61.0224 9.5384C61.0224 12.4884 60.1169 14.8156 58.306 16.52C56.495 18.2245 54.2313 19.0767 51.5149 19.0767C48.7985 19.0767 46.5348 18.2245 44.7239 16.52C42.9129 14.8156 42.0074 12.4884 42.0074 9.5384C42.0074 6.5884 42.9129 4.26113 44.7239 2.55668C46.5348 0.852237 48.7985 -1.27644e-06 51.5149 -1.1577e-06ZM21.0522 -2.48927e-06C23.7687 -2.37053e-06 26.0323 0.852236 27.8433 2.55668C29.6542 4.26113 30.5597 6.58839 30.5597 9.5384C30.5597 12.4884 29.6542 14.8156 27.8433 16.52C26.0323 18.2245 23.7687 19.0767 21.0522 19.0767C18.3358 19.0767 16.0721 18.2245 14.2612 16.52C12.4502 14.8156 11.5448 12.4884 11.5448 9.5384C11.5448 6.58839 12.4502 4.26113 14.2612 2.55668C16.0721 0.852236 18.3358 -2.608e-06 21.0522 -2.48927e-06Z"
                fill="#BFBFBF" />
            <path
                d="M39 26.3349C45.791 26.3349 51.7413 26.925 56.8507 28.105C61.9602 29.3505 66.2612 30.9239 69.7537 32.825C72.0174 34.0705 73.9577 35.5783 75.5746 37.3483C77.1915 39.1839 78 41.4456 78 44.1333C78 45.9034 77.5149 47.4767 76.5448 48.8534C75.5746 50.23 74.5398 51.2789 73.4403 52C71.1119 50.4267 68.6866 49.0172 66.1642 47.7717C63.7065 46.5917 61.0871 45.5755 58.306 44.7233C55.5249 43.9366 52.5497 43.3139 49.3806 42.855C46.2114 42.4616 42.7512 42.265 39 42.265C35.2488 42.265 31.7886 42.4616 28.6194 42.855C25.4502 43.3139 22.4751 43.9366 19.694 44.7233C16.9129 45.5755 14.2935 46.5916 11.8358 47.7717C9.31343 49.0172 6.88805 50.4267 4.55969 52C3.46019 51.2789 2.42537 50.23 1.45522 48.8534C0.485067 47.4767 -2.0065e-06 45.9033 -1.92913e-06 44.1333C-1.81164e-06 41.4456 0.808439 39.1839 2.42536 37.3483C4.04227 35.5783 5.98257 34.0705 8.24625 32.825C11.7388 30.9239 16.0398 29.3505 21.1492 28.105C26.2587 26.925 32.209 26.3349 39 26.3349Z"
                fill="#BFBFBF" />
        </svg>
        <p>Nenhum restaurante encontrado</p>
        <button>Indicar restaurante</button>
    </div>
    <div class="suggestionBackground"></div>
    <div class="suggestionModal">
        <svg class="center-abs-hor" width="40" height="2" viewBox="0 0 40 2" fill="none"
            xmlns="http://www.w3.org/2000/svg">
            <rect width="40" height="2" rx="1" fill="#DDDDDD" />
        </svg>
        <div class="suggestionStart">
            <p>Indique seu restaurante preferido</p>
            <input type="text" placeholder="Nome do restaurante">
            <button disabled>Enviar indicação</button>
        </div>
        <div class="suggestionSuccess">
            <svg width="64" height="64" viewBox="0 0 64 64" fill="none" xmlns="http://www.w3.org/2000/svg">
                <path
                    d="M32 64C49.6731 64 64 49.6731 64 32C64 14.3269 49.6731 0 32 0C14.3269 0 0 14.3269 0 32C0 49.6731 14.3269 64 32 64Z"
                    fill="#25A65B" />
                <path
                    d="M43.0217 21.8866L48.4516 26.9845L30.2053 44.1223L17.7832 32.4527L23.2131 27.3548L30.2053 33.9123L43.0217 21.8866Z"
                    fill="#FCFCFC" />
            </svg>
            <h2>Valeu pela indicação!</h2>
            <h3>Entraremos em contato!</h3>
            <button>Indicar outro</button>
            <button>Trocar endereço</button>
        </div>
    </div>
</div>