<style>
    .no-permission {
        background: #FCFCFC;
        width: 100%;
        height: 100%;
        position: fixed;
        z-index: 10000;
        display: flex;
        align-items: center;
        justify-content: center;
    }

    .no-permission>div {
        text-align: center;
    }

    .no-permission>div img {
        margin-bottom: 8px;
    }

    .no-permission>div p {
        font-family: "Inter";
        font-style: normal;
        font-weight: 500;
        font-size: 16px;
        line-height: 24px;
        text-align: center;
        color: #4D4D4D;
        margin-bottom: 72px;
    }

    .no-permission>div a {
        width: 328px;
        height: 48px;
        background: #E4002B;
        border-radius: 8px;
        font-family: "Inter";
        font-style: normal;
        font-weight: 500;
        font-size: 16px;
        line-height: 24px;
        display: flex;
        align-items: center;
        justify-content: center;
        color: #FCFCFC;
        cursor: pointer;
    }
</style>
<div class="no-permission">
    <div>
        <img src="/cardapio.ai/img/broken-plate.png">
        <p>{{product}} não está disponível</p>
        <a id="no-permission-button" href="https://localhost/rodrigo-lanches">Ir para o início (<span>10</span>)</a>
    </div>
</div>
<script>
    var time = 10;
    setInterval(function () {
        if (time > 0)
            $("#no-permission-button span").text(time--);
        else
            document.getElementById("no-permission-button").click();
    }, 1000);
</script>