<div class="address-area section">
    <div class="header">
        <div class="back-arrow-address">
            <svg class="center-rel" width="14" height="24" viewBox="0 0 14 24" fill="none"
                xmlns="http://www.w3.org/2000/svg">
                <path d="M14 21.8545L11.8766 24L0 12L11.8766 0L14 2.14546L4.24679 12L14 21.8545Z" fill="#E4002B" />
            </svg>
        </div>
        <img class="center-rel logo" src="{{logo}}">
    </div>
    <div class="address-area-body center-rel-hor">
        <p class="address-area-title">Endereço</p>
        <button class="address-button alert-red">
            <svg class="not-wl" width="16" height="16" viewBox="0 0 16 16" fill="none"
                xmlns="http://www.w3.org/2000/svg">
                <path
                    d="M11.46 0.146C11.3663 0.052531 11.2394 2.8119e-05 11.107 0L4.893 0C4.76065 2.8119e-05 4.63371 0.052531 4.54 0.146L0.146 4.54C0.052531 4.63371 2.8119e-05 4.76065 0 4.893L0 11.107C2.8119e-05 11.2394 0.052531 11.3663 0.146 11.46L4.54 15.854C4.63371 15.9475 4.76065 16 4.893 16H11.107C11.2394 16 11.3663 15.9475 11.46 15.854L15.854 11.46C15.9475 11.3663 16 11.2394 16 11.107V4.893C16 4.76065 15.9475 4.63371 15.854 4.54L11.46 0.146ZM8 4C8.535 4 8.954 4.462 8.9 4.995L8.55 8.502C8.53824 8.63977 8.4752 8.76811 8.37336 8.86164C8.27151 8.95516 8.13827 9.00705 8 9.00705C7.86173 9.00705 7.72849 8.95516 7.62664 8.86164C7.5248 8.76811 7.46176 8.63977 7.45 8.502L7.1 4.995C7.08743 4.86923 7.10134 4.74223 7.14084 4.62217C7.18035 4.5021 7.24456 4.39165 7.32934 4.29791C7.41413 4.20418 7.51761 4.12924 7.63312 4.07793C7.74863 4.02662 7.87361 4.00007 8 4ZM8.002 10C8.26722 10 8.52157 10.1054 8.70911 10.2929C8.89664 10.4804 9.002 10.7348 9.002 11C9.002 11.2652 8.89664 11.5196 8.70911 11.7071C8.52157 11.8946 8.26722 12 8.002 12C7.73678 12 7.48243 11.8946 7.29489 11.7071C7.10736 11.5196 7.002 11.2652 7.002 11C7.002 10.7348 7.10736 10.4804 7.29489 10.2929C7.48243 10.1054 7.73678 10 8.002 10Z"
                    fill="#B00020" />
            </svg>
            Fora da área de entrega. :(
        </button>
        <button class="address-button gps-button">
            <svg class="not-wl" width="16" height="16" viewBox="0 0 16 16" fill="none"
                xmlns="http://www.w3.org/2000/svg">
                <path
                    d="M2.32143 8.37286L7.49233 8.38751C7.53627 8.38751 7.56801 8.39972 7.58754 8.42413C7.61196 8.44366 7.62416 8.4754 7.62416 8.51935L7.63881 13.6609C7.63881 13.8465 7.67787 14.0052 7.756 14.137C7.83412 14.2689 7.93666 14.3641 8.06362 14.4227C8.19545 14.4861 8.33217 14.5106 8.47377 14.4959C8.62026 14.4813 8.75698 14.4251 8.88393 14.3275C9.01576 14.2347 9.12563 14.0955 9.21352 13.91L14.3991 2.77716C14.5065 2.54279 14.548 2.33282 14.5236 2.14728C14.4992 1.96173 14.4235 1.81281 14.2965 1.7005C14.1696 1.58331 14.0084 1.5174 13.8131 1.50275C13.6227 1.4881 13.4176 1.53204 13.1979 1.63458L1.99916 6.8421C1.83315 6.91534 1.70619 7.01544 1.6183 7.1424C1.5353 7.26935 1.48647 7.40363 1.47182 7.54523C1.46205 7.68195 1.48647 7.81378 1.54506 7.94073C1.60854 8.06281 1.70375 8.16534 1.83071 8.24835C1.96254 8.33136 2.12612 8.37286 2.32143 8.37286Z"
                    fill="#0962BA" />
            </svg>
            Usar localização atual
        </button>
        <div class="checkout-field" style="margin-top: 26px;" required message="Insira um nome">
            <input id="a_nome" autocomplete="name" type="text" value="{{nome}}" required>
            <span class="highlight"></span>
            <label>Seu nome</label>
        </div>
        <div class="checkout-field" required type="fone" message="Insira um telefone válido.">
            <input id="fone" class="fone" name="phone" type="text" maxlength="15" value="{{telefone}}" required inputmode="numeric">
            <span class="highlight"></span>
            <label>Telefone</label>
        </div>
        <div class="checkout-field" required message="Insira um CEP válido">
            <input id="a_CEP" autocomplete="postal-code" type="text" value="{{cep}}" maxlength="9" required
                onblur="pesquisacep(this.value);" inputmode="numeric">
            <span class="highlight"></span>
            <label>CEP</label>
        </div>
        <div class="checkout-field" style="margin-bottom: 0;" required message="Insira uma rua válida">
            <input id="a_rua" autocomplete="street-address" value="{{rua}}" type="text" required>
            <span class="highlight"></span>
            <label>Rua</label>
        </div>
        <span class="address-area-sublabel">Ex: Av. Paulista, 1523</span>
        <div class="checkout-field-row">
            <div class="checkout-field">
                <input id="a_numero" type="text" value="{{numero}}" required inputmode="numeric">
                <span class="highlight"></span>
                <label>Número</label>
            </div>
            <div class="checkout-field">
                <input id="a_bairro" type="text" value="{{bairro}}" required>
                <span class="highlight"></span>
                <label>Bairro</label>
            </div>
        </div>
        <div class="checkout-field" required message="Insira uma cidade válida">
            <input id="a_cidade" autocomplete="address-level2" type="text" value="{{cidade}}" required>
            <span class="highlight"></span>
            <label>Cidade</label>
        </div>
        <div class="checkout-field" required message="Insira um estado válido">
            <input id="a_estado" type="text" value="{{estado}}" required>
            <span class="highlight"></span>
            <label>Estado</label>
        </div>
        <p class="textarea-title">Complemento</p>
        <textarea id="a_complemento" required>{{complemento}}</textarea>
    </div>
    <button class="address-area-button">
        Confirmar endereço
    </button>
</div>