<div id="bottom-modal-fade" class="bottom-modal-fade"></div>
<div id="bottom-modal" class="bottom-modal">
    <svg class="center-rel-hor" width="40" height="2" viewBox="0 0 40 2" fill="none" xmlns="http://www.w3.org/2000/svg">
        <line y1="1" x2="40" y2="1" stroke="#DDDDDD" stroke-width="2" stroke-linejoin="round" />
    </svg>
    <div id="bottom-modal-area" class="center-rel-hor">
        <p id="bottom-modal-title">Pagamento em dinheiro na entrega</p>
        <div class="bottom-modal-fields">
            <div>
                <p>Total do pedido:</p>
            </div>
            <input id="bottom-modal-value" type="text" disabled value="R$ {{value}}">
        </div>
        <div class="bottom-modal-fields">
            <div>
                <p>Troco para quantos?</p>
                <p>Informe quantos pagará em dinheiro.</p>
            </div>
            <input id="bottom-modal-change" type="text" class="money-input" value="R$ 0,00">
        </div>
        <p id="bottom-modal-topbutton">Não preciso de troco</p>
        <p id="bottom-modal-button">Prosseguir</p>
    </div>
    <script>showBottomModal()</script>
</div>
<script>
    $(".money-input").maskMoney({ prefix: "R$ ", thousands: ".", decimal: "," });
</script>