<div class="coupon-area">
    <span class="coupon-area-text">Possui cupom?</span>
    <div class="coupon-area-button">
        <span>Inserir</span>
        <svg class="not-wl" width="9" height="6" viewBox="0 0 9 6" fill="none" xmlns="http://www.w3.org/2000/svg">
            <path
                d="M8.19545 5.95951e-05L9 0.796332L4.5 5.25006L5.31102e-08 0.796332L0.804546 5.95069e-05L4.5 3.65752L8.19545 5.95951e-05Z"
                fill="#585858" />
        </svg>
    </div>
</div>
<div class="coupon-field">
    <input type="text" placeholder="Insira o código do cupom" value="{{coupon}}">
    <div class="coupon-field-button">
        <svg class="not-wl" width="16" height="16" viewBox="0 0 16 16" fill="none" xmlns="http://www.w3.org/2000/svg">
            <path
                d="M8 6.10352e-05C3.6 6.10352e-05 0 3.60006 0 8.00006C0 12.4001 3.6 16.0001 8 16.0001C12.4 16.0001 16 12.4001 16 8.00006C16 3.60006 12.4 6.10352e-05 8 6.10352e-05ZM11.7344 4.4011L13.599 6.26569L7.33333 12.5339L3.06771 8.26569L4.93229 6.4011L7.33333 8.79954L11.7344 4.4011Z"
                fill="#25A65B" />
        </svg>
    </div>
</div>