<div class="address {{withdraw}}" stage="typeDelivery">
    <div class="d-flex">
        <span>
            <svg width="16" height="24" viewBox="0 0 16 24" fill="none" xmlns="http://www.w3.org/2000/svg">
                <path
                    d="M10.565 21C10.7697 21 10.9528 20.9273 11.1144 20.7819C11.2814 20.6364 11.3649 20.4291 11.3649 20.1598C11.3649 19.982 11.311 19.7828 11.2033 19.5619L9.59557 16.3142C9.52016 16.1741 9.44207 16.0395 9.36128 15.9102C9.28587 15.7756 9.21047 15.6571 9.13506 15.5548L8.13327 14.1248L8.1979 13.9309C8.33794 13.5 8.44027 13.1257 8.5049 12.8079C8.56953 12.4901 8.61531 12.1239 8.64224 11.7092L8.80382 9.35817C8.84691 8.79264 8.71226 8.3079 8.39988 7.90395C8.08749 7.49461 7.63506 7.28995 7.0426 7.28995C6.60634 7.28995 6.21585 7.40305 5.87115 7.62926C5.53183 7.85548 5.15751 8.16517 4.74817 8.55835L3.51208 9.78636C3.29664 10.0018 3.14584 10.2065 3.05966 10.4004C2.97887 10.5889 2.9304 10.8151 2.91424 11.079L2.76074 13.0018C2.73919 13.2603 2.79305 13.4704 2.92232 13.632C3.05697 13.7882 3.24009 13.8743 3.47169 13.8905C3.69251 13.9066 3.87833 13.8501 4.02914 13.7208C4.17995 13.5862 4.26612 13.3788 4.28767 13.0987L4.47348 10.982L5.19251 10.3357C5.26792 10.2765 5.34332 10.2603 5.41873 10.2873C5.49413 10.3142 5.52645 10.3788 5.51567 10.4811L5.37833 12.3878C5.34602 12.8402 5.41065 13.2388 5.57223 13.5835C5.73381 13.9282 5.9277 14.2406 6.15391 14.5206L7.77779 16.5566C7.85858 16.6589 7.90975 16.737 7.93129 16.7908C7.95822 16.8447 7.99054 16.9066 8.02824 16.9767L9.74907 20.4668C9.8514 20.6661 9.97259 20.8034 10.1126 20.8788C10.2527 20.9596 10.4035 21 10.565 21ZM3.24548 21C3.51478 21 3.7356 20.8977 3.90795 20.693L6.33165 17.8088C6.45014 17.6634 6.52824 17.553 6.56594 17.4776C6.60903 17.4022 6.65751 17.2917 6.71137 17.1463C6.74368 17.044 6.7733 16.9417 6.80023 16.8393C6.83255 16.737 6.86217 16.6373 6.8891 16.5404L5.5076 14.8357L5.10365 16.7424L2.81729 19.4569C2.70957 19.5808 2.6207 19.6993 2.55068 19.8124C2.48605 19.9255 2.45374 20.0628 2.45374 20.2244C2.45374 20.4506 2.52914 20.6364 2.67995 20.7819C2.83614 20.9273 3.02465 21 3.24548 21ZM10.8963 12.0727H12.6979C12.9618 12.0727 13.1692 12.0054 13.32 11.8707C13.4708 11.7307 13.5462 11.5449 13.5462 11.3133C13.5462 11.0817 13.4681 10.8959 13.3119 10.7558C13.1611 10.6158 12.9564 10.5458 12.6979 10.5458H10.7993L9.47438 9.10772L9.33704 11.1598L9.90257 11.7253C10.0426 11.86 10.1853 11.9515 10.3308 12C10.4762 12.0485 10.6647 12.0727 10.8963 12.0727ZM7.97977 6.63555C8.3137 6.63555 8.61801 6.55206 8.89269 6.3851C9.16738 6.21813 9.38551 6 9.54709 5.7307C9.71406 5.45601 9.79754 5.15709 9.79754 4.83393C9.79754 4.49461 9.71406 4.18761 9.54709 3.91293C9.38551 3.63285 9.16738 3.41203 8.89269 3.25045C8.61801 3.08348 8.3137 3 7.97977 3C7.65122 3 7.34961 3.08348 7.07492 3.25045C6.80023 3.41203 6.5821 3.63285 6.42052 3.91293C6.26433 4.18761 6.18623 4.49461 6.18623 4.83393C6.18623 5.15709 6.26433 5.45601 6.42052 5.7307C6.5821 6 6.80023 6.21813 7.07492 6.3851C7.34961 6.55206 7.65122 6.63555 7.97977 6.63555Z"
                    fill="#E4002B" />
            </svg>
        </span>
        <span>Alterar</span>
    </div>
    <span class="address-text">{{address}}</span>
    <div class="address-client">
        <p>{{name}}</p>
        <p>{{phone}}</p>
    </div>
</div>