<div class="address" stage="typeDelivery">
    <div class="d-flex">
        <span>Local de retirada</span>
        <span>Alterar</span>
    </div>
    <span class="address-text">{{address}}</span>
</div>