<div class="forecast">
    <span class="forecast-text">{{title}}</span>
    <div class="d-flex">
        <span>{{previsaoEntrega}}</span>
        <span>Agendar entrega</span>
        <svg width="6" height="9" viewBox="0 0 6 9" fill="none" xmlns="http://www.w3.org/2000/svg">
            <path
                d="M0.714216 1.60016L1.40757 0.88501L5.28564 4.88501L1.40757 8.88501L0.714216 8.16986L3.89894 4.88501L0.714216 1.60016Z"
                fill="#E4002B" />
        </svg>
    </div>
</div>