<div class="modal-type-cart-fade bottom-modal-fade"></div>
<div class="modal-type-cart bottom-modal">
    <svg width="40" height="2" viewBox="0 0 40 2" fill="none" xmlns="http://www.w3.org/2000/svg">
        <line y1="1" x2="40" y2="1" stroke="#DDDDDD" stroke-width="2" stroke-linejoin="round" />
    </svg>
    <div class="modal-type-cart-body">
        <div class="modal-type-cart-body-info">
            <h1>
                <svg width="16" height="24" viewBox="0 0 16 24" fill="none" xmlns="http://www.w3.org/2000/svg">
                    <path
                        d="M10.5652 21C10.7698 21 10.953 20.9273 11.1145 20.7819C11.2815 20.6364 11.365 20.4291 11.365 20.1598C11.365 19.982 11.3111 19.7828 11.2034 19.5619L9.59569 16.3142C9.52028 16.1741 9.44219 16.0395 9.3614 15.9102C9.28599 15.7756 9.21059 15.6571 9.13519 15.5548L8.13339 14.1248L8.19802 13.9309C8.33806 13.5 8.44039 13.1257 8.50502 12.8079C8.56966 12.4901 8.61544 12.1239 8.64237 11.7092L8.80395 9.35817C8.84703 8.79264 8.71239 8.3079 8.4 7.90395C8.08761 7.49461 7.63519 7.28995 7.04273 7.28995C6.60646 7.28995 6.21598 7.40305 5.87127 7.62926C5.53195 7.85548 5.15763 8.16517 4.74829 8.55835L3.51221 9.78636C3.29677 10.0018 3.14596 10.2065 3.05978 10.4004C2.97899 10.5889 2.93052 10.8151 2.91436 11.079L2.76086 13.0018C2.73932 13.2603 2.79318 13.4704 2.92244 13.632C3.05709 13.7882 3.24021 13.8743 3.47181 13.8905C3.69264 13.9066 3.87845 13.8501 4.02926 13.7208C4.18007 13.5862 4.26625 13.3788 4.28779 13.0987L4.47361 10.982L5.19264 10.3357C5.26804 10.2765 5.34344 10.2603 5.41885 10.2873C5.49425 10.3142 5.52657 10.3788 5.5158 10.4811L5.37845 12.3878C5.34614 12.8402 5.41077 13.2388 5.57235 13.5835C5.73393 13.9282 5.92782 14.2406 6.15404 14.5206L7.77791 16.5566C7.8587 16.6589 7.90987 16.737 7.93142 16.7908C7.95835 16.8447 7.99066 16.9066 8.02836 16.9767L9.74919 20.4668C9.85152 20.6661 9.97271 20.8034 10.1127 20.8788C10.2528 20.9596 10.4036 21 10.5652 21ZM3.2456 21C3.5149 21 3.73572 20.8977 3.90808 20.693L6.33177 17.8088C6.45027 17.6634 6.52836 17.553 6.56607 17.4776C6.60915 17.4022 6.65763 17.2917 6.71149 17.1463C6.7438 17.044 6.77343 16.9417 6.80036 16.8393C6.83267 16.737 6.8623 16.6373 6.88923 16.5404L5.50772 14.8357L5.10377 16.7424L2.81741 19.4569C2.70969 19.5808 2.62082 19.6993 2.55081 19.8124C2.48617 19.9255 2.45386 20.0628 2.45386 20.2244C2.45386 20.4506 2.52926 20.6364 2.68007 20.7819C2.83626 20.9273 3.02477 21 3.2456 21ZM10.8964 12.0727H12.698C12.9619 12.0727 13.1693 12.0054 13.3201 11.8707C13.4709 11.7307 13.5463 11.5449 13.5463 11.3133C13.5463 11.0817 13.4682 10.8959 13.312 10.7558C13.1612 10.6158 12.9565 10.5458 12.698 10.5458H10.7995L9.4745 9.10772L9.33716 11.1598L9.90269 11.7253C10.0427 11.86 10.1855 11.9515 10.3309 12C10.4763 12.0485 10.6648 12.0727 10.8964 12.0727ZM7.97989 6.63555C8.31382 6.63555 8.61813 6.55206 8.89282 6.3851C9.1675 6.21813 9.38563 6 9.54721 5.7307C9.71418 5.45601 9.79766 5.15709 9.79766 4.83393C9.79766 4.49461 9.71418 4.18761 9.54721 3.91293C9.38563 3.63285 9.1675 3.41203 8.89282 3.25045C8.61813 3.08348 8.31382 3 7.97989 3C7.65134 3 7.34973 3.08348 7.07504 3.25045C6.80036 3.41203 6.58222 3.63285 6.42064 3.91293C6.26445 4.18761 6.18635 4.49461 6.18635 4.83393C6.18635 5.15709 6.26445 5.45601 6.42064 5.7307C6.58222 6 6.80036 6.21813 7.07504 6.3851C7.34973 6.55206 7.65134 6.63555 7.97989 6.63555Z"
                        fill="#E4002B" />
                </svg>
                Local de retirada
            </h1>
            <p>{{endereco}}</p>
            <div class="divider"></div>
            <h2>{{nome}}</h2>
            <h3>{{telefone}}</h3>
        </div>
        <button stage="withdraw">Editar meus dados</button>
        <button stage="address">Mudar para entrega</button>
        <button>Cancelar</button>
    </div>
    <script>
        $(".modal-type-cart-fade").hide().fadeIn(150);
        $(".modal-type-cart").hide().slideDown(300);
        $(document).on("click", ".modal-type-cart-fade", function () {
            $(this, ".modal-type-cart-fade").fadeOut(150, function () {
                $(this).remove();
            });
            $(".modal-type-cart").slideUp(300, function () {
                $(this).remove();
            });
        });
        $(document).on("click", ".modal-type-cart-body button", function () {
            $(".modal-type-cart-fade").click();
        });
    </script>
</div>