<div class="modal-type-cart-fade bottom-modal-fade"></div>
<div class="modal-type-cart bottom-modal">
    <svg width="40" height="2" viewBox="0 0 40 2" fill="none" xmlns="http://www.w3.org/2000/svg">
        <line y1="1" x2="40" y2="1" stroke="#DDDDDD" stroke-width="2" stroke-linejoin="round" />
    </svg>
    <div class="modal-type-cart-body">
        <div class="modal-type-cart-body-info">
            <h2>{{nome}}</h2>
            <h3>{{telefone}}</h3>
            <p>{{endereco}}</p>
            {{complemento}}
        </div>
        <button stage="address">Editar endereço de entrega</button>
        <button stage="withdraw">Mudar para retirada</button>
        <button>Cancelar</button>
    </div>
    <script>
        $(".modal-type-cart-fade").hide().fadeIn(150);
        $(".modal-type-cart").hide().slideDown(300);
        $(document).on("click", ".modal-type-cart-fade", function () {
            $(this, ".modal-type-cart-fade").fadeOut(150, function () {
                $(this).remove();
            });
            $(".modal-type-cart").slideUp(300, function () {
                $(this).remove();
            });
        });
        $(document).on("click", ".modal-type-cart-body button", function () {
            $(".modal-type-cart-fade").click();
        });
    </script>
</div>