<div class="paymentonapp-area section">
    <div class="header">
        <div class="back-arrow-paymentonapp">
            <svg class="center-rel" width="14" height="24" viewBox="0 0 14 24" fill="none"
                xmlns="http://www.w3.org/2000/svg">
                <path d="M14 21.8545L11.8766 24L0 12L11.8766 0L14 2.14546L4.24679 12L14 21.8545Z" fill="#E4002B" />
            </svg>
        </div>
        <img class="center-rel logo" src="{{logo}}">
    </div>
    <div class="paymentonapp-area-body center-rel-hor">
        <span class="paymentonapp-area-title">Novo cartão</span>
        <div class="paymentonapp-cards-accepted">
            <div class="paymentonapp-cards-accepted-inner">
                <div class="paymentonapp-cards-accepted-front">
                    <img class="center-rel" src="/cardapio.ai/img/cards-accepted.svg">
                </div>
                <div class="paymentonapp-cards-accepted-back">
                    <div class="preview-card-number">
                        <img src="/cardapio.ai/img/card-flags/default.svg">
                        <p>0000 0000 0000 0000</p>
                    </div>
                    <div class="preview-card-info">
                        <div>
                            <p>Valido até</p>
                            <p>00/00</p>
                        </div>
                        <div>
                            <p>CVV</p>
                            <p>000</p>
                        </div>
                        <div>
                            <p>CPF do titular</p>
                            <p>000.000.000-00</p>
                        </div>
                        <p class="holder-card">Nome do titular</p>
                    </div>
                </div>
            </div>
        </div>
        <div class="checkout-field" style="margin-top: 26px;" required message="Número inválido" min="16">
            <input id="c_input" class="cn_input" autocomplete="cc-number" type="text" maxlength="19" required
                inputmode="numeric">
            <span class="highlight"></span>
            <label>Número do cartão</label>
        </div>
        <div class="checkout-field" required message="Insira o nome do titular">
            <input class="cna_input" autocomplete="cc-name" type="text" required>
            <span class="highlight"></span>
            <label>Nome do titular</label>
        </div>
        <div style="display: flex;">
            <div class="checkout-field" required message="Validade inválido" min="5">
                <input class="ce_input" autocomplete="cc-exp" type="text" required
                    style="width: 154px; margin-right: 20px;" inputmode="numeric">
                <span class="highlight"></span>
                <label>Validade</label>
            </div>
            <div class="checkout-field" required message="CVV inválido">
                <input class="cc_input" autocomplete="cc-csc" type="text" required style="width: 154px;"
                    inputmode="numeric">
                <span class="highlight"></span>
                <label>Cód de segurança</label>
            </div>
        </div>
        <div class="checkout-field" required type="cpfVerify()" message="CPF inválido">
            <input class="ccp_input" type="text" required inputmode="numeric">
            <span class="highlight"></span>
            <label>CPF do titular</label>
        </div>
    </div>
    <div class="bottom-action">
        <div class="bottom-action-button center-abs-hor">
            <span>Salvar cartão</span>
        </div>
    </div>
</div>