<div class="paymentOptionRow{{hasCards}}" id="{{id}}">
    <div class="paymentOptionRow-title">
        <img src="/cardapio.ai/img/card-flags/{{img}}.svg">
        <p>{{tipoPagamento}}</p>
        <svg width="13" height="8" viewBox="0 0 13 8" fill="none" xmlns="http://www.w3.org/2000/svg">
            <path d="M11.889 0.75L13 1.84961L6.78572 8L0.571432 1.84961L1.68247 0.75L6.78572 5.80077L11.889 0.75Z"
                fill="#E4002B" />
        </svg>
    </div>
    <div class="paymentOptionRow-cards">
        {{paymentOptionRow-cards}}
    </div>
</div>