<div class="paymentondelivery-area section">
    <div class="header">
        <div class="back-arrow-paymentondelivery">
            <svg class="center-rel" width="14" height="24" viewBox="0 0 14 24" fill="none"
                xmlns="http://www.w3.org/2000/svg">
                <path d="M14 21.8545L11.8766 24L0 12L11.8766 0L14 2.14546L4.24679 12L14 21.8545Z" fill="#E4002B" />
            </svg>
        </div>
        <img class="center-rel logo" src="{{logo}}">
    </div>
    <div class="paymentondelivery-area-body center-rel-hor">
        <span class="paymentondelivery-area-title">Escolha como vai pagar</span>
        <img class="paymentondelivery-area-image" src="/cardapio.ai/img/paymentondelivery.svg">
        {{paymentOptionRows}}
        <span class="reminder">Lembre-se de usar máscara! 😷</span>
    </div>
</div>