<div class="payment-area">
    <div class="header">
        <div class="back-arrow-payment">
            <svg class="center-rel" width="14" height="24" viewBox="0 0 14 24" fill="none"
                xmlns="http://www.w3.org/2000/svg">
                <path d="M14 21.8545L11.8766 24L0 12L11.8766 0L14 2.14546L4.24679 12L14 21.8545Z" fill="#E4002B" />
            </svg>
        </div>
        <img class="center-rel logo" src="{{logo}}">
    </div>
    <div class="payment-area-body">
        <span class="payment-area-title center-abs-hor">Escolha a forma de pagamento</span>
        <div class="payonapp-button">
            <span class="payonapp-button-title">Pagar no app</span></br>
            <span class="payonapp-button-subtitle">Pague online com seu cartão de crédito ou débito.</span>
            <svg class="payonapp-button-button not-wl" width="112" height="32" viewBox="0 0 112 32" fill="none"
                xmlns="http://www.w3.org/2000/svg">
                <rect width="112" height="32" rx="16" fill="#E4002B" />
                <path
                    d="M14.5195 16.9941V20H12.7617V11.4688H16.0898C16.7305 11.4688 17.293 11.5859 17.7773 11.8203C18.2656 12.0547 18.6406 12.3887 18.9023 12.8223C19.1641 13.252 19.2949 13.7422 19.2949 14.293C19.2949 15.1289 19.0078 15.7891 18.4336 16.2734C17.8633 16.7539 17.0723 16.9941 16.0605 16.9941H14.5195ZM14.5195 15.5703H16.0898C16.5547 15.5703 16.9082 15.4609 17.1504 15.2422C17.3965 15.0234 17.5195 14.7109 17.5195 14.3047C17.5195 13.8867 17.3965 13.5488 17.1504 13.291C16.9043 13.0332 16.5645 12.9004 16.1309 12.8926H14.5195V15.5703ZM24.359 15.248C24.1285 15.2168 23.9254 15.2012 23.7496 15.2012C23.109 15.2012 22.6891 15.418 22.4898 15.8516V20H20.7965V13.6602H22.3961L22.443 14.416C22.7828 13.834 23.2535 13.543 23.8551 13.543C24.0426 13.543 24.2184 13.5684 24.3824 13.6191L24.359 15.248ZM25.1047 16.7715C25.1047 16.1426 25.2258 15.582 25.468 15.0898C25.7102 14.5977 26.0578 14.2168 26.5109 13.9473C26.968 13.6777 27.4973 13.543 28.0988 13.543C28.9543 13.543 29.6516 13.8047 30.1906 14.3281C30.7336 14.8516 31.0363 15.5625 31.0988 16.4609L31.1105 16.8945C31.1105 17.8672 30.8391 18.6484 30.2961 19.2383C29.7531 19.8242 29.0246 20.1172 28.1105 20.1172C27.1965 20.1172 26.466 19.8242 25.9191 19.2383C25.3762 18.6523 25.1047 17.8555 25.1047 16.8477V16.7715ZM26.798 16.8945C26.798 17.4961 26.9113 17.957 27.1379 18.2773C27.3645 18.5938 27.6887 18.752 28.1105 18.752C28.5207 18.752 28.841 18.5957 29.0715 18.2832C29.302 17.9668 29.4172 17.4629 29.4172 16.7715C29.4172 16.1816 29.302 15.7246 29.0715 15.4004C28.841 15.0762 28.5168 14.9141 28.0988 14.9141C27.6848 14.9141 27.3645 15.0762 27.1379 15.4004C26.9113 15.7207 26.798 16.2188 26.798 16.8945ZM35.9871 18.248C35.9871 18.041 35.8836 17.8789 35.6766 17.7617C35.4734 17.6406 35.1453 17.5332 34.6922 17.4395C33.1844 17.123 32.4305 16.4824 32.4305 15.5176C32.4305 14.9551 32.6629 14.4863 33.1277 14.1113C33.5965 13.7324 34.2078 13.543 34.9617 13.543C35.7664 13.543 36.409 13.7324 36.8895 14.1113C37.3738 14.4902 37.616 14.9824 37.616 15.5879H35.9227C35.9227 15.3457 35.8445 15.1465 35.6883 14.9902C35.532 14.8301 35.2879 14.75 34.9559 14.75C34.6707 14.75 34.45 14.8145 34.2938 14.9434C34.1375 15.0723 34.0594 15.2363 34.0594 15.4355C34.0594 15.623 34.1473 15.7754 34.323 15.8926C34.5027 16.0059 34.8035 16.1055 35.2254 16.1914C35.6473 16.2734 36.0027 16.3672 36.2918 16.4727C37.1863 16.8008 37.6336 17.3691 37.6336 18.1777C37.6336 18.7559 37.3855 19.2246 36.8895 19.584C36.3934 19.9395 35.7527 20.1172 34.9676 20.1172C34.4363 20.1172 33.9637 20.0234 33.5496 19.8359C33.1395 19.6445 32.8172 19.3848 32.5828 19.0566C32.3484 18.7246 32.2313 18.3672 32.2313 17.9844H33.8367C33.8523 18.2852 33.9637 18.5156 34.1707 18.6758C34.3777 18.8359 34.6551 18.916 35.0027 18.916C35.327 18.916 35.5711 18.8555 35.7352 18.7344C35.9031 18.6094 35.9871 18.4473 35.9871 18.248ZM42.5629 18.248C42.5629 18.041 42.4594 17.8789 42.2523 17.7617C42.0492 17.6406 41.7211 17.5332 41.268 17.4395C39.7602 17.123 39.0063 16.4824 39.0063 15.5176C39.0063 14.9551 39.2387 14.4863 39.7035 14.1113C40.1723 13.7324 40.7836 13.543 41.5375 13.543C42.3422 13.543 42.9848 13.7324 43.4652 14.1113C43.9496 14.4902 44.1918 14.9824 44.1918 15.5879H42.4984C42.4984 15.3457 42.4203 15.1465 42.2641 14.9902C42.1078 14.8301 41.8637 14.75 41.5316 14.75C41.2465 14.75 41.0258 14.8145 40.8695 14.9434C40.7133 15.0723 40.6352 15.2363 40.6352 15.4355C40.6352 15.623 40.723 15.7754 40.8988 15.8926C41.0785 16.0059 41.3793 16.1055 41.8012 16.1914C42.223 16.2734 42.5785 16.3672 42.8676 16.4727C43.7621 16.8008 44.2094 17.3691 44.2094 18.1777C44.2094 18.7559 43.9613 19.2246 43.4652 19.584C42.9691 19.9395 42.3285 20.1172 41.5434 20.1172C41.0121 20.1172 40.5395 20.0234 40.1254 19.8359C39.7152 19.6445 39.393 19.3848 39.1586 19.0566C38.9242 18.7246 38.807 18.3672 38.807 17.9844H40.4125C40.4281 18.2852 40.5395 18.5156 40.7465 18.6758C40.9535 18.8359 41.2309 18.916 41.5785 18.916C41.9027 18.916 42.1469 18.8555 42.3109 18.7344C42.4789 18.6094 42.5629 18.4473 42.5629 18.248ZM48.623 20.1172C47.6934 20.1172 46.9355 19.832 46.3496 19.2617C45.7676 18.6914 45.4766 17.9316 45.4766 16.9824V16.8184C45.4766 16.1816 45.5996 15.6133 45.8457 15.1133C46.0918 14.6094 46.4395 14.2227 46.8887 13.9531C47.3418 13.6797 47.8574 13.543 48.4355 13.543C49.3027 13.543 49.9844 13.8164 50.4805 14.3633C50.9805 14.9102 51.2305 15.6855 51.2305 16.6895V17.3809H47.1934C47.248 17.7949 47.4121 18.127 47.6855 18.377C47.9629 18.627 48.3125 18.752 48.7344 18.752C49.3867 18.752 49.8965 18.5156 50.2637 18.043L51.0957 18.9746C50.8418 19.334 50.498 19.6152 50.0645 19.8184C49.6309 20.0176 49.1504 20.1172 48.623 20.1172ZM48.4297 14.9141C48.0938 14.9141 47.8203 15.0273 47.6094 15.2539C47.4023 15.4805 47.2695 15.8047 47.2109 16.2266H49.5664V16.0918C49.5586 15.7168 49.457 15.4277 49.2617 15.2246C49.0664 15.0176 48.7891 14.9141 48.4297 14.9141ZM52.3512 16.7832C52.3512 15.8105 52.5816 15.0273 53.0426 14.4336C53.5074 13.8398 54.1324 13.543 54.9176 13.543C55.6129 13.543 56.1539 13.7812 56.5406 14.2578L56.6109 13.6602H58.1461V19.7891C58.1461 20.3438 58.0191 20.8262 57.7652 21.2363C57.5152 21.6465 57.1617 21.959 56.7047 22.1738C56.2477 22.3887 55.7125 22.4961 55.0992 22.4961C54.6344 22.4961 54.1813 22.4023 53.7398 22.2148C53.2984 22.0312 52.9645 21.793 52.7379 21.5L53.4879 20.4688C53.9098 20.9414 54.4215 21.1777 55.023 21.1777C55.4723 21.1777 55.8219 21.0566 56.0719 20.8145C56.3219 20.5762 56.4469 20.2363 56.4469 19.7949V19.4551C56.0563 19.8965 55.5426 20.1172 54.9059 20.1172C54.1441 20.1172 53.527 19.8203 53.0543 19.2266C52.5855 18.6289 52.3512 17.8379 52.3512 16.8535V16.7832ZM54.0445 16.9062C54.0445 17.4805 54.1598 17.9316 54.3902 18.2598C54.6207 18.584 54.9371 18.7461 55.3395 18.7461C55.8551 18.7461 56.2242 18.5527 56.4469 18.166V15.5C56.2203 15.1133 55.8551 14.9199 55.3512 14.9199C54.9449 14.9199 54.6246 15.0859 54.3902 15.418C54.1598 15.75 54.0445 16.2461 54.0445 16.9062ZM63.6496 19.3555C63.2316 19.8633 62.6535 20.1172 61.9152 20.1172C61.2355 20.1172 60.716 19.9219 60.3566 19.5312C60.0012 19.1406 59.8195 18.5684 59.8117 17.8145V13.6602H61.5051V17.7559C61.5051 18.416 61.8059 18.7461 62.4074 18.7461C62.9816 18.7461 63.3762 18.5469 63.591 18.1484V13.6602H65.2902V20H63.6965L63.6496 19.3555ZM68.7547 20H67.0555V13.6602H68.7547V20ZM66.9559 12.0195C66.9559 11.7656 67.0398 11.5566 67.2078 11.3926C67.3797 11.2285 67.6121 11.1465 67.9051 11.1465C68.1941 11.1465 68.4246 11.2285 68.5965 11.3926C68.7684 11.5566 68.8543 11.7656 68.8543 12.0195C68.8543 12.2773 68.7664 12.4883 68.5906 12.6523C68.4188 12.8164 68.1902 12.8984 67.9051 12.8984C67.6199 12.8984 67.3895 12.8164 67.2137 12.6523C67.0418 12.4883 66.9559 12.2773 66.9559 12.0195ZM74.1176 15.248C73.8871 15.2168 73.684 15.2012 73.5082 15.2012C72.8676 15.2012 72.4477 15.418 72.2484 15.8516V20H70.5551V13.6602H72.1547L72.2016 14.416C72.5414 13.834 73.0121 13.543 73.6137 13.543C73.8012 13.543 73.977 13.5684 74.141 13.6191L74.1176 15.248Z"
                    fill="white" />
                <path d="M95 9L93.59 10.41L98.17 15H82V17H98.17L93.58 21.59L95 23L102 16L95 9Z" fill="white" />
            </svg>
            <img src="/img/paymentonapp.svg" style="position: absolute; right: 0; bottom: 0;">
        </div>
        <div class="payondelivey-button">
            <span class="payondelivey-button-title">Pagar na entrega</span></br>
            <span class="payondelivey-button-subtitle">O entregador vai receber o pagamento. Pague em dinheiro ou com
                cartão.</span>
            <svg class="payondelivey-button-button not-wl" width="112" height="32" viewBox="0 0 112 32" fill="none"
                xmlns="http://www.w3.org/2000/svg">
                <path
                    d="M14.5195 16.9941V20H12.7617V11.4688H16.0898C16.7305 11.4688 17.293 11.5859 17.7773 11.8203C18.2656 12.0547 18.6406 12.3887 18.9023 12.8223C19.1641 13.252 19.2949 13.7422 19.2949 14.293C19.2949 15.1289 19.0078 15.7891 18.4336 16.2734C17.8633 16.7539 17.0723 16.9941 16.0605 16.9941H14.5195ZM14.5195 15.5703H16.0898C16.5547 15.5703 16.9082 15.4609 17.1504 15.2422C17.3965 15.0234 17.5195 14.7109 17.5195 14.3047C17.5195 13.8867 17.3965 13.5488 17.1504 13.291C16.9043 13.0332 16.5645 12.9004 16.1309 12.8926H14.5195V15.5703ZM24.359 15.248C24.1285 15.2168 23.9254 15.2012 23.7496 15.2012C23.109 15.2012 22.6891 15.418 22.4898 15.8516V20H20.7965V13.6602H22.3961L22.443 14.416C22.7828 13.834 23.2535 13.543 23.8551 13.543C24.0426 13.543 24.2184 13.5684 24.3824 13.6191L24.359 15.248ZM25.1047 16.7715C25.1047 16.1426 25.2258 15.582 25.468 15.0898C25.7102 14.5977 26.0578 14.2168 26.5109 13.9473C26.968 13.6777 27.4973 13.543 28.0988 13.543C28.9543 13.543 29.6516 13.8047 30.1906 14.3281C30.7336 14.8516 31.0363 15.5625 31.0988 16.4609L31.1105 16.8945C31.1105 17.8672 30.8391 18.6484 30.2961 19.2383C29.7531 19.8242 29.0246 20.1172 28.1105 20.1172C27.1965 20.1172 26.466 19.8242 25.9191 19.2383C25.3762 18.6523 25.1047 17.8555 25.1047 16.8477V16.7715ZM26.798 16.8945C26.798 17.4961 26.9113 17.957 27.1379 18.2773C27.3645 18.5938 27.6887 18.752 28.1105 18.752C28.5207 18.752 28.841 18.5957 29.0715 18.2832C29.302 17.9668 29.4172 17.4629 29.4172 16.7715C29.4172 16.1816 29.302 15.7246 29.0715 15.4004C28.841 15.0762 28.5168 14.9141 28.0988 14.9141C27.6848 14.9141 27.3645 15.0762 27.1379 15.4004C26.9113 15.7207 26.798 16.2188 26.798 16.8945ZM35.9871 18.248C35.9871 18.041 35.8836 17.8789 35.6766 17.7617C35.4734 17.6406 35.1453 17.5332 34.6922 17.4395C33.1844 17.123 32.4305 16.4824 32.4305 15.5176C32.4305 14.9551 32.6629 14.4863 33.1277 14.1113C33.5965 13.7324 34.2078 13.543 34.9617 13.543C35.7664 13.543 36.409 13.7324 36.8895 14.1113C37.3738 14.4902 37.616 14.9824 37.616 15.5879H35.9227C35.9227 15.3457 35.8445 15.1465 35.6883 14.9902C35.532 14.8301 35.2879 14.75 34.9559 14.75C34.6707 14.75 34.45 14.8145 34.2938 14.9434C34.1375 15.0723 34.0594 15.2363 34.0594 15.4355C34.0594 15.623 34.1473 15.7754 34.323 15.8926C34.5027 16.0059 34.8035 16.1055 35.2254 16.1914C35.6473 16.2734 36.0027 16.3672 36.2918 16.4727C37.1863 16.8008 37.6336 17.3691 37.6336 18.1777C37.6336 18.7559 37.3855 19.2246 36.8895 19.584C36.3934 19.9395 35.7527 20.1172 34.9676 20.1172C34.4363 20.1172 33.9637 20.0234 33.5496 19.8359C33.1395 19.6445 32.8172 19.3848 32.5828 19.0566C32.3484 18.7246 32.2313 18.3672 32.2313 17.9844H33.8367C33.8523 18.2852 33.9637 18.5156 34.1707 18.6758C34.3777 18.8359 34.6551 18.916 35.0027 18.916C35.327 18.916 35.5711 18.8555 35.7352 18.7344C35.9031 18.6094 35.9871 18.4473 35.9871 18.248ZM42.5629 18.248C42.5629 18.041 42.4594 17.8789 42.2523 17.7617C42.0492 17.6406 41.7211 17.5332 41.268 17.4395C39.7602 17.123 39.0063 16.4824 39.0063 15.5176C39.0063 14.9551 39.2387 14.4863 39.7035 14.1113C40.1723 13.7324 40.7836 13.543 41.5375 13.543C42.3422 13.543 42.9848 13.7324 43.4652 14.1113C43.9496 14.4902 44.1918 14.9824 44.1918 15.5879H42.4984C42.4984 15.3457 42.4203 15.1465 42.2641 14.9902C42.1078 14.8301 41.8637 14.75 41.5316 14.75C41.2465 14.75 41.0258 14.8145 40.8695 14.9434C40.7133 15.0723 40.6352 15.2363 40.6352 15.4355C40.6352 15.623 40.723 15.7754 40.8988 15.8926C41.0785 16.0059 41.3793 16.1055 41.8012 16.1914C42.223 16.2734 42.5785 16.3672 42.8676 16.4727C43.7621 16.8008 44.2094 17.3691 44.2094 18.1777C44.2094 18.7559 43.9613 19.2246 43.4652 19.584C42.9691 19.9395 42.3285 20.1172 41.5434 20.1172C41.0121 20.1172 40.5395 20.0234 40.1254 19.8359C39.7152 19.6445 39.393 19.3848 39.1586 19.0566C38.9242 18.7246 38.807 18.3672 38.807 17.9844H40.4125C40.4281 18.2852 40.5395 18.5156 40.7465 18.6758C40.9535 18.8359 41.2309 18.916 41.5785 18.916C41.9027 18.916 42.1469 18.8555 42.3109 18.7344C42.4789 18.6094 42.5629 18.4473 42.5629 18.248ZM48.623 20.1172C47.6934 20.1172 46.9355 19.832 46.3496 19.2617C45.7676 18.6914 45.4766 17.9316 45.4766 16.9824V16.8184C45.4766 16.1816 45.5996 15.6133 45.8457 15.1133C46.0918 14.6094 46.4395 14.2227 46.8887 13.9531C47.3418 13.6797 47.8574 13.543 48.4355 13.543C49.3027 13.543 49.9844 13.8164 50.4805 14.3633C50.9805 14.9102 51.2305 15.6855 51.2305 16.6895V17.3809H47.1934C47.248 17.7949 47.4121 18.127 47.6855 18.377C47.9629 18.627 48.3125 18.752 48.7344 18.752C49.3867 18.752 49.8965 18.5156 50.2637 18.043L51.0957 18.9746C50.8418 19.334 50.498 19.6152 50.0645 19.8184C49.6309 20.0176 49.1504 20.1172 48.623 20.1172ZM48.4297 14.9141C48.0938 14.9141 47.8203 15.0273 47.6094 15.2539C47.4023 15.4805 47.2695 15.8047 47.2109 16.2266H49.5664V16.0918C49.5586 15.7168 49.457 15.4277 49.2617 15.2246C49.0664 15.0176 48.7891 14.9141 48.4297 14.9141ZM52.3512 16.7832C52.3512 15.8105 52.5816 15.0273 53.0426 14.4336C53.5074 13.8398 54.1324 13.543 54.9176 13.543C55.6129 13.543 56.1539 13.7812 56.5406 14.2578L56.6109 13.6602H58.1461V19.7891C58.1461 20.3438 58.0191 20.8262 57.7652 21.2363C57.5152 21.6465 57.1617 21.959 56.7047 22.1738C56.2477 22.3887 55.7125 22.4961 55.0992 22.4961C54.6344 22.4961 54.1813 22.4023 53.7398 22.2148C53.2984 22.0312 52.9645 21.793 52.7379 21.5L53.4879 20.4688C53.9098 20.9414 54.4215 21.1777 55.023 21.1777C55.4723 21.1777 55.8219 21.0566 56.0719 20.8145C56.3219 20.5762 56.4469 20.2363 56.4469 19.7949V19.4551C56.0563 19.8965 55.5426 20.1172 54.9059 20.1172C54.1441 20.1172 53.527 19.8203 53.0543 19.2266C52.5855 18.6289 52.3512 17.8379 52.3512 16.8535V16.7832ZM54.0445 16.9062C54.0445 17.4805 54.1598 17.9316 54.3902 18.2598C54.6207 18.584 54.9371 18.7461 55.3395 18.7461C55.8551 18.7461 56.2242 18.5527 56.4469 18.166V15.5C56.2203 15.1133 55.8551 14.9199 55.3512 14.9199C54.9449 14.9199 54.6246 15.0859 54.3902 15.418C54.1598 15.75 54.0445 16.2461 54.0445 16.9062ZM63.6496 19.3555C63.2316 19.8633 62.6535 20.1172 61.9152 20.1172C61.2355 20.1172 60.716 19.9219 60.3566 19.5312C60.0012 19.1406 59.8195 18.5684 59.8117 17.8145V13.6602H61.5051V17.7559C61.5051 18.416 61.8059 18.7461 62.4074 18.7461C62.9816 18.7461 63.3762 18.5469 63.591 18.1484V13.6602H65.2902V20H63.6965L63.6496 19.3555ZM68.7547 20H67.0555V13.6602H68.7547V20ZM66.9559 12.0195C66.9559 11.7656 67.0398 11.5566 67.2078 11.3926C67.3797 11.2285 67.6121 11.1465 67.9051 11.1465C68.1941 11.1465 68.4246 11.2285 68.5965 11.3926C68.7684 11.5566 68.8543 11.7656 68.8543 12.0195C68.8543 12.2773 68.7664 12.4883 68.5906 12.6523C68.4188 12.8164 68.1902 12.8984 67.9051 12.8984C67.6199 12.8984 67.3895 12.8164 67.2137 12.6523C67.0418 12.4883 66.9559 12.2773 66.9559 12.0195ZM74.1176 15.248C73.8871 15.2168 73.684 15.2012 73.5082 15.2012C72.8676 15.2012 72.4477 15.418 72.2484 15.8516V20H70.5551V13.6602H72.1547L72.2016 14.416C72.5414 13.834 73.0121 13.543 73.6137 13.543C73.8012 13.543 73.977 13.5684 74.141 13.6191L74.1176 15.248Z"
                    fill="#E4002B" />
                <path d="M95 9L93.59 10.41L98.17 15H82V17H98.17L93.58 21.59L95 23L102 16L95 9Z" fill="#E4002B" />
                <rect x="0.5" y="0.5" width="111" height="31" rx="15.5" stroke="#E4002B" />
            </svg>
            <img src="/img/paymentondelivery.svg" style="position: absolute; right: 0; bottom: 0;">
        </div>
    </div>
</div>
