<div class="schedule-area section">
    <div class="header">
        <div class="back-arrow-schedule">
            <svg class="center-rel" width="14" height="24" viewBox="0 0 14 24" fill="none"
                xmlns="http://www.w3.org/2000/svg">
                <path d="M14 21.8545L11.8766 24L0 12L11.8766 0L14 2.14546L4.24679 12L14 21.8545Z" fill="#E4002B" />
            </svg>
        </div>
        <img class="center-rel logo" src="{{logo}}">
    </div>
    <div class="schedule-area-body center-rel-hor">
        <span class="schedule-area-title">Agendamento de entrega</span>
        <div class="schedule-alert" style="display: none;">
            <svg class="not-wl" width="65" height="48" viewBox="0 0 65 48" fill="none"
                xmlns="http://www.w3.org/2000/svg">
                <g clip-path="url(#clip0)">
                    <path
                        d="M29 57.5C47.5015 57.5 62.5 42.5015 62.5 24C62.5 5.49846 47.5015 -9.5 29 -9.5C10.4985 -9.5 -4.5 5.49846 -4.5 24C-4.5 42.5015 10.4985 57.5 29 57.5Z"
                        stroke="#B00020" stroke-width="5" />
                    <path
                        d="M31.9598 29.9348H26.0155L25.1734 8H32.8019L31.9598 29.9348ZM28.9876 33.3696C30.193 33.3696 31.1589 33.6812 31.8854 34.3043C32.6285 34.9275 33 35.7246 33 36.6957C33 37.6522 32.6285 38.442 31.8854 39.0652C31.1589 39.6884 30.193 40 28.9876 40C27.7988 40 26.8328 39.6884 26.0898 39.0652C25.3633 38.442 25 37.6522 25 36.6957C25 35.7391 25.3633 34.9493 26.0898 34.3261C26.8328 33.6884 27.7988 33.3696 28.9876 33.3696Z"
                        fill="#B00020" />
                </g>
                <defs>
                    <clipPath id="clip0">
                        <rect width="65" height="48" fill="white" />
                    </clipPath>
                </defs>
            </svg>
            <p>Horário selecionado indisponível</p>
        </div>
        <div class="opening-hours">
            <span>Horários de funcionamento</span>
            <svg width="16" height="10" viewBox="0 0 16 10" fill="none" xmlns="http://www.w3.org/2000/svg">
                <path d="M14.5697 0.5L16 1.86504L8 9.5L9.1046e-08 1.86504L1.4303 0.5L8 6.76992L14.5697 0.5Z"
                    fill="#E4002B" />
            </svg>
        </div>
        <div class="opening-hours-details">
            {{horariosDisponiveis}}
        </div>
        <p class="schedule-area-subtitle">Escolha a data</p>
    </div>
    <div class="schedule-pickers">
        <input type="text" class="datepicker" style="display:none">
        <input type="text" class="timepicker" style="display:none">
    </div>
    <div class="schedule-gray-area"></div>
</div>