<div class="simulate-shipping default">
    <div class="simulate-shipping-field">
        <div>
            <p>Taxa de entrega:</p>
            <p></p>
            <div>
                <input class="cep_input" autocomplete="postal-code" type="text" maxlength="10" required
                    inputmode="numeric" placeholder="00000-000">
                <button></button>
            </div>
        </div>
        <p class="simulate-shipping-error">Cep inválido.</p>
        <p class="simulate-shipping-address"></p>
    </div>
    <button class="address-button gps-button">
        <svg class="not-wl" width="16" height="16" viewBox="0 0 16 16" fill="none" xmlns="http://www.w3.org/2000/svg">
            <path
                d="M2.32143 8.37286L7.49233 8.38751C7.53627 8.38751 7.56801 8.39972 7.58754 8.42413C7.61196 8.44366 7.62416 8.4754 7.62416 8.51935L7.63881 13.6609C7.63881 13.8465 7.67787 14.0052 7.756 14.137C7.83412 14.2689 7.93666 14.3641 8.06362 14.4227C8.19545 14.4861 8.33217 14.5106 8.47377 14.4959C8.62026 14.4813 8.75698 14.4251 8.88393 14.3275C9.01576 14.2347 9.12563 14.0955 9.21352 13.91L14.3991 2.77716C14.5065 2.54279 14.548 2.33282 14.5236 2.14728C14.4992 1.96173 14.4235 1.81281 14.2965 1.7005C14.1696 1.58331 14.0084 1.5174 13.8131 1.50275C13.6227 1.4881 13.4176 1.53204 13.1979 1.63458L1.99916 6.8421C1.83315 6.91534 1.70619 7.01544 1.6183 7.1424C1.5353 7.26935 1.48647 7.40363 1.47182 7.54523C1.46205 7.68195 1.48647 7.81378 1.54506 7.94073C1.60854 8.06281 1.70375 8.16534 1.83071 8.24835C1.96254 8.33136 2.12612 8.37286 2.32143 8.37286Z"
                fill="#0962BA" />
        </svg>
        Usar localização atual
    </button>
</div>