<div class="cart-area bill-area section">
    <input id="path" type="hidden" value="{{path}}">
    <div class="header">
        <div class="back-arrow">
            <svg class="center-rel" width="14" height="24" viewBox="0 0 14 24" fill="none"
                xmlns="http://www.w3.org/2000/svg">
                <path d="M14 21.8545L11.8766 24L0 12L11.8766 0L14 2.14546L4.24679 12L14 21.8545Z" fill="#E4002B" />
            </svg>
        </div>
        <img class="center-rel logo" src="{{logo}}">
    </div>
    <div class="cart bill center-rel-hor">
        <div class="title">
            <span>Pedido</span>
        </div>
        <div class="itens">
            <div class="itens-1">
                {{itens1}}
            </div>
            <div class="itens-2">
                {{itens2}}
            </div>
        </div>
        <div class="value">
            <span>Total:</span>
            <span>{{valueFinal}}</span>
        </div>
        <div class="responsive-cart">
            <div class="name-user">
                <span>Como se chama?</span>
                <input type="text" class="{{formDisabled}}" value="{{user}}">
            </div>
            <div class="telefone-user">
                <span>Qual o seu telefone?</span>
                <input id="fone" class="fone {{formDisabled}}" type="text" value="{{phone}}" inputmode="numeric">
            </div>
        </div>
        <button class="bill-confirm" {{buttonDisabled}}>
            <svg class="not-wl" width="25" height="24" viewBox="0 0 25 24" fill="none"
                xmlns="http://www.w3.org/2000/svg">
                <path
                    d="M4.00006 3C3.44806 3 3.00006 3.448 3.00006 4V8C3.00006 8.552 3.44806 9 4.00006 9H8.00006C8.55206 9 9.00006 8.552 9.00006 8V4C9.00006 3.448 8.55206 3 8.00006 3H4.00006ZM11.0001 3V5H13.0001V3H11.0001ZM16.0001 3C15.4481 3 15.0001 3.448 15.0001 4V8C15.0001 8.552 15.4481 9 16.0001 9H20.0001C20.5521 9 21.0001 8.552 21.0001 8V4C21.0001 3.448 20.5521 3 20.0001 3H16.0001ZM5.00006 5H7.00006V7H5.00006V5ZM17.0001 5H19.0001V7H17.0001V5ZM11.0001 7V9H13.0001V7H11.0001ZM3.00006 11V13H5.00006V11H3.00006ZM7.00006 11V13H9.00006V11H7.00006ZM11.0001 11V13H13.0001V11H11.0001ZM13.0001 13V15H15.0001V13H13.0001ZM15.0001 13H17.0001V11H15.0001V13ZM17.0001 13V15H19.0001V13H17.0001ZM19.0001 13H21.0001V11H19.0001V13ZM19.0001 15V17H21.0001V15H19.0001ZM19.0001 17H17.0001V19H19.0001V17ZM19.0001 19V21H21.0001V19H19.0001ZM17.0001 19H15.0001V21H17.0001V19ZM15.0001 19V17H13.0001V19H15.0001ZM13.0001 19H11.0001V21H13.0001V19ZM13.0001 17V15H11.0001V17H13.0001ZM15.0001 17H17.0001V15H15.0001V17ZM4.00006 15C3.44806 15 3.00006 15.448 3.00006 16V20C3.00006 20.552 3.44806 21 4.00006 21H8.00006C8.55206 21 9.00006 20.552 9.00006 20V16C9.00006 15.448 8.55206 15 8.00006 15H4.00006ZM5.00006 17H7.00006V19H5.00006V17Z"
                    fill="white" />
            </svg>
            <span>Confirmar pedido</span>
        </button>
    </div>
</div>