<div class="cart-area bill-area section">
    <div class="header">
        <div class="back-arrow">
            <svg class="center-rel" width="14" height="24" viewBox="0 0 14 24" fill="none"
                xmlns="http://www.w3.org/2000/svg">
                <path d="M14 21.8545L11.8766 24L0 12L11.8766 0L14 2.14546L4.24679 12L14 21.8545Z" fill="#E4002B" />
            </svg>
        </div>
        <img class="center-rel logo" src="{{logo}}">
    </div>
    <div class="cart bill center-rel-hor">
        <input id="frete_H" type="hidden" value="{{frete}}">
        <div class="bill-title">
            <span>Seu pedido</span>
        </div>
        {{addressExists}}
        <div class="sub-title">
            <span>Itens do pedido</span>
        </div>
        <div class="itens">
            <div class="itens-1">
                {{itens1}}
            </div>
            <div class="itens-2">
                {{itens2}}
            </div>
        </div>
        <div class="sub-title">
            <span>Detalhes da conta</span>
        </div>
        <div class="divider"></div>
        <div class="order-bill">
            <div>
                <span>Subtotal:</span>
                <span>{{subtotal}}</span>
            </div>
            {{freteInfo}}
            <div>
                <span>Total</span>
                <span>{{valueFinal}}</span>
            </div>
        </div>
        <div class="divider"></div>
        {{couponArea}}
        {{paymentArea}}
    </div>
    <div class="bottom-action" stageMain="{{stageMain}}">
        <div>
            <p>Como quer seu pedido?</p>
            <div>
                <button class="bottom-action-button" stage="{{stage}}">
                    <svg class="not-wl" width="28" height="22" viewBox="0 0 28 22" fill="none"
                        xmlns="http://www.w3.org/2000/svg">
                        <path
                            d="M17.0941 9.06627C17.1216 9.06648 17.1559 9.0736 17.1834 9.07381L17.1835 9.06697L17.0941 9.06627Z"
                            fill="#FCFCFC" />
                        <path
                            d="M27.2375 16.5673C27.1887 16.1286 27.0641 15.7018 26.8693 15.3057C26.5138 14.5643 25.935 13.9528 25.2143 13.5573C24.4936 13.1618 23.6671 13.0022 22.8511 13.1007C22.5861 13.1336 22.3253 13.1938 22.0728 13.2803L20.6154 10.6415C20.7595 10.6905 20.9096 10.7195 21.0616 10.7275C21.194 10.7398 21.3276 10.7245 21.4538 10.6825C21.6537 10.6084 21.3963 9.2445 21.3511 8.87273C21.2993 8.46652 21.2333 8.1221 21.1958 7.64034C21.1956 7.61378 21.1888 7.5877 21.1758 7.56453C21.1659 7.54163 21.1493 7.5223 21.1281 7.50913C21.0937 7.47415 21.047 7.45403 20.9979 7.45308C20.9842 7.45298 20.9772 7.4598 20.9704 7.45974C20.6321 7.49965 20.3154 7.64656 20.0665 7.87908C19.8155 8.11356 19.6427 8.41955 19.5715 8.75558L19.3613 8.37564L18.8326 7.41544C18.8122 7.38777 18.7987 7.36015 18.7715 7.32555C18.751 7.29788 18.7305 7.27708 18.7102 7.24941C18.6266 7.16473 18.5231 7.10242 18.4091 7.06821C18.3098 7.0342 18.204 7.02394 18.1 7.03827L17.7628 7.0769C17.7628 7.08377 17.7696 7.0907 17.7695 7.09758C17.8475 7.36233 17.825 7.64655 17.7063 7.89569C17.5876 8.14484 17.3811 8.34134 17.1264 8.4475C17.0989 8.45416 17.0713 8.4677 17.0437 8.47436C16.7759 8.53885 16.4988 8.5553 16.2252 8.52296L16.129 8.5222C16.3743 8.80613 16.8083 8.69261 17.1249 8.64695C17.3176 8.61407 17.5035 8.58802 17.6962 8.56202L17.7788 8.54892L17.7855 8.5696L18.0703 9.07393C17.5478 9.06983 17.0254 9.05885 16.5029 9.06162C16.4341 9.06108 16.3653 9.06739 16.2897 9.06679C16.2279 9.06631 16.1592 9.05892 16.0973 9.05844L14.8118 9.04834C14.7704 9.04688 14.729 9.04885 14.688 9.05421C14.4865 9.06781 14.2908 9.12745 14.116 9.22855C14.0052 9.28954 13.9048 9.36768 13.8185 9.46007L14.1479 9.53831C14.4842 9.61661 14.7998 9.69475 14.9851 9.73747C15.0263 9.74464 15.0606 9.75182 15.0605 9.7587L15.088 9.75891L15.1635 9.77326L15.1909 9.78723C15.2526 9.80835 15.3075 9.82942 15.3555 9.85043L15.4376 9.89234C15.7987 10.0764 16.0763 10.3908 16.2145 10.7719C16.356 11.165 16.3452 11.5968 16.1843 11.9822L13.9437 17.1644C13.8596 17.3604 13.7366 17.5373 13.5821 17.6843C13.4294 17.8339 13.2485 17.9517 13.05 18.0309C12.8522 18.1064 12.6421 18.1444 12.4304 18.1429C12.2172 18.1405 12.0066 18.0952 11.8113 18.0098C11.6159 17.9243 11.4397 17.8005 11.2931 17.6457C11.1478 17.4883 11.0327 17.3055 10.9535 17.1065C10.8754 16.9094 10.8374 16.6986 10.8415 16.4866C10.8481 16.274 10.894 16.0645 10.977 15.8687L12.2934 12.8183L10.2901 12.2936C9.94639 12.2088 9.63189 12.0329 9.37974 11.7843C9.20819 11.61 9.06584 11.4092 8.95817 11.1895C8.84753 11.2275 8.73095 11.2452 8.61402 11.2418C8.49996 11.2418 8.38654 11.2247 8.27755 11.1911L4.19707 9.90726L2.90088 9.50503C2.86614 9.55854 2.83798 9.61606 2.81703 9.67632L2.75333 9.90968L2.63279 10.3764C2.62096 10.4306 2.61591 10.486 2.61774 10.5414C2.62836 10.5965 2.64644 10.6499 2.67149 10.7C2.70223 10.7482 2.73883 10.7924 2.78046 10.8316C2.82789 10.8605 2.87845 10.884 2.93116 10.9015L3.09577 10.951L5.71625 11.68L5.73682 11.687L7.314 12.2015C7.34087 12.209 7.36632 12.2208 7.38935 12.2365L6.7705 13.1258L6.6106 13.3515C6.14574 13.1465 5.64293 13.0418 5.13492 13.0442C4.40771 13.0395 3.69304 13.2337 3.06804 13.6057C2.44352 13.984 1.93447 14.5262 1.5961 15.1734C1.25774 15.8206 1.10298 16.5482 1.14861 17.2772C1.19114 18.0066 1.43292 18.7103 1.84762 19.3117C2.2644 19.9082 2.8326 20.3827 3.49367 20.6865C4.15757 20.9812 4.88991 21.0869 5.61 20.9918C6.33009 20.8967 7.00996 20.6046 7.57471 20.1476C8.14132 19.6856 8.57151 19.0779 8.81912 18.3898C8.97985 17.9665 9.06032 17.5169 9.0564 17.0642C9.05705 16.9816 9.0577 16.8991 9.05147 16.8165C9.02954 16.2993 8.90006 15.7923 8.6713 15.3279C8.63763 15.244 8.59686 15.1631 8.54945 15.0862C8.52915 15.0448 8.50192 15.0102 8.48162 14.9687C8.31434 14.6948 8.11813 14.4396 7.89636 14.2076L8.29983 13.6055L8.64761 13.0923L8.8113 13.2587C8.85904 13.3072 8.90678 13.3558 8.94765 13.4042C8.99534 13.4596 9.03621 13.5081 9.0839 13.5635C9.12471 13.6189 9.16558 13.6673 9.21322 13.7296C9.42148 14.0068 9.60329 14.303 9.75626 14.6143C9.78387 14.6682 9.80867 14.7234 9.83058 14.7799C9.89819 14.9249 9.95893 15.0698 10.0127 15.2215C10.0396 15.2974 10.0665 15.3733 10.0934 15.456L10.1337 15.5801C10.1807 15.7249 10.2138 15.8765 10.2471 16.0143C10.2737 16.1315 10.3003 16.2486 10.3201 16.3588C10.3333 16.4277 10.3464 16.5035 10.3528 16.5723C10.426 17.0179 10.4547 17.4697 10.4384 17.9211C10.4373 18.0455 10.4774 18.1668 10.5526 18.2659C10.6261 18.3541 10.7234 18.4194 10.833 18.4538C10.8801 18.4655 10.9287 18.4705 10.9773 18.4687L12.5721 18.4812C12.9158 18.4839 13.2665 18.4798 13.6102 18.4825C14.2278 18.5541 14.8535 18.4958 15.4472 18.3112C15.9703 18.0774 16.4013 17.6769 16.673 17.1722L17.2866 16.0627L17.7119 15.3164L18.9997 13.2837L19.0345 13.229L19.0832 13.1537L19.3616 12.7225L19.4173 12.6336L19.4592 12.5514C19.4801 12.5103 19.5011 12.4692 19.5221 12.4212C19.5446 12.3755 19.5612 12.3271 19.5713 12.2771C19.6022 12.1581 19.6193 12.0359 19.6223 11.913L19.6225 11.8855L20.7952 14.0062C20.7468 14.0471 20.7053 14.0812 20.6568 14.1221C20.1622 14.5869 19.7913 15.1679 19.5779 15.8125C19.3739 16.4617 19.3331 17.1512 19.459 17.8199C19.5901 18.4857 19.8892 19.1069 20.328 19.6244C20.7668 20.142 21.3306 20.5386 21.9658 20.7765C22.5995 21.0114 23.2832 21.078 23.9503 20.9699C24.6174 20.8619 25.2452 20.5828 25.7724 20.1599C26.3023 19.7388 26.7141 19.1876 26.9675 18.5598C27.2275 17.93 27.3205 17.2437 27.2375 16.5673ZM7.31669 17.9859C7.0689 18.5777 6.59853 19.0483 6.00705 19.2962C5.71411 19.4163 5.40092 19.4792 5.08436 19.4815C4.68736 19.4764 4.29774 19.3735 3.94989 19.182C3.60204 18.9905 3.30666 18.7163 3.08981 18.3836C2.87297 18.0508 2.74133 17.6698 2.70652 17.2741C2.67171 16.8784 2.7348 16.4802 2.89021 16.1147C3.01593 15.8239 3.19526 15.5593 3.41883 15.3348C3.64312 15.1102 3.91131 14.9344 4.20662 14.8182C4.49659 14.6971 4.80818 14.6364 5.12239 14.6397C5.31302 14.6384 5.5028 14.6654 5.6855 14.7198L4.48883 16.5262C4.42912 16.6109 4.38634 16.7063 4.36287 16.8072C4.34599 16.9072 4.34288 17.009 4.35362 17.1098C4.37747 17.2071 4.41616 17.3002 4.46833 17.3858C4.52177 17.4701 4.59128 17.5431 4.67289 17.6006C4.79556 17.6918 4.94533 17.739 5.09808 17.7346C5.2258 17.7356 5.35159 17.7034 5.46318 17.6412C5.57388 17.5798 5.66872 17.4934 5.74016 17.3889L6.99209 15.5486C7.32918 15.9765 7.50943 16.5071 7.50278 17.052C7.5035 17.3726 7.44023 17.6901 7.31669 17.9859ZM25.6695 17.511C25.5719 18.0071 25.3207 18.4598 24.9515 18.8051C24.5823 19.1503 24.1138 19.3705 23.6125 19.4345C23.1261 19.493 22.6335 19.3997 22.2021 19.1673C21.7707 18.9349 21.4217 18.5748 21.2028 18.1363C20.988 17.6963 20.9058 17.2034 20.9664 16.7175C21.0336 16.2322 21.2457 15.7784 21.5748 15.4155L22.6052 17.2738C22.6511 17.3572 22.7137 17.4302 22.7891 17.4884C22.8642 17.5485 22.9502 17.5936 23.0424 17.6211C23.1359 17.6492 23.2343 17.657 23.331 17.644C23.4254 17.6328 23.5168 17.6031 23.5998 17.5567C23.6861 17.5118 23.7617 17.4489 23.8216 17.3722C23.8815 17.2956 23.9243 17.207 23.947 17.1123C23.9739 17.0186 23.984 16.9209 23.9768 16.8237C23.962 16.7291 23.9301 16.6379 23.8827 16.5547L22.8523 14.6896C22.9136 14.6752 22.9757 14.6642 23.0382 14.6566C23.0657 14.6568 23.0864 14.6501 23.1139 14.6504C23.5914 14.6061 24.0708 14.7108 24.4865 14.95C24.9312 15.1921 25.2835 15.5746 25.4886 16.0377C25.7056 16.4966 25.769 17.0132 25.6695 17.511Z"
                            fill="#FCFCFC" />
                        <path
                            d="M17.1835 9.06697L17.1834 9.07381C17.1559 9.0736 17.1216 9.06648 17.0941 9.06627L17.1835 9.06697Z"
                            fill="#FCFCFC" />
                        <path
                            d="M16.1935 9.05919L16.1935 9.06607C16.1591 9.0658 16.1317 9.05871 16.0973 9.05844L16.1935 9.05919Z"
                            fill="#FCFCFC" />
                        <path
                            d="M17.2696 7.72643C17.1852 7.87781 17.0443 7.98956 16.8777 8.03723C16.7111 8.0849 16.5324 8.06462 16.3808 7.98082L15.9838 7.7576L15.8948 7.70876L15.0049 7.21343L13.5063 6.32815L12.3994 9.83412L12.4611 9.84836C12.4749 9.84847 12.9278 9.9552 13.4562 10.0832L13.4562 10.0763C13.9022 10.1829 14.3963 10.2969 14.7119 10.3819C14.7531 10.3891 14.7943 10.4032 14.8355 10.4104C14.8561 10.4106 14.8767 10.4176 14.8973 10.4178L14.9179 10.4248C14.9316 10.4249 14.9385 10.425 14.9384 10.4318L14.959 10.4389C15.0001 10.4529 15.0413 10.4601 15.0756 10.4742C15.0824 10.4811 15.0961 10.4881 15.1029 10.495C15.211 10.5486 15.3083 10.6217 15.39 10.7105C15.4657 10.801 15.5253 10.9038 15.5663 11.0145C15.6517 11.239 15.6473 11.4878 15.554 11.7091L13.3133 16.8913C13.2666 17.0056 13.1954 17.1084 13.1047 17.1923C13.0149 17.2743 12.9122 17.3409 12.8007 17.3893C12.6905 17.4388 12.5701 17.4615 12.4495 17.4554L12.4427 17.4553C12.3192 17.4572 12.197 17.4303 12.0858 17.3768C11.9745 17.3282 11.8744 17.2572 11.7918 17.1682C11.7479 17.1243 11.709 17.0755 11.6761 17.0228C11.6409 16.972 11.6135 16.9161 11.5949 16.8571C11.5486 16.7435 11.5262 16.6216 11.5289 16.499C11.5311 16.3759 11.5578 16.2545 11.6074 16.1419L13.2109 12.4198L13.2389 12.3581L13.239 12.3512L10.4604 11.6209L10.4535 11.6209C10.3432 11.5932 10.2372 11.5507 10.1383 11.4946C10.0351 11.4393 9.94067 11.369 9.85802 11.2861C9.81427 11.2496 9.77533 11.2077 9.74213 11.1613C9.70053 11.1187 9.66609 11.0697 9.64015 11.0161C9.59318 10.9458 9.55672 10.8691 9.53194 10.7883L9.53199 10.7814C9.52533 10.7538 9.5118 10.7262 9.50514 10.6987C9.4761 10.5815 9.46089 10.4613 9.45983 10.3406C9.45829 10.2875 9.46333 10.2344 9.47482 10.1826C9.47286 10.1543 9.47781 10.126 9.48922 10.1001C9.48884 10.0883 9.49129 10.0765 9.49636 10.0658C9.50335 10.0521 9.50345 10.0384 9.51044 10.0247L9.51055 10.0109C9.52451 9.98349 9.53874 9.9217 9.56695 9.83251L9.60927 9.69528C9.61636 9.66783 9.63033 9.64042 9.63747 9.60609L9.63753 9.59921C9.63758 9.59233 9.64451 9.58551 9.64462 9.57176C9.69382 9.43462 9.74324 9.26994 9.79964 9.09155C10.0182 8.39858 10.3213 7.4518 10.5611 6.66959C10.5894 6.57352 10.6245 6.4775 10.6527 6.38831L10.8079 5.88743C10.822 5.8394 10.8361 5.79824 10.8502 5.75708L10.9207 5.53066C10.9365 5.4955 10.9483 5.45868 10.9559 5.42089L10.9771 5.35915C10.9842 5.32482 10.9981 5.3043 10.9982 5.29054C11.0052 5.27684 11.0121 5.27002 11.0122 5.26314C11.0568 5.08076 11.1402 4.91015 11.2567 4.76296C11.3486 4.65207 11.4586 4.55758 11.582 4.48352C11.6167 4.4614 11.6538 4.44324 11.6925 4.42936C11.8655 4.36 12.05 4.32411 12.2364 4.32359L12.3258 4.32429C12.5348 4.34085 12.7381 4.40102 12.9225 4.50093L15.7148 6.11168L15.8449 6.18148L16.6115 6.60703L17.0154 6.83029C17.1673 6.91597 17.2792 7.05819 17.3269 7.22602C17.3745 7.39385 17.3539 7.5737 17.2696 7.72643Z"
                            fill="#FCFCFC" />
                        <path d="M19.3684 8.3757L19.3613 8.37564L18.8326 7.41544L19.3684 8.3757Z" fill="#FCFCFC" />
                        <path
                            d="M10.4742 4.31934C10.4805 4.37978 10.473 4.44086 10.4522 4.49796L10.3322 4.88907C10.2923 4.97779 10.2594 5.06952 10.2338 5.16341C10.2197 5.21833 10.1986 5.27319 10.1844 5.3281C10.1703 5.37613 10.1561 5.43105 10.142 5.47908L10.0856 5.65743L10.0787 5.66426C10.059 5.71816 10.0425 5.77314 10.0292 5.82894L10.0292 5.83582C10.0011 5.90438 9.98686 5.97305 9.96575 6.03478C9.95204 6.06601 9.9403 6.09806 9.93062 6.13076L9.83898 6.41892L9.72613 6.78257L9.67682 6.9335L9.5428 7.36576L9.21155 8.40174L9.15509 8.587L9.10567 8.75169L9.0844 8.83406C9.08157 8.84615 9.07684 8.85772 9.07038 8.86834L9.00711 9.04667L8.97176 9.17019C8.95753 9.23198 8.93647 9.28684 8.92235 9.33488L8.92224 9.34863C8.90406 9.38827 8.88991 9.42963 8.88002 9.47211L8.87314 9.47205L8.63347 10.2268C8.59297 10.3466 8.50869 10.4466 8.39752 10.5069C8.38285 10.5154 8.36625 10.52 8.34929 10.5203C8.29787 10.545 8.24103 10.5564 8.18404 10.5534C8.1374 10.5534 8.09104 10.5461 8.04668 10.5317L3.9662 9.24781L2.53972 8.80329C2.48233 8.78255 2.42905 8.75187 2.38231 8.71264C2.33494 8.67459 2.29559 8.62753 2.26652 8.57417C2.2406 8.52005 2.22475 8.46165 2.21975 8.40185C2.21426 8.34185 2.21939 8.28136 2.2349 8.22314L2.23496 8.21626L4.06055 2.48746C4.09565 2.38961 4.15842 2.30407 4.24123 2.24127C4.32065 2.18794 4.41434 2.1599 4.50998 2.16084L4.53748 2.16106C4.5718 2.16821 4.61299 2.17541 4.64731 2.18256L10.1542 3.9178C10.2125 3.93318 10.2664 3.96186 10.3117 4.00157C10.3557 4.04106 10.3926 4.08789 10.4206 4.13999C10.4274 4.14692 10.4274 4.1538 10.4341 4.16761C10.4578 4.21487 10.4715 4.26653 10.4742 4.31934Z"
                            fill="#FCFCFC" />
                        <path
                            d="M9.50356 10.0246C9.51044 10.0247 9.51049 10.0178 9.51055 10.0109L9.51044 10.0247C9.50345 10.0384 9.50335 10.0521 9.49636 10.0658C9.49538 10.0517 9.49785 10.0375 9.50356 10.0246Z"
                            fill="#FCFCFC" />
                        <path
                            d="M9.85802 11.2861C9.94067 11.369 10.0351 11.4393 10.1383 11.4946C10.0353 11.4417 9.94084 11.3737 9.85797 11.2929L9.85802 11.2861Z"
                            fill="#FCFCFC" />
                        <path d="M13.239 12.3512L13.2389 12.3581L10.4604 11.6209L13.239 12.3512Z" fill="#FCFCFC" />
                        <path
                            d="M15.3279 2.96656L15.3277 2.97343C15.3284 2.97988 15.3274 2.98641 15.3248 2.99237C15.3223 2.99833 15.3183 3.00355 15.3132 3.0075C15.3061 3.01423 15.2992 3.01408 15.2854 3.02065C15.2785 3.0205 15.2649 3.01331 15.258 3.01316L14.4907 2.57642C14.4655 2.56258 14.4374 2.55487 14.4087 2.55393C14.3811 2.54875 14.3527 2.55048 14.326 2.55898C14.2975 2.56511 14.271 2.57878 14.2495 2.59855C14.2257 2.61335 14.2062 2.63429 14.1932 2.65919L13.9282 3.13485C13.9078 3.17301 13.8952 3.21481 13.8911 3.25786C13.8845 3.2995 13.8882 3.34213 13.902 3.38197C13.9149 3.4224 13.935 3.46014 13.9615 3.49334C13.9828 3.52964 14.0163 3.5572 14.056 3.57112L14.9455 4.07939C14.9627 4.09178 14.9785 4.10597 14.9927 4.12172C15.0052 4.1401 15.0119 4.16181 15.0119 4.18404L15.0099 4.27344C14.9942 4.39604 14.9491 4.51303 14.8786 4.61449C14.8645 4.62795 14.8573 4.64156 14.8434 4.64814C14.7755 4.72946 14.6892 4.79354 14.5917 4.83514C14.578 4.83483 14.5711 4.83467 14.5641 4.84141C14.5468 4.84961 14.5279 4.85389 14.5088 4.85394C14.4826 4.86455 14.4542 4.86863 14.426 4.86583C14.3799 4.86163 14.3354 4.84649 14.2963 4.82167L13.9363 4.62104C13.8919 4.58951 13.844 4.56305 13.7937 4.54216L12.7614 3.96192C12.7395 3.95011 12.719 3.9358 12.7004 3.91928C12.5561 3.83044 12.436 3.70724 12.3509 3.56068C12.2701 3.4327 12.2192 3.2881 12.2021 3.13768C12.1887 3.0211 12.189 2.90334 12.2031 2.78684C12.2138 2.66259 12.242 2.54047 12.2868 2.42412C12.4048 2.07776 12.6431 1.78525 12.9584 1.59975C13.2702 1.40818 13.6398 1.33354 14.0014 1.38911L14.0152 1.38942C14.387 1.45041 14.7244 1.64343 14.9655 1.9331C15.2066 2.22276 15.3352 2.58968 15.3279 2.96656Z"
                            fill="#FCFCFC" />
                        <path
                            d="M4.53694 2.21713C4.49217 2.26021 4.45497 2.31054 4.42692 2.36599C4.45411 2.31001 4.49141 2.25955 4.53694 2.21713Z"
                            fill="#FCFCFC" />
                    </svg>
                    <p>Ver conta • {{valueFinal}}</p>
                </button>
                <button class="withdraw-button" stage="withdraw">
                    <svg class="not-wl" width="17" height="24" viewBox="0 0 17 24" fill="none" xmlns="http://www.w3.org/2000/svg">
                        <path
                            d="M10.8151 21C11.0198 21 11.2029 20.9273 11.3645 20.7819C11.5314 20.6364 11.6149 20.4291 11.6149 20.1598C11.6149 19.982 11.5611 19.7828 11.4533 19.5619L9.84563 16.3142C9.77022 16.1741 9.69213 16.0395 9.61134 15.9102C9.53593 15.7756 9.46053 15.6571 9.38512 15.5548L8.38333 14.1248L8.44796 13.9309C8.588 13.5 8.69033 13.1257 8.75496 12.8079C8.81959 12.4901 8.86538 12.1239 8.89231 11.7092L9.05389 9.35817C9.09697 8.79264 8.96232 8.3079 8.64994 7.90395C8.33755 7.49461 7.88512 7.28995 7.29267 7.28995C6.8564 7.28995 6.46591 7.40305 6.12121 7.62926C5.78189 7.85548 5.40757 8.16517 4.99823 8.55835L3.76214 9.78636C3.5467 10.0018 3.3959 10.2065 3.30972 10.4004C3.22893 10.5889 3.18046 10.8151 3.1643 11.079L3.0108 13.0018C2.98925 13.2603 3.04311 13.4704 3.17238 13.632C3.30703 13.7882 3.49015 13.8743 3.72175 13.8905C3.94258 13.9066 4.12839 13.8501 4.2792 13.7208C4.43001 13.5862 4.51618 13.3788 4.53773 13.0987L4.72355 10.982L5.44258 10.3357C5.51798 10.2765 5.59338 10.2603 5.66879 10.2873C5.74419 10.3142 5.77651 10.3788 5.76574 10.4811L5.62839 12.3878C5.59608 12.8402 5.66071 13.2388 5.82229 13.5835C5.98387 13.9282 6.17776 14.2406 6.40398 14.5206L8.02785 16.5566C8.10864 16.6589 8.15981 16.737 8.18135 16.7908C8.20828 16.8447 8.2406 16.9066 8.2783 16.9767L9.99913 20.4668C10.1015 20.6661 10.2226 20.8034 10.3627 20.8788C10.5027 20.9596 10.6535 21 10.8151 21ZM3.49554 21C3.76484 21 3.98566 20.8977 4.15802 20.693L6.58171 17.8088C6.70021 17.6634 6.7783 17.553 6.816 17.4776C6.85909 17.4022 6.90757 17.2917 6.96143 17.1463C6.99374 17.044 7.02337 16.9417 7.0503 16.8393C7.08261 16.737 7.11223 16.6373 7.13916 16.5404L5.75766 14.8357L5.35371 16.7424L3.06735 19.4569C2.95963 19.5808 2.87076 19.6993 2.80074 19.8124C2.73611 19.9255 2.7038 20.0628 2.7038 20.2244C2.7038 20.4506 2.7792 20.6364 2.93001 20.7819C3.0862 20.9273 3.27471 21 3.49554 21ZM11.1463 12.0727H12.948C13.2119 12.0727 13.4192 12.0054 13.57 11.8707C13.7209 11.7307 13.7963 11.5449 13.7963 11.3133C13.7963 11.0817 13.7182 10.8959 13.562 10.7558C13.4112 10.6158 13.2065 10.5458 12.948 10.5458H11.0494L9.72444 9.10772L9.5871 11.1598L10.1526 11.7253C10.2927 11.86 10.4354 11.9515 10.5808 12C10.7262 12.0485 10.9147 12.0727 11.1463 12.0727ZM8.22983 6.63555C8.56376 6.63555 8.86807 6.55206 9.14276 6.3851C9.41744 6.21813 9.63557 6 9.79715 5.7307C9.96412 5.45601 10.0476 5.15709 10.0476 4.83393C10.0476 4.49461 9.96412 4.18761 9.79715 3.91293C9.63557 3.63285 9.41744 3.41203 9.14276 3.25045C8.86807 3.08348 8.56376 3 8.22983 3C7.90128 3 7.59967 3.08348 7.32498 3.25045C7.0503 3.41203 6.83216 3.63285 6.67058 3.91293C6.51439 4.18761 6.43629 4.49461 6.43629 4.83393C6.43629 5.15709 6.51439 5.45601 6.67058 5.7307C6.83216 6 7.0503 6.21813 7.32498 6.3851C7.59967 6.55206 7.90128 6.63555 8.22983 6.63555Z"
                            fill="#FCFCFC" />
                    </svg>
                </button>
            </div>
        </div>
    </div>
</div>
{{schedule-area}}
{{address-area}}
{{paymentondelivery-area}}
{{withdraw-area}}