.bill .value-online {
    width: 100%;
    height: 40px;
    background: #F7F7F7;
    border-radius: 8px;
    padding: 10px 8px 8px 8px;
    margin-bottom: 32px;
    text-align: center;
}

.bill .value-online span {
    font-family: 'Roboto', sans-serif;
    font-style: normal;
    font-weight: normal;
    font-size: 12px;
    line-height: 20px;
    color: #585858;
}

.bill .value-online span:nth-child(2) {
    font-weight: bold;
}

/*COUPON AREA*/

.coupon-area {
    display: flex;
    position: relative;
    margin-top: 22px;
    align-items: center;
    height: 24px;
}

.coupon-area-text {
    font-family: 'Roboto', sans-serif;
    font-style: normal;
    font-weight: 500;
    font-size: 15px;
    line-height: 20px;
    color: #585858;
}

.coupon-area-button {
    display: flex;
    position: absolute;
    right: 0;
    align-items: center;
}

.coupon-area-button span {
    font-family: 'Roboto', sans-serif;
    font-style: normal;
    font-weight: normal;
    font-size: 15px;
    color: #585858;
    margin-right: 4px;
}

.coupon-area-button.opened span {
    color: var(--color-primary);
}

.coupon-area-button.opened svg path {
    fill: var(--color-primary);
    d: path("M8.19545 6L9 5.20373L4.5 0.75L5.31102e-08 5.20373L0.804546 6L4.5 2.34255L8.19545 6Z");
}

/*COUPON FIELD*/

.coupon-field {
    display: flex;
    margin-top: 8px;
    display: none;
}

.coupon-field input[type="text"] {
    align-items: center;
    padding: 4px 8px;
    position: static;
    width: calc(100% - 104px);
    height: 40px;
    background: #FCFCFC;
    font-family: 'Roboto', sans-serif;
    font-style: normal;
    font-weight: normal;
    font-size: 15px;
    line-height: 131%;
    letter-spacing: 0.023em;
    color: #585858;
    border-radius: 8px 0 0 8px;
    border-left: 0.5px solid #DDDDDD;
    border-top: 0.5px solid #DDDDDD;
    border-bottom: 0.5px solid #DDDDDD;
    border-right: none;
}

.coupon-field input[type="text"]::placeholder {
    font-family: 'Roboto', sans-serif;
    font-style: normal;
    font-weight: normal;
    font-size: 12px;
    line-height: 20px;
    letter-spacing: 0.4px;
    color: #999999;
}

.coupon-field-button {
    width: 104px;
    height: 40px;
    border-radius: 0 8px 8px 0;
    background: var(--color-primary-effects);
    text-align: center;
    border-right: 0.5px solid #DDDDDD;
    border-top: 0.5px solid #DDDDDD;
    border-bottom: 0.5px solid #DDDDDD;
    display: flex;
    align-items: center;
    justify-content: center;
}

.coupon-field-button:after {
    content: 'Aplicar';
    font-family: 'Roboto', sans-serif;
    font-style: normal;
    font-weight: normal;
    font-size: 15px;
    line-height: 20px;
    letter-spacing: 0.4px;
    color: var(--color-primary);
}

.coupon-field-button svg {
    margin-right: 4px;
    display: none;
}

.coupon-message {
    height: 16px;
    font-family: 'Roboto', sans-serif;
    font-style: normal;
    font-weight: normal;
    font-size: 12px;
    line-height: 16px;
    letter-spacing: 0.4px;
    margin: 8px 0 0 0 !important;
    transition: 0.25s;
}

.coupon-field.success+.coupon-message {
    color: #25A65B;
    transition: 0.25s;
}

.coupon-field.success .coupon-field-button {
    background: #E0F3E8;
    transition: 0.25s;
}

.coupon-field.success .coupon-field-button:after {
    content: 'Aplicado';
    font-weight: bold;
    color: #25A65B !important;
    font-size: 12px;
    transition: 0.25s;
}

.coupon-field.success .coupon-field-button svg {
    display: block;
    transition: 0.25s;
}

.coupon-field.error+.coupon-message {
    color: #B00020;
    transition: 0.25s;
}

.coupon-field.error .coupon-field-button {
    background: #F7F7F7;
    transition: 0.25s;
}

.coupon-field.error .coupon-field-button:after {
    color: #757575 !important;
    transition: 0.25s;
}

/*PAYMENT AREA*/

.payment-method {
    align-items: center;
    margin-top: 24px;
    border-top: 0.5px solid #DDDDDD;
    padding-top: 24px;
    position: relative;
}

.payment-method div {
    align-items: center;
}

.payment-method div img {
    margin-right: 8px;
}

.payment-method div p:nth-child(2), .payment-method div p:nth-child(3) {
    font-family: 'Roboto', sans-serif;
    font-style: normal;
    font-weight: normal;
    font-size: 15px;
    line-height: 20px;
    letter-spacing: 0.4px;
    color: #585858;
}

.payment-method-button {
    font-family: 'Roboto', sans-serif;
    font-style: normal;
    font-weight: normal;
    font-size: 15px;
    line-height: 131%;
    letter-spacing: 0.023em;
    color: var(--color-primary);
    position: absolute;
    right: 10px;
}

.payment-method div svg {
    font-family: 'Roboto', sans-serif;
    font-style: normal;
    font-weight: normal;
    font-size: 15px;
    line-height: 131%;
    letter-spacing: 0.023em;
    color: var(--color-primary);
    position: absolute;
    right: 0;
}

.payment-method p:nth-child(1) {
    height: 16px;
    font-family: 'Roboto', sans-serif;
    font-style: normal;
    font-weight: normal;
    font-size: 12px;
    line-height: 20px;
    letter-spacing: 0.4px;
    color: #585858;
    margin-top: -8px;
    margin-bottom: 8px;
}

.payment-method .payment-method-text {
    color: #585858;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 36px;
    background: #F7F7F7;
    border-radius: 8px;
    margin-top: 16px;
    text-align: center;
    font-family: 'Roboto', sans-serif;
    font-style: normal;
    font-weight: normal;
    font-size: 15px;
    line-height: 20px;
    letter-spacing: 0.4px;
}

/*BOTTOM ACTION*/

.bottom-action {
    position: fixed;
    width: 100%;
    border-top: 0.5px solid #DDDDDD;
    bottom: 0;
    background: #ffffff;
    text-align: center;
    text-align: -webkit-center;
    padding-bottom: 40px;
    left: 0;
}

.bottom-action>div>p {
    width: 100%;
    font-family: 'Roboto';
    font-style: normal;
    font-weight: 500;
    font-size: 15px;
    line-height: 20px;
    display: flex;
    align-items: center;
    letter-spacing: 0.28px;
    color: #585858;
    margin-top: 16px;
    display: none;
}

.bottom-action button {
    position: relative;
    width: 100%;
    height: 48px;
    background: var(--color-primary);
    border-radius: 4px;
    margin-top: 16px;
    text-align: center;
    align-items: center;
    display: flex;
    justify-content: center;
    border: none;
}

.bottom-action button::after, .bottom-action button p {
    font-family: 'Roboto', sans-serif;
    font-style: normal;
    font-weight: bold;
    font-size: 15px;
    line-height: 20px;
    color: #FFFFFF;
}

.bottom-action button p {
    position: absolute;
    background: var(--color-primary);
    width: 100%;
    height: 48px;
    border-radius: 4px;
    justify-content: center;
    align-items: center;
    display: flex;
    visibility: hidden;
}

.bottom-action button svg {
    margin-right: 4px;
    display: none;
}

.bottom-action button:nth-child(2) {
    display: none;
}

.bottom-action>div {
    width: 328px;
}

.bottom-action>div>div {
    display: flex;
    width: 100%;
}

/*Info*/

.bottom-action.info button p {
    visibility: visible;
}

/*Address*/

.bottom-action button[stage="address"]::after {
    content: "Entrega";
}

.bottom-action button[stage="address"] svg {
    display: block;
}

.bottom-action:not(.info)[stageMain="address"] div button:nth-child(1) {
    order: 2;
    margin-left: 8px;
}

.bottom-action:not(.info)[stageMain="address"] button:nth-child(2) {
    display: flex;
}

.bottom-action:not(.info)[stageMain="address"] div button:nth-child(2) {
    order: 1;
    margin-right: 8px;
}

.bottom-action:not(.info)[stageMain="address"]>div>p {
    display: flex;
}

/*Payment*/

.bottom-action button[stage="payment"]::after {
    content: "Escolher forma de pagamento";
}

/*Finish*/

.bottom-action button[stage="finish"]::after {
    content: "Fazer pedido";
}

/*Withdraw*/

.bottom-action button[stage="withdraw"]::after {
    content: "Retirada";
}

.bottom-action button[stage="withdraw"] svg {
    display: block;
}

/*SCHEDULE AREA*/

.schedule-area {
    display: none;
    height: 100%;
}

.schedule-area-body {
    padding-top: 88px;
    width: 328px;
}

.schedule-area-title {
    height: 32px;
    font-family: 'Roboto', sans-serif;
    font-style: normal;
    font-weight: bold;
    font-size: 30px;
    line-height: 32px;
    letter-spacing: 0.4px;
    color: #585858;
}

.schedule-alert {
    width: 328px;
    height: 48px;
    background: #FFF0F2;
    border-radius: 8px;
    margin-top: 16px;
    align-items: center;
    position: relative;
}

.schedule-alert svg {
    position: absolute;
    left: 0;
}

.schedule-alert p {
    position: absolute;
    width: 247px;
    height: 20px;
    font-family: 'Roboto', sans-serif;
    font-style: normal;
    font-weight: bold;
    font-size: 15px;
    line-height: 20px;
    letter-spacing: 0.28px;
    color: #B00020;
    right: 8px;
    top: 14px;
}

.schedule-area-subtitle {
    height: 20px;
    font-family: 'Roboto', sans-serif;
    font-style: normal;
    font-weight: bold;
    font-size: 15px;
    line-height: 20px;
    letter-spacing: 0.28px;
    margin-top: 32px;
    color: #585858;
    margin-bottom: 20px;
}

.schedule-pickers {
    position: relative;
    height: 476px;
}

.back-arrow-schedule {
    position: absolute;
    width: 48px;
    left: 0px;
    top: 0px;
    bottom: 0px;
}

.opening-hours {
    display: flex;
    align-items: center;
    width: 328px;
    height: 56px;
    background: #F7F7F7;
    border-radius: 8px;
    margin-top: 16px;
    position: relative;
}

.opening-hours span {
    font-family: 'Roboto', sans-serif;
    font-style: normal;
    font-weight: bold;
    font-size: 15px;
    line-height: 20px;
    letter-spacing: 0.28px;
    color: #585858;
    position: absolute;
    left: 16px;
}

.opening-hours svg {
    position: absolute;
    right: 16px;
}

.opening-hours.opened {
    border-radius: 8px 8px 0 0;
}

.opening-hours.opened svg path {
    d: path('M14.5697 9.5L16 8.13496L8 0.5L9.1046e-08 8.13496L1.4303 9.5L8 3.23008L14.5697 9.5Z') !important;
}

.opening-hours-details {
    display: none;
    width: 328px;
    background: #F7F7F7;
    border-radius: 0 0 8px 8px;
    position: relative;
    padding: 0 16px 16px 16px;
}

.opening-hours.opened+.opening-hours-details {
    display: block;
}

.opening-hours-details p:nth-child(even) {
    /*height: 20px;*/
    font-family: 'Roboto', sans-serif;
    font-style: normal;
    font-weight: normal;
    font-size: 15px;
    line-height: 131%;
    letter-spacing: 0.023em;
    color: #585858;
}

.opening-hours-details p:nth-child(even):not(:last-child) {
    margin-bottom: 16px;
}

.opening-hours-details p:nth-child(odd) {
    height: 24px;
    font-family: 'Roboto', sans-serif;
    font-style: normal;
    font-weight: 500;
    font-size: 15px;
    line-height: 20px;
    letter-spacing: 0.28px;
    color: #585858;
}

.schedule-gray-area {
    height: 100%;
    width: 100%;
    background: #F7F7F7;
    margin-top: -236.6px;
}

/*ADDRESS AREA*/

.cart-section .address-area {
    display: none;
}

.cart-section .address-area-body {
    padding-top: 88px;
    width: 328px;
    padding-bottom: 120px;
}

.cart-section .address-area-title {
    height: 32px;
    font-family: 'Roboto', sans-serif;
    font-style: normal;
    font-weight: bold;
    font-size: 30px;
    line-height: 32px;
    letter-spacing: 0.4px;
    color: #585858;
}

.cart-section .address-area-sublabel {
    height: 10px;
    font-family: 'Roboto', sans-serif;
    font-style: normal;
    font-weight: normal;
    font-size: 11px;
    line-height: 10px;
    letter-spacing: 0.4px;
    color: #757575;
    margin-left: 14px;
}

.cart-section .address-area-button {
    position: sticky;
    height: 50px;
    bottom: 40px;
    background: var(--color-primary);
    border-radius: 5px;
    align-items: center;
    justify-content: center;
    display: flex;
    text-align: center;
    width: 328px;
    z-index: 5;
    font-family: 'Roboto', sans-serif;
    font-style: normal;
    font-weight: bold;
    font-size: 15px;
    line-height: 20px;
    letter-spacing: 0.4px;
    color: #FFFFFF;
    border: none;
    margin: 0 auto;
}

.cart-section .address-area-button[disabled] {
    background-color: #cecece;
    opacity: 0.8;
}

.back-arrow-address {
    position: absolute;
    width: 48px;
    left: 0px;
    top: 0px;
    bottom: 0px;
}

/*PAYMENT AREA*/

.back-arrow-payment {
    position: absolute;
    width: 48px;
    left: 0px;
    top: 0px;
    bottom: 0px;
}

.payment-area {
    height: 100%;
    display: none;
}

.payment-area-body {
    padding-top: 24px;
    padding-bottom: 40px;
    height: 100%;
}

.payment-area-title {
    height: 24vh;
    font-family: 'Roboto', sans-serif;
    font-style: normal;
    font-weight: bold;
    font-size: 30px;
    line-height: 32px;
    letter-spacing: 0.4px;
    width: 328px;
    color: #585858;
    top: 80px;
}

.payonapp-button {
    width: calc(100% - 32px);
    max-height: 328px;
    height: 38vh;
    min-height: 225.5px;
    background: #FDFDFD;
    box-shadow: 0px 16px 16px rgba(0, 0, 0, 0.026), 0px 8.1px 6.975px rgba(0, 0, 0, 0.04), 0px 3.2px 2.6px rgba(0, 0, 0, 0.054), 0px 0.7px 0.925px rgba(0, 0, 0, 0.08);
    border-radius: 8px;
    margin: 88px 0 24px 16px;
    padding-top: 16px;
    position: relative;
}

.payondelivey-button {
    width: calc(100% - 32px);
    max-height: 328px;
    height: 38vh;
    min-height: 225.5px;
    background: #FDE8EC;
    box-shadow: 0px 16px 16px rgba(0, 0, 0, 0.026), 0px 8.1px 6.975px rgba(0, 0, 0, 0.04), 0px 3.2px 2.6px rgba(0, 0, 0, 0.054), 0px 0.7px 0.925px rgba(0, 0, 0, 0.08);
    border-radius: 8px;
    padding-top: 16px;
    margin-left: 16px;
    position: relative;
}

.payonapp-button-title, .payondelivey-button-title {
    width: 112px;
    height: 20px;
    font-family: 'Roboto', sans-serif;
    font-style: normal;
    font-weight: bold;
    font-size: 18px;
    line-height: 20px;
    align-items: center;
    letter-spacing: 0.4px;
    color: var(--color-primary);
    margin-left: 16px;
}

.payonapp-button-subtitle, .payondelivey-button-subtitle {
    height: 40px;
    font-family: 'Roboto', sans-serif;
    font-style: normal;
    font-weight: normal;
    font-size: 15px;
    line-height: 131%;
    letter-spacing: 0.023em;
    color: #585858;
    display: flex;
    margin-left: 16px;
    margin-right: 16px;
    margin-top: 8px;
}

.payonapp-button-button, .payondelivey-button-button {
    position: absolute;
    bottom: 16px;
    left: 16px;
}

/*PAYMENTONAPP AREA*/

.back-arrow-paymentonapp {
    position: absolute;
    width: 48px;
    left: 0px;
    top: 0px;
    bottom: 0px;
}

.paymentonapp-area {
    height: 100%;
    display: none;
}

.paymentonapp-area-body {
    padding-top: 24px;
    width: 328px;
    padding-bottom: 150px;
}

.paymentonapp-area-title {
    height: 32px;
    font-family: 'Roboto', sans-serif;
    font-style: normal;
    font-weight: bold;
    font-size: 30px;
    line-height: 32px;
    letter-spacing: 0.4px;
    color: #585858;
}

.paymentonapp-cards-accepted {
    margin: 24px 0px;
    width: 328px;
    height: 96px;
    perspective: 1000px;
}

.paymentonapp-cards-accepted-inner {
    position: relative;
    width: 100%;
    height: 100%;
    text-align: center;
    transition: transform 0.6s;
    transform-style: preserve-3d;
    border-radius: 8px;
}

.paymentonapp-cards-accepted-inner.rotate {
    transform: rotateX(-180deg);
}

.paymentonapp-cards-accepted-front, .paymentonapp-cards-accepted-back {
    position: absolute;
    width: 100%;
    height: 100%;
    -webkit-backface-visibility: hidden;
    backface-visibility: hidden;
}

.paymentonapp-cards-accepted-front {
    background: #F7F7F7;
    border-radius: 8px;
}

.paymentonapp-cards-accepted-front img {
    margin-right: 28px;
}

.paymentonapp-cards-accepted-back {
    border-radius: 8px;
    background: #F7F7F7;
    transform: rotateX(180deg);
    padding: 16px;
    position: relative;
}

.preview-card-number {
    display: flex;
    align-items: center;
    margin-bottom: 20px;
}

.preview-card-number img {
    width: 24px;
    height: 16px;
    margin-right: 8px;
}

.preview-card-number p {
    width: 200px;
    height: 16px;
    font-family: 'Roboto', sans-serif;
    font-style: normal;
    font-weight: normal;
    font-size: 15px;
    line-height: 20px;
    letter-spacing: 0.4px;
    color: #585858;
    width: max-content;
    margin-bottom: 0;
}

.preview-card-info {
    display: flex;
}

.preview-card-info .holder-card {
    height: 20px;
    font-family: 'Roboto', sans-serif;
    font-style: normal;
    font-weight: normal;
    font-size: 15px;
    line-height: 20px;
    letter-spacing: 0.4px;
    color: #CCCCCC;
    margin-top: 12px;
}

.preview-card-info .holder-card.texted {
    color: #585858;
}

.preview-card-info div:nth-child(1) {
    margin-right: 24px;
    display: none;
}

.preview-card-info div p:nth-child(1) {
    height: 12px;
    font-family: 'Roboto', sans-serif;
    font-style: normal;
    font-weight: normal;
    font-size: 10px;
    line-height: 12px;
    color: #585858;
    width: max-content;
}

.preview-card-info div p:nth-child(2) {
    height: 20px;
    font-family: 'Roboto', sans-serif;
    font-style: normal;
    font-weight: normal;
    font-size: 12px;
    line-height: 20px;
    display: flex;
    align-items: center;
    letter-spacing: 0.4px;
    color: #CCCCCC;
    width: max-content;
}

.preview-card-info div p:nth-child(2).texted {
    color: #585858;
}

.preview-card-info div:nth-child(2) {
    margin-right: 114px;
    display: none;
}

.preview-card-info div:nth-child(3) {
    position: absolute;
    right: 16px;
    display: none;
    width: 89px;
}

.paymentonapp-cards-accepted-inner.rotate.info-card .preview-card-info div {
    display: block;
}

.paymentonapp-cards-accepted-inner.rotate.info-card .paymentonapp-cards-accepted-back .holder-card {
    display: none;
}

.paymentonapp-cards-accepted-inner.rotate.info-card {
    transform: rotateX(-540deg);
}

.paymentonapp-type {
    margin-top: 32px;
    display: flex;
}

.paymentonapp-type div {
    justify-content: center;
    padding: 10px 24px;
    width: 99px;
    height: 40px;
    background: #F7F7F7;
    border-radius: 40px;
}

.paymentonapp-type div span {
    font-family: 'Roboto', sans-serif;
    font-style: normal;
    font-weight: normal;
    font-size: 15px;
    line-height: 131%;
    letter-spacing: 0.023em;
    color: var(--color-primary);
}

.paymentonapp-type div:nth-child(1) {
    margin-right: 8px;
}

.paymentonapp-type div.selected {
    background: var(--color-primary);
}

.paymentonapp-type div.selected span {
    color: #F7F7F7;
}

/*PAYMENTONDELIVERY AREA*/

.back-arrow-paymentondelivery {
    position: absolute;
    width: 48px;
    left: 0px;
    top: 0px;
    bottom: 0px;
}

.paymentondelivery-area {
    height: 100%;
    display: none;
}

.paymentondelivery-area-body {
    padding-top: 88px;
    width: 328px;
    padding-bottom: 150px;
}

.paymentondelivery-area-image {
    width: 100%;
    margin-top: 24px;
    margin-bottom: 32px;
}

.paymentondelivery-area-title {
    height: 32px;
    font-family: 'Roboto', sans-serif;
    font-style: normal;
    font-weight: bold;
    font-size: 30px;
    line-height: 32px;
    letter-spacing: 0.4px;
    color: #585858;
    width: 100%;
}

.paymentOptionRow {
    margin-bottom: 24px;
    position: relative;
    width: 100%;
    border: 0.5px solid #DDDDDD;
    border-radius: 8px;
    padding: 0 16px;
}

.paymentOptionRow.disabled * {
    filter: grayscale(100%);
}

.paymentOptionRow-title {
    display: flex;
    align-items: center;
    height: 72px;
    position: relative;
}

.paymentOptionRow-title img {
    margin-right: 8px;
}

.paymentOptionRow-title p {
    font-family: "Roboto";
    font-style: normal;
    font-weight: 500;
    font-size: 15px;
    line-height: 20px;
    letter-spacing: 0.28px;
    color: #757575;
}

.paymentOptionRow-title svg {
    position: absolute;
    right: 0;
    transform: rotate(-90deg);
}

.paymentOptionRow.cards svg {
    transform: unset;
}

.paymentOptionRow.cards.opened svg {
    transform: rotate(-180deg);
}

.paymentOptionRow-cards {
    display: none;
}

.paymentOptionRow.cards.opened .paymentOptionRow-cards {
    flex-wrap: wrap;
    display: flex;
    margin-top: -17px;
    margin-bottom: 32px;
    justify-content: flex-start;
}

.paymentOptionRow-cards div {
    padding: 10px 16px;
    background: #F7F7F7;
    border-radius: 40px;
    display: flex;
    align-items: center;
    justify-content: center;
    font-family: 'Roboto';
    font-style: normal;
    font-weight: 400;
    font-size: 15px;
    line-height: 131%;
    letter-spacing: 0.023em;
    color: #757575;
    margin-top: 8px;
}

.paymentOptionRow-cards div img {
    margin-right: 8px;
}

.paymentondelivery-area-body .reminder {
    position: absolute;
    height: 20px;
    width: 100%;
    text-align: center;
    font-family: 'Roboto', sans-serif;
    font-style: normal;
    font-weight: normal;
    font-size: 15px;
    line-height: 131%;
    align-items: center;
    letter-spacing: 0.023em;
    color: #757575;
    bottom: 20px;
}

/*GOOGLE INPUT*/

.checkout-field {
    position: relative;
    margin-bottom: 26px;
}

.checkout-field input {
    height: 48px;
    display: block;
    width: 100%;
    border: none;
    border: 1px solid #DDDDDD;
    border-radius: 8px;
    font-family: 'Roboto', sans-serif;
    font-style: normal;
    font-weight: normal;
    font-size: 15px;
    line-height: 20px;
    letter-spacing: 0.4px;
    color: #585858;
    padding: 0 16px;
}

.checkout-field.error input {
    border: 1px solid #B00020;
}

input:focus {
    outline: none;
}

.address-area textarea {
    border: 1px solid #DDDDDD;
    border-radius: 8px;
    width: 100%;
    height: 96px;
    padding: 16px;
    font-family: 'Roboto', sans-serif;
    font-style: normal;
    font-weight: normal;
    font-size: 15px;
    line-height: 20px;
    letter-spacing: 0.4px;
    color: #585858;
}

.textarea-title {
    font-family: 'Roboto';
    font-style: normal;
    font-weight: 400;
    font-size: 15px;
    line-height: 24px;
    color: #4D4D4D;
    margin-bottom: 4px;
    margin-top: -10px;
}

.checkout-field-row {
    display: flex;
    margin-top: 26px;
}

.checkout-field-row .checkout-field:first-child {
    margin-right: 16px;
    width: 37%;
}

.address-area .address-button {
    background: #EBF5FF;
    border-radius: 8px;
    border: none;
    width: 100%;
    height: 44px;
    font-family: 'Roboto';
    font-style: normal;
    font-weight: 500;
    font-size: 15px;
    line-height: 20px;
    color: #0962BA;
    display: flex;
    align-items: center;
    justify-content: center;
    margin-top: 24px;
    display: none;
}

.address-area .address-button svg {
    margin-right: 8px;
}

.address-area .address-button.alert-red {
    background: #FFF0F2;
    color: #B00020;
    display: none;
}

/*LABEL*/

.checkout-field label {
    font-family: 'Roboto', sans-serif;
    font-style: normal;
    font-weight: normal;
    font-size: 15px;
    line-height: 20px;
    letter-spacing: 0.4px;
    color: #585858;
    transition: 0.2s ease all;
    -moz-transition: 0.2s ease all;
    -webkit-transition: 0.2s ease all;
    position: absolute;
    pointer-events: none;
    left: 16px;
    top: 14px;
}

.checkout-field.error label {
    color: #B00020;
}

/*Active state*/

.checkout-field input:focus~label, .checkout-field input:valid~label {
    top: -4px;
    font-family: 'Roboto', sans-serif;
    font-style: normal;
    font-weight: normal;
    font-size: 11px;
    line-height: 10px;
    letter-spacing: 0.4px;
    color: #585858;
    padding: 0 4px;
    background: #ffffff;
}

.checkout-field.error input:focus~label, .checkout-field.error input:valid~label {
    color: #B00020;
}

/*Active state*/

.checkout-field input:focus~.bar:before, input:focus~.bar:after {
    width: 50%;
}

.checkout-field .highlight {
    position: absolute;
    height: 60%;
    width: 100px;
    top: 25%;
    left: 0;
    pointer-events: none;
    opacity: 0.5;
}

/*Active state*/

.checkout-field input:focus~.highlight {
    -webkit-animation: inputHighlighter 0.3s ease;
    -moz-animation: inputHighlighter 0.3s ease;
    animation: inputHighlighter 0.3s ease;
}

/*ANIMATIONS*/

@-webkit-keyframes inputHighlighter {
    from {
        background: #DDDDDD;
    }

    to {
        width: 0;
        background: transparent;
    }
}

@-moz-keyframes inputHighlighter {
    from {
        background: #DDDDDD;
    }

    to {
        width: 0;
        background: transparent;
    }
}

@keyframes inputHighlighter {
    from {
        background: #DDDDDD;
    }

    to {
        width: 0;
        background: transparent;
    }
}

/*Online Error*/

.checkout-error {
    display: flex;
    position: absolute;
    z-index: 2;
    align-items: center;
    background: #ffffff;
    padding: 0 20px 5px 20px;
}

.checkout-error-text {
    font-family: 'Roboto', sans-serif;
    font-style: normal;
    font-weight: normal;
    font-size: 12px;
    line-height: 16px;
    letter-spacing: 0.4px;
    color: #B00020;
    margin-left: 4px;
}

/*ADDRESS CART*/

.cart-area .address {
    width: 100%;
    margin-top: 24px;
    margin-bottom: 24px;
}

.cart-area .address div {
    position: relative;
}

.cart-area .address div span:nth-child(1) {
    display: flex;
    align-items: center;
}

.cart-area .address div span:nth-child(1)::after {
    font-family: 'Roboto', sans-serif;
    font-style: normal;
    font-weight: bold;
    font-size: 12px;
    line-height: 20px;
    letter-spacing: 0.4px;
    color: #585858;
    content: "Entregar em";
}

.cart-area .address div span:nth-child(1) svg {
    margin-right: 4px;
    display: none;
}

.cart-area .address.withdraw div span:nth-child(1)::after {
    content: "Local de retirada";
}

.cart-area .address.withdraw div span:nth-child(1) svg {
    display: block;
}

.cart-area .address .address-client {
    display: none;
    border-top: 0.5px solid #DDDDDD;
    padding-top: 10px;
    margin-top: 12px;
}

.cart-area .address .address-client p:nth-child(1) {
    font-family: 'Roboto';
    font-style: normal;
    font-weight: 600;
    font-size: 15px;
    line-height: 24px;
    display: flex;
    align-items: center;
    color: #585858;
    margin-bottom: 8px;
}

.cart-area .address .address-client p:nth-child(2) {
    font-family: 'Roboto';
    font-style: normal;
    font-weight: 500;
    font-size: 15px;
    line-height: 24px;
    display: flex;
    align-items: center;
    color: #585858;
}

.cart-area .address.withdraw .address-client {
    display: block;
}

.cart-area .address div span:nth-child(2) {
    width: 252px;
    font-family: 'Roboto', sans-serif;
    font-style: normal;
    font-weight: normal;
    font-size: 12px;
    line-height: 20px;
    text-align: right;
    letter-spacing: 0.4px;
    color: var(--color-primary);
    position: absolute;
    right: 0;
}

.cart-area .address-text {
    font-family: 'Roboto', sans-serif;
    font-style: normal;
    font-weight: normal;
    font-size: 15px;
    line-height: 131%;
    letter-spacing: 0.023em;
    color: #585858;
    overflow: hidden;
    text-overflow: ellipsis;
    display: -webkit-box;
    -webkit-line-clamp: 2;
    -webkit-box-orient: vertical;
    margin-top: 8px;
}

.cart-area .cart .itens {
    margin-bottom: 32px;
}

/*FORECAST CART*/

.cart-area .forecast {
    padding: 8px;
    width: 100%;
    height: 60px;
    background: #F5F5F5;
    border-radius: 8px;
    margin-bottom: 32px;
}

.cart-area .forecast-text {
    height: 20px;
    font-family: 'Roboto', sans-serif;
    font-style: normal;
    font-weight: normal;
    font-size: 12px;
    line-height: 20px;
    letter-spacing: 0.4px;
    color: #585858;
}

.cart-area .forecast div {
    position: relative;
    height: 20px;
    margin-top: 4px;
    align-items: center;
}

.cart-area .forecast div span:nth-child(1) {
    width: 199px;
    height: 20px;
    font-family: 'Roboto', sans-serif;
    font-style: normal;
    font-weight: bold;
    font-size: 18px;
    line-height: 20px;
    letter-spacing: 0.4px;
    color: #585858;
    position: absolute;
    left: 0;
}

.cart-area .forecast div span:nth-child(2) {
    height: 20px;
    font-family: 'Roboto', sans-serif;
    font-style: normal;
    font-weight: 500;
    font-size: 12px;
    line-height: 20px;
    letter-spacing: 0.4px;
    color: var(--color-primary);
    position: absolute;
    right: 0;
    margin-right: 9px;
}

.cart-area .forecast div svg {
    position: absolute;
    right: 0;
}

/*WITHDRAW AREA*/

.cart-section .withdraw-area {
    display: none;
    padding-bottom: 100px;
}

.cart-section .withdraw-area-body {
    padding-top: 88px;
    width: 328px;
}

.cart-section .withdraw-area-title {
    font-family: 'Roboto', sans-serif;
    font-style: normal;
    font-weight: 700;
    font-size: 30px;
    line-height: 32px;
    letter-spacing: 0.4px;
    color: #585858;
    margin-bottom: 24px;
}

.cart-section .withdraw-area-subtitle {
    font-family: 'Roboto';
    font-style: normal;
    font-weight: 700;
    font-size: 18px;
    line-height: 20px;
    display: flex;
    align-items: center;
    letter-spacing: 0.4px;
    color: #585858;
    margin-bottom: 16px;
}

.cart-section .withdraw-area-button {
    position: fixed;
    left: calc(50% - 328px/2);
    height: 50px;
    bottom: 0;
    background: var(--color-primary);
    border-radius: 5px;
    align-items: center;
    justify-content: center;
    display: flex;
    margin-bottom: 20px;
    text-align: center;
    width: 328px;
    z-index: 5;
    font-family: 'Roboto', sans-serif;
    font-style: normal;
    font-weight: bold;
    font-size: 15px;
    line-height: 20px;
    letter-spacing: 0.4px;
    color: #FFFFFF;
    border: none;
}

.withdraw-area-titleAddress {
    font-family: 'Roboto';
    font-style: normal;
    font-weight: 600;
    font-size: 15px;
    line-height: 24px;
    display: flex;
    align-items: center;
    color: #585858;
    display: flex;
    align-items: center;
    margin-top: 16px;
    margin-bottom: 4px;
}

.withdraw-area-titleAddress svg {
    margin-right: 4px;
}

.withdraw-area-textAddress {
    font-family: 'Roboto';
    font-style: normal;
    font-weight: 400;
    font-size: 15px;
    line-height: 24px;
    color: #585858;
}

.back-arrow-withdraw {
    position: absolute;
    width: 48px;
    left: 0px;
    top: 0px;
    bottom: 0px;
}

/*Modal Type Cart*/

.modal-type-cart {
    height: auto;
    display: none;
    padding: 0px 16px 4px 16px;
    text-align: -webkit-center;
}

.modal-type-cart>svg {
    margin: 16px 0;
}

.modal-type-cart-body {
    width: 328px;
}

.modal-type-cart-body button {
    width: 100%;
    height: 48px;
    margin-bottom: 12px;
    border-radius: 4px;
    border: none;
}

.modal-type-cart-body button:nth-child(2) {
    background: var(--color-primary);
    border-radius: 4px;
    font-family: 'Roboto';
    font-style: normal;
    font-weight: 700;
    font-size: 15px;
    line-height: 20px;
    display: flex;
    align-items: center;
    justify-content: center;
    letter-spacing: 0.28px;
    color: #FFFFFF;
}

.modal-type-cart-body button:nth-child(3) {
    border: 1px solid var(--color-primary);
    background: #FFFFFF;
    border-radius: 4px;
    font-family: 'Roboto';
    font-style: normal;
    font-weight: 700;
    font-size: 15px;
    line-height: 20px;
    display: flex;
    align-items: center;
    justify-content: center;
    letter-spacing: 0.28px;
    color: var(--color-primary);
}

.modal-type-cart-body button:nth-child(4) {
    background: none;
    font-family: 'Roboto';
    font-style: normal;
    font-weight: 400;
    font-size: 15px;
    line-height: 20px;
    display: flex;
    align-items: center;
    text-align: center;
    letter-spacing: 0.4px;
    color: var(--color-primary);
    display: flex;
    align-items: center;
    justify-content: center;
}

.modal-type-cart-body-info {
    margin-bottom: 24px;
}

.modal-type-cart-body-info h1 {
    font-family: 'Roboto';
    font-style: normal;
    font-weight: 600;
    font-size: 15px;
    line-height: 24px;
    display: flex;
    align-items: center;
    color: #585858;
    margin-bottom: 4px;
}

.modal-type-cart-body-info h1 svg {
    margin-right: 4px;
}

.modal-type-cart-body-info p {
    font-family: 'Roboto';
    font-style: normal;
    font-weight: 400;
    font-size: 15px;
    line-height: 24px;
    color: #585858;
    margin-bottom: 12px;
    text-align: left;
}

.modal-type-cart-body-info .divider {
    margin-bottom: 8px;
}

.modal-type-cart-body-info h2 {
    font-family: 'Roboto';
    font-style: normal;
    font-weight: 600;
    font-size: 15px;
    line-height: 24px;
    display: flex;
    align-items: center;
    color: #585858;
    margin-bottom: 4px;
    text-align: left;
}

.modal-type-cart-body-info h3 {
    font-family: 'Roboto';
    font-style: normal;
    font-weight: 500;
    font-size: 15px;
    line-height: 24px;
    color: #585858;
    text-align: left;
    margin-bottom: 4px;
}

@media screen and (min-width: 720px) {
    .bottom-action>div {
        width: 672px;
    }

    .cart-section .address-area-body, .modal-type-cart-body, .cart-section .withdraw-area-body {
        width: 672px;
    }

    .cart-section .address-area-button{
        width: 672px;
    }
}