/*********** FINAL BILL ***********/
.final-bill .alert {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 12px;
    height: 44px;
    background: #E8F5EE;
    border: 1px solid #C3E6CB;
    box-sizing: border-box;
    border-radius: 4px;
}

.final-bill .alert div {
    display: flex;
    flex-direction: row;
    align-items: center;
    height: 20px;
}

.final-bill .alert div span:nth-child(2) {
    height: 20px;
    font-family: 'Roboto', sans-serif;
    font-style: normal;
    font-weight: normal;
    font-size: 15px;
    line-height: 20px;
    letter-spacing: 0.4px;
    font-feature-settings: 'tnum'on, 'lnum'on;
    color: #25A65B;
    margin: 0px 8px;
}

.bill .title span {
    height: 32px;
    font-family: 'Roboto', sans-serif;
    font-style: normal;
    font-weight: bold;
    font-size: 30px;
    line-height: 32px;
    letter-spacing: 0.4px;
    color: #585858;
}

.bill .title {
    width: 100%;
    margin-bottom: 16px;
}

.bill .subtitle {
    display: flex;
    margin-bottom: 24px;
    position: relative;
}

.bill .subtitle:not(:nth-child(2)) {
    margin-top: 40px;
}

.bill .subtitle div p:first-child {
    height: 24px;
    font-family: 'Roboto', sans-serif;
    font-style: normal;
    font-weight: 500;
    font-size: 18px;
    line-height: 24px;
    color: #585858;
    align-items: center;
}

.bill .subtitle div p:nth-child(2) {
    height: 16px;
    font-family: 'Roboto', sans-serif;
    font-style: normal;
    font-weight: normal;
    font-size: 12px;
    line-height: 16px;
    letter-spacing: 0.4px;
    color: #585858;
    align-items: center;
}

.bill .subtitle-status {
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 0px 4px;
    height: 20px;
    background: #E8F5EE;
    border-radius: 4px;
    position: absolute;
    right: 0;
}

.bill .subtitle-status span {
    height: 20px;
    font-family: 'Roboto', sans-serif;
    font-style: normal;
    font-weight: normal;
    font-size: 12px;
    line-height: 20px;
    letter-spacing: 0.4px;
    color: #25A65B;
}

.bill .subtitle-status img {
    margin-right: 4px;
    margin-bottom: 1px;
    animation: blinker 1.25s linear infinite;
}

@keyframes blinker {
    50% {
        opacity: 0;
    }
}

.bill .subtitle-status.error {
    background: #FFF0F2;
}

.bill .subtitle-status.error span {
    color: #B00020;
}

.bill .subtitle-status.noblink img {
    display: none;
}

.maximized-item, .minimized-item {
    margin-bottom: 40px;
}

.final-bill .bill .maximized-item:not(:nth-child(3)) {
    display: none;
}

.final-bill .itens-minimized {
    position: relative;
    align-items: center;
}

.final-bill .item-minimized:first-child {
    margin-top: -8px;
}

.final-bill .item-minimized {
    display: flex;
    align-items: center;
    position: relative;
    margin-bottom: 8px;
}

.final-bill .item-minimized p:nth-child(1) {
    font-family: 'Roboto', sans-serif;
    font-style: normal;
    font-weight: bold;
    font-size: 12px;
    line-height: 20px;
    letter-spacing: 0.4px;
    color: #585858;
    align-items: center;
    justify-content: center;
    display: flex;
    height: 24px;
    background: #F7F7F7;
    border-radius: 4px;
    padding: 0 8px;
}

.final-bill .item-minimized p:nth-child(2) {
    height: 24px;
    font-family: 'Roboto', sans-serif;
    font-style: normal;
    font-weight: 500;
    font-size: 15px;
    line-height: 24px;
    letter-spacing: 0.28px;
    color: #585858;
    margin-left: 8px;
}

.final-bill .expandable {
    display: flex;
    margin-bottom: 40px;
    position: relative;
    align-items: center;
}

.final-bill .expandable-title {
    height: 32px;
    font-family: 'Roboto', sans-serif;
    font-style: normal;
    font-weight: 500;
    font-size: 15px;
    line-height: 32px;
    letter-spacing: 0.28px;
    color: #585858;
}

.final-bill .expandable-buttom-open {
    display: flex;
    align-items: center;
    position: absolute;
    right: 0;
}

.final-bill .expandable-buttom-close {
    display: flex;
    align-items: center;
    position: relative;
    margin-bottom: 40px;
}

.final-bill .expandable-buttom-close svg {
    position: absolute;
    right: 0;
}

.final-bill .expandable-buttom-open p, .final-bill .expandable-buttom-close p {
    height: 20px;
    font-family: 'Roboto', sans-serif;
    font-style: normal;
    font-weight: 500;
    font-size: 15px;
    line-height: 20px;
    letter-spacing: 0.28px;
    color: var(--color-primary);
    margin-right: 5px;
}

.final-bill .payment-title {
    height: 20px;
    font-family: 'Roboto', sans-serif;
    font-style: normal;
    font-weight: bold;
    font-size: 18px;
    line-height: 20px;
    letter-spacing: 0.4px;
    color: #585858;
    margin-top: 40px;
    margin-bottom: 16px;
}

.final-bill .payment-subtotal, .payment-frete, .payment-total {
    display: flex;
    position: relative;
    align-items: center;
}

.final-bill .payment-subtotal span:nth-child(2), .payment-frete span:nth-child(2), .payment-total span:nth-child(2) {
    position: absolute;
    right: 0;
}

.final-bill .payment-subtotal span, .payment-frete span {
    height: 16px;
    font-family: 'Roboto', sans-serif;
    font-style: normal;
    font-weight: normal;
    font-size: 15px;
    line-height: 16px;
    letter-spacing: 0.4px;
    color: #585858;
    margin-bottom: 16px;
}

.final-bill .payment-total span {
    height: 24px;
    font-family: 'Roboto', sans-serif;
    font-style: normal;
    font-weight: 900;
    font-size: 18px;
    line-height: 20px;
    letter-spacing: 0.4px;
    color: #585858;
}

.final-bill .payment-total {
    margin-bottom: 16px;
}

.final-bill .payment-type-area {
    display: flex;
    position: relative;
    height: 40px;
    align-items: center;
    margin: 16px 0;
}

.final-bill .payment-type-area .payment-type-title {
    height: 24px;
    font-family: 'Roboto', sans-serif;
    font-style: normal;
    font-weight: 500;
    font-size: 15px;
    line-height: 24px;
    letter-spacing: 0.28px;
    color: #585858;
}

.final-bill .payment-type-title-extra {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    background: #F7F7F7;
    border-radius: 8px;
    font-family: 'Roboto', sans-serif;
    font-style: normal;
    font-weight: normal;
    font-size: 15px;
    line-height: 20px;
    letter-spacing: 0.4px;
    color: #585858;
    padding: 8px 0;
    margin-top: -16px;
    margin-bottom: 16px;
}

.final-bill .payment-type-area .payment-type {
    display: flex;
    position: absolute;
    right: 0;
}

.final-bill .payment-type-area .payment-type img {
    margin-right: 8px;
}

.final-bill .payment-type-area .payment-type p {
    height: 24px;
    font-family: 'Roboto', sans-serif;
    font-style: normal;
    font-weight: normal;
    font-size: 15px;
    line-height: 24px;
    letter-spacing: 0.4px;
    color: #585858;
}

.final-bill .address-area {
    margin-top: 24px;
    margin-bottom: 40px;
}

.final-bill .address-area .address-area-title {
    font-family: 'Roboto', sans-serif;
    font-style: normal;
    font-weight: bold;
    font-size: 18px;
    line-height: 20px;
    letter-spacing: 0.4px;
    color: #585858;
    margin-bottom: 16px;
}

.final-bill .address-area .address-area-subtitle svg {
    margin-right: 4px;
}

.final-bill .address-area .address-area-subtitle {
    font-family: 'Roboto';
    font-style: normal;
    font-weight: 600;
    font-size: 15px;
    line-height: 24px;
    color: #585858;
    margin-bottom: 4px;
    display: flex;
    align-items: center;
}

.final-bill .address-area .address-name, .final-bill .address-area .address-phone {
    height: 20px;
    font-family: 'Roboto', sans-serif;
    font-style: normal;
    font-weight: 500;
    font-size: 15px;
    line-height: 131%;
    letter-spacing: 0.023em;
    color: #585858;
    margin-bottom: 4px;
}

.final-bill .address-area .address-info {
    font-family: 'Roboto', sans-serif;
    font-style: normal;
    font-weight: normal;
    font-size: 15px;
    line-height: 131%;
    letter-spacing: 0.023em;
    color: #585858;
}

.final-bill .address-area button {
    height: 40px;
    background: #EBF5FF;
    border-radius: 4px;
    width: 100%;
    font-family: 'Roboto';
    font-style: normal;
    font-weight: 700;
    font-size: 15px;
    line-height: 20px;
    letter-spacing: 0.28px;
    color: #1A73E9;
    display: flex;
    align-items: center;
    justify-content: center;
    border: none;
    margin: 12px 0;
}

.final-bill .address-area .address-button svg{
    margin-right: 4px;
}

/*Forecast*/

.forecast {
    padding: 8px;
    width: 100%;
    background: #F5F5F5;
    border-radius: 8px;
    margin-bottom: 24px;
}

.forecast-minimized {
    position: relative;
}

.forecast-minimized-title {
    height: 20px;
    font-family: 'Roboto', sans-serif;
    font-style: normal;
    font-weight: normal;
    font-size: 12px;
    line-height: 20px;
    letter-spacing: 0.4px;
    color: #585858;
    margin-bottom: 4px;
}

.forecast-minimized-subtitle {
    height: 20px;
    font-family: 'Roboto', sans-serif;
    font-style: normal;
    font-weight: bold;
    font-size: 18px;
    line-height: 20px;
    letter-spacing: 0.4px;
    color: #585858;
}

.forecast-minimized-button {
    position: absolute;
    right: 0;
    bottom: 0;
    display: flex;
    align-items: center;
}

.forecast-minimized-button p {
    height: 20px;
}

.forecast-minimized-button p::after {
    font-family: 'Roboto', sans-serif;
    font-style: normal;
    font-weight: normal;
    font-size: 12px;
    line-height: 20px;
    letter-spacing: 0.4px;
    color: var(--color-primary);
    content: "Atualizações?";
}

.forecast-minimized.opened .forecast-minimized-button p::after {
    content: "Fechar";
}

.forecast-minimized.opened .forecast-minimized-button svg {
    transform: rotate(180deg);
    margin-top: 4px;
}

.forecast-maximized {
    margin-top: 16px;
    display: none;
}

.forecast-maximized .divider {
    width: 100%;
}

.forecast-maximized-row {
    display: flex;
    align-items: center;
    position: relative;
}

.forecast-maximized-row:not(:last-child) {
    margin: 24px 0;
}

.forecast-maximized-row:last-child {
    margin-bottom: 8px;
}

.forecast-maximized-row p:nth-child(1) {
    height: 20px;
    font-family: 'Roboto', sans-serif;
    font-style: normal;
    font-weight: 500;
    font-size: 15px;
    line-height: 20px;
    letter-spacing: 0.28px;
    color: #585858;
}

.forecast-maximized-row p:nth-child(2) {
    height: 20px;
    font-family: 'Roboto', sans-serif;
    font-style: normal;
    font-weight: normal;
    font-size: 12px;
    line-height: 20px;
    text-align: right;
    letter-spacing: 0.4px;
    color: #585858;
    position: absolute;
    right: 0;
}