<div id="qr-alert"><svg class="center-abs-hor" width="40" height="2" viewBox="0 0 40 2" fill="none"
        xmlns="http://www.w3.org/2000/svg" style="margin-top: 18px;">
        <line y1="1" x2="40" y2="1" stroke="#DDDDDD" stroke-width="2" stroke-linejoin="round" />
    </svg>
    <div class="center-abs-hor" style="height: 177.58px; display: flex;margin:32px 16px 16px 0px;">
        <div style="height: 116px; width: 206px; margin-right: 26px; margin-top:32px;"> <span>Precisamos confirmar sua
                mesa</span> <span>Permita acesso à câmera para reescanear o código QR da sua mesa.</span> </div> <img
            src="/cardapio.ai/img/qr-hand.png">
    </div> <button id="qr-alert-button" class="center-abs-hor"
        style="border:none; background: var(--color-primary); border-radius: 4px; margin-top: 228px; height: 48px; width: 328px;">
        <div class="center-abs-hor" style="width: 190px; height: 24px; display: flex; margin-top: 12px;"> <svg
                class="not-wl" width="25" height="24" viewBox="0 0 25 24" fill="none" xmlns="http://www.w3.org/2000/svg"
                style="margin-right: 8px;">
                <path
                    d="M4 3C3.448 3 3 3.448 3 4V8C3 8.552 3.448 9 4 9H8C8.552 9 9 8.552 9 8V4C9 3.448 8.552 3 8 3H4ZM11 3V5H13V3H11ZM16 3C15.448 3 15 3.448 15 4V8C15 8.552 15.448 9 16 9H20C20.552 9 21 8.552 21 8V4C21 3.448 20.552 3 20 3H16ZM5 5H7V7H5V5ZM17 5H19V7H17V5ZM11 7V9H13V7H11ZM3 11V13H5V11H3ZM7 11V13H9V11H7ZM11 11V13H13V11H11ZM13 13V15H15V13H13ZM15 13H17V11H15V13ZM17 13V15H19V13H17ZM19 13H21V11H19V13ZM19 15V17H21V15H19ZM19 17H17V19H19V17ZM19 19V21H21V19H19ZM17 19H15V21H17V19ZM15 19V17H13V19H15ZM13 19H11V21H13V19ZM13 17V15H11V17H13ZM15 17H17V15H15V17ZM4 15C3.448 15 3 15.448 3 16V20C3 20.552 3.448 21 4 21H8C8.552 21 9 20.552 9 20V16C9 15.448 8.552 15 8 15H4ZM5 17H7V19H5V17Z"
                    fill="white" />
            </svg> <span
                style="font-family: Roboto, sans-serif; font-style: normal; font-weight: bold; font-size: 15px; line-height: 20px;  display: flex; align-items: center; letter-spacing: 0.28px; font-feature-settings: tnum on, lnum on;  color: #FFFFFF; width: inherit;">Reescanear
                código QR</span> </div>
    </button>
</div>