<script src="/cardapio.ai/js/extra/jquery.min.js"></script>
<script src="/cardapio.ai/js/extra/jquery.mask.min.js"></script>
<script src="/cardapio.ai/js/extra/jquery.maskMoney.min.js"></script>
<script src="/cardapio.ai/js/extra/jquery.number.min.js"></script>
<script src="/cardapio.ai/js/extra/bootstrap.min.js"></script>
<script src="/cardapio.ai/js/js.js?v={{version}}"></script>
<script src="/cardapio.ai/js/extra/buscacep.js"></script>
<script src="/cardapio.ai/js/extra/materialize.js"></script>
<script src="/cardapio.ai/js/extra/html5-qrcode.min.js?v={{version}}"></script>
<script src="/cardapio.ai/js/produto.js?v={{version}}"></script>
<script src="/cardapio.ai/js/{{path}}carrinho.js?v={{version}}"></script>
<script src="/cardapio.ai/js/{{path}}conta.js?v={{version}}"></script>
<script src="/cardapio.ai/js/linktree.js?v={{version}}"></script>
<script>
    $(document).ready(function () {
        if (window.history && window.history.pushState) {
            window.history.pushState('', null, window.location.href);
            $(window).on('popstate', function () {
                $('.product-section, .cart-section').hide();
                $('.product-section *, .cart-section *').remove();
                $('.bottom-bar').show();
                goTo(0);
            });
        }
    });
</script>
</body>

</html>
<script>
    /********** SEARCH SECTION *********/

    $(document).on('input', '.search-area-second input[type="text"]', function () {
        $('.search-area-second .search-result span:nth-child(2)').text('"' + $(this).val() + '":');
        if ($(this).val() == '') {
            $('.search-area-second .search-result').hide();
            $('.search-area-second .title-default').show();
        } else {
            $('.search-area-second .title-default').hide();
            $('.search-area-second .search-result').show();

            buscarProduto($(this).val());
        }
    });

    function buscarProduto(text) {
        $(".search-area-second .title-result").show();
        $(".search-area-second .search-result-products div").remove();

        var result = 0;
        if (text != '') {
            $('.product-start .product').each(function () {
                var name = $('.product-title span', this).text().toLowerCase().replace(/\s+/g, '');

                if (name.includes(text.toLowerCase().replace(/\s+/g, ''))) {
                    $(this).clone().appendTo('.search-area-second .search-result-products');
                    result++;
                }
            });
        }

        if (result == 0) {
            $(".search-area-second .title-result").hide();
            $(".search-area-second .search-result-products").append('<div class="no-result center-rel-hor"><span>:/</span><span>Sem resultados para "' + text + '"</span></div>');
        }
    }

    /********** PRODUCT SEARCH **********/

    $(document).on('input', '#product-area-search', function () {
        if ($(this).val() != '') {

            goTo(1);

            $('.search-area-first').hide();
            $('.search-area-second').show();
            $('.search-area-second input[type="text"]').focus();
            $('.search-area-second input[type="text"]').val($(this).val());
            $('.search-area-second .search-result span:nth-child(2)').text('"' + $(this).val() + '":');
            buscarProduto($(this).val());

            $(this).val('');
        }
    });
</script>
<script src="https://www.gstatic.com/firebasejs/7.14.6/firebase-app.js"></script>
<script src="https://www.gstatic.com/firebasejs/7.14.6/firebase-messaging.js"></script>
<script src="/cardapio.ai/js/extra/firebase.js?v={{version}}"></script>