<!DOCTYPE html>
<html lang="pt-br">

<head>
  <meta charset="utf-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="theme-color" content="#0e0d11">
  <link rel="shortcut icon" href="{{favicon}}" />
  <meta name="viewport" content="width=device-width, minimum-scale=1.0, maximum-scale=1.0, user-scalable=no">
  <title>{{title}}</title>
  <link href="/cardapio.ai/css/extra/bootstrap.min.css" rel="stylesheet">
  <link href="/cardapio.ai/css/extra/materialize.css" rel="stylesheet">
  <style>
    :root {
      --color-primary: {{color}};
      --color-primary-category: {{color}}29;
      --color-primary-effects: {{color}}27;
      --color-primary-radio: {{color}}42;
    }
  </style>
  <link href="/cardapio.ai/css/style.css?v={{version}}" rel="stylesheet">
  <link href="/cardapio.ai/css/{{path}}carrinho.css?v={{version}}" rel="stylesheet">
  <link href="/cardapio.ai/css/{{path}}conta.css?v={{version}}" rel="stylesheet">
  <link href="/cardapio.ai/css/linktree.css?v={{version}}" rel="stylesheet">
  {{pixelFacebook}}

  <!-- HTML5 shim and Respond.js for IE8 support of HTML5 elements and media queries -->
  <!-- WARNING: Respond.js doesn't work if you view the page via file:// -->
  <!--[if lt IE 9]>
      <script src="https://oss.maxcdn.com/html5shiv/3.7.3/html5shiv.min.js"></script>
      <script src="https://oss.maxcdn.com/respond/1.4.2/respond.min.js"></script>
    <![endif]-->
</head>

<body>