{{linktree}}
<div class="product-area section">
    <div class='header-start default-area col' style="opacity: 0;">
        <div class='header-logo col'>
            <img class="center-rel" src="{{logo}}">
        </div>
        <div class='header-category col' style="border-bottom: #DDDDDD solid 1px;">
            {{categories_start}}
        </div>
    </div>
    <div class="search-area">
        <div class="product-start search-start">
            <div class='search center-rel-hor'>
                <svg width="24" height="24" viewBox="0 0 24 24" fill="none" xmlns="http://www.w3.org/2000/svg">
                    <path
                        d="M16.1515 15.3333L14.9394 14.1212L14.8545 15.0061C16.0424 13.6242 16.7576 11.8303 16.7576 9.87879C16.7576 5.52727 13.2303 2 8.87879 2C4.52727 2 1 5.52727 1 9.87879C1 14.2303 4.52727 17.7576 8.87879 17.7576C10.8303 17.7576 12.6242 17.0424 14.0061 15.8545L13.1212 15.9394L14.3333 17.1515L19.1818 22L21 20.1818L16.1515 15.3333ZM8.87879 15.3333C5.86061 15.3333 3.42424 12.897 3.42424 9.87879C3.42424 6.86061 5.86061 4.42424 8.87879 4.42424C11.897 4.42424 14.3333 6.86061 14.3333 9.87879C14.3333 12.897 11.897 15.3333 8.87879 15.3333Z"
                        fill="#E4002B" />
                    <rect x="13.2461" y="14.7344" width="2.11135" height="6.93661"
                        transform="rotate(-45 13.2461 14.7344)" fill="#E4002B" />
                </svg>
                <input id="product-area-search" type="text" placeholder="Pesquise pratos, bebidas, doces...">
            </div>
            <div class='title col center-rel-hor'>
                <span>Categorias</span>
                <div class="seemore-area">
                    <span>Ver todas</span>
                    <svg width="4" height="6" viewBox="0 0 4 6" fill="none" xmlns="http://www.w3.org/2000/svg">
                        <path
                            d="M4.29947e-07 5.46364L0.606684 6L4 3L0.606684 -6.57021e-07L-8.09147e-10 0.536363L2.78663 3L4.29947e-07 5.46364Z"
                            fill="#E4002B" />
                    </svg>
                </div>
            </div>
            <div class='header-category center-rel-hor'>
                {{categories_start}}
            </div>
            <div class="divider center-rel-hor">

            </div>
        </div>
    </div>
    <div class="product-start">
        <div class='list col center-rel-hor'>
            {{listProduct}}
        </div>
    </div>
    <div class='floating-button hide'>
        <span>Ver carrinho</span>
        <div>
            <span>1</span>
        </div>
    </div>
</div>
<div class="search-area section" style="display: none;">
    <div class="search-area-first">
        <div class='header-start col'>
            <div class='header-logo col'>
                <img class="center-rel" src="{{logo}}">
            </div>
        </div>
        <div class="product-start search-start">
            <div class='search center-rel-hor'>
                <svg width="24" height="24" viewBox="0 0 24 24" fill="none" xmlns="http://www.w3.org/2000/svg">
                    <path
                        d="M16.1515 15.3333L14.9394 14.1212L14.8545 15.0061C16.0424 13.6242 16.7576 11.8303 16.7576 9.87879C16.7576 5.52727 13.2303 2 8.87879 2C4.52727 2 1 5.52727 1 9.87879C1 14.2303 4.52727 17.7576 8.87879 17.7576C10.8303 17.7576 12.6242 17.0424 14.0061 15.8545L13.1212 15.9394L14.3333 17.1515L19.1818 22L21 20.1818L16.1515 15.3333ZM8.87879 15.3333C5.86061 15.3333 3.42424 12.897 3.42424 9.87879C3.42424 6.86061 5.86061 4.42424 8.87879 4.42424C11.897 4.42424 14.3333 6.86061 14.3333 9.87879C14.3333 12.897 11.897 15.3333 8.87879 15.3333Z"
                        fill="#E4002B" />
                    <rect x="13.2461" y="14.7344" width="2.11135" height="6.93661"
                        transform="rotate(-45 13.2461 14.7344)" fill="#E4002B" />
                </svg>
                <input type="text" placeholder="Pesquise pratos, bebidas, doces...">
            </div>
            <div class='title col center-rel-hor'>
                <span>Categorias</span>
            </div>
            <div class='list col center-rel-hor'>
                {{categories_search}}
            </div>
        </div>
    </div>
    <div class="search-area-second" style="display: none;">
        <div class='header-start col'>
            <div class='header-logo col'>
                <div>
                    <svg width="24" height="24" viewBox="0 0 24 24" fill="none" xmlns="http://www.w3.org/2000/svg"
                        class="icon-search">
                        <path
                            d="M16.1515 15.3333L14.9394 14.1212L14.8545 15.0061C16.0424 13.6242 16.7576 11.8303 16.7576 9.87879C16.7576 5.52727 13.2303 2 8.87879 2C4.52727 2 1 5.52727 1 9.87879C1 14.2303 4.52727 17.7576 8.87879 17.7576C10.8303 17.7576 12.6242 17.0424 14.0061 15.8545L13.1212 15.9394L14.3333 17.1515L19.1818 22L21 20.1818L16.1515 15.3333ZM8.87879 15.3333C5.86061 15.3333 3.42424 12.897 3.42424 9.87879C3.42424 6.86061 5.86061 4.42424 8.87879 4.42424C11.897 4.42424 14.3333 6.86061 14.3333 9.87879C14.3333 12.897 11.897 15.3333 8.87879 15.3333Z"
                            fill="#E4002B" />
                        <rect x="13.2461" y="14.7344" width="2.11135" height="6.93661"
                            transform="rotate(-45 13.2461 14.7344)" fill="#E4002B" />
                    </svg>
                    <input type="text">
                </div>
                <svg width="16" height="17" viewBox="0 0 16 17" fill="none" xmlns="http://www.w3.org/2000/svg"
                    class="center-rel-ver icon-search-close">
                    <rect y="2" width="2.5" height="20" transform="rotate(-45 0 2)" fill="#E4002B" />
                    <rect x="14.1421" width="2.5" height="20" transform="rotate(45 14.1421 0)" fill="#E4002B" />
                </svg>
            </div>
        </div>
        <div class="product-start">
            <div class='title title-default col center-rel-hor' style="display: none;">
                <span>Pesquise pratos, bebidas, doces...</span>
            </div>
            <div class='title search-result title-result col center-rel-hor'>
                <span>Resultado para&nbsp;</span>
                <span>"Torta":</span>
            </div>
            <div class='list col search-result search-result-products center-rel-hor'>
            </div>
        </div>
    </div>
</div>
<div class="final-bill bill-area section" style="display: none;">
    <div class="header">
        <div class="back-arrow">
            <svg class="center-rel" width="14" height="24" viewBox="0 0 14 24" fill="none"
                xmlns="http://www.w3.org/2000/svg">
                <path d="M14 21.8545L11.8766 24L0 12L11.8766 0L14 2.14546L4.24679 12L14 21.8545Z" fill="#E4002B" />
            </svg>
        </div>
        <img class="center-rel logo" src="{{logo}}">
    </div>
</div>
<div class="bottom-bar">
    <div class="option-0 option selected">
        <div>
            <svg width="24" height="25" viewBox="0 0 24 25" fill="none" xmlns="http://www.w3.org/2000/svg">
                <path
                    d="M6.11816 20.5316L16.6665 22.3963C18.5591 22.7303 19.7095 21.6819 19.7095 19.6131V8.13703C19.7095 7.1258 19.4312 6.45783 18.8838 6.00324V4.20343C18.8838 2.25519 17.5757 1.31818 15.377 1.70783L5.83057 3.39631C4.88428 3.50763 4.29053 4.22199 4.29053 5.33527V18.4256C4.29053 19.6224 4.90283 20.3182 6.11816 20.5316ZM16.8521 5.23322L10.1909 4.055L15.9058 3.10871C16.8335 2.95099 17.3901 3.34064 17.3901 4.14777V5.34455C17.2139 5.29816 17.0376 5.26105 16.8521 5.23322ZM6.47998 19.0565C6.00684 18.9822 5.78418 18.7039 5.78418 18.2122V5.58576C5.78418 5.08478 6.11816 4.83429 6.66553 4.92707L16.7778 6.69904C17.7148 6.87531 18.2158 7.25568 18.2158 8.11847V19.4554C18.2158 20.5037 17.6035 21.0325 16.6016 20.847L6.47998 19.0565ZM8.10352 9.0091L15.2563 10.2708C15.6924 10.345 15.9614 10.076 15.9614 9.68635C15.9614 9.33381 15.7852 9.14826 15.4604 9.08332L8.34473 7.84015C7.91797 7.76593 7.62109 8.01642 7.62109 8.39679C7.62109 8.7215 7.79736 8.95343 8.10352 9.0091ZM8.10352 12.6273L15.2563 13.889C15.6924 13.9632 15.9614 13.6942 15.9614 13.3045C15.9614 12.952 15.7852 12.7664 15.4604 12.7015L8.34473 11.4583C7.91797 11.3841 7.62109 11.6346 7.62109 12.015C7.62109 12.3397 7.79736 12.5716 8.10352 12.6273Z"
                    fill="#757575" />
            </svg>
            <span>Cardápio</span>
        </div>
    </div>
    <div class="option-1 option">
        <div>
            <svg width="24" height="25" viewBox="0 0 24 25" fill="none" xmlns="http://www.w3.org/2000/svg"
                class="item-disabled">
                <path
                    d="M2.93604 10.2904C2.93604 14.3724 6.25732 17.6937 10.3394 17.6937C11.9536 17.6937 13.4287 17.1742 14.644 16.3021L19.2085 20.8759C19.4219 21.0892 19.7002 21.1913 19.9971 21.1913C20.6279 21.1913 21.064 20.7181 21.064 20.0966C21.064 19.7997 20.9526 19.5306 20.7578 19.3358L16.2212 14.7714C17.1768 13.5282 17.7427 11.9789 17.7427 10.2904C17.7427 6.20837 14.4214 2.88708 10.3394 2.88708C6.25732 2.88708 2.93604 6.20837 2.93604 10.2904ZM4.52246 10.2904C4.52246 7.08044 7.12939 4.47351 10.3394 4.47351C13.5493 4.47351 16.1562 7.08044 16.1562 10.2904C16.1562 13.5004 13.5493 16.1073 10.3394 16.1073C7.12939 16.1073 4.52246 13.5004 4.52246 10.2904Z"
                    fill="#757575" />
            </svg>
            <span>Pesquisa</span>
        </div>
    </div>
    <div class="option-2 option">
        <div>
            <svg width="24" height="25" viewBox="0 0 24 25" fill="none" xmlns="http://www.w3.org/2000/svg"
                class="item-disabled">
                <path
                    d="M8.93555 5.51257H14.6689C15.207 5.51257 15.5317 5.16931 15.5317 4.59412V3.62C15.5317 3.0448 15.207 2.70154 14.6689 2.70154H13.8154C13.7505 1.6532 12.8784 0.799683 11.8022 0.799683C10.7261 0.799683 9.854 1.6532 9.78906 2.70154H8.93555C8.39746 2.70154 8.07275 3.0448 8.07275 3.62V4.59412C8.07275 5.16931 8.39746 5.51257 8.93555 5.51257ZM11.8022 3.58289C11.3569 3.58289 10.9951 3.21179 10.9951 2.77576C10.9951 2.32117 11.3569 1.95935 11.8022 1.95935C12.2476 1.95935 12.6094 2.32117 12.6094 2.77576C12.6094 3.21179 12.2476 3.58289 11.8022 3.58289ZM6.87598 23.2787H16.7285C18.6489 23.2787 19.6045 22.3138 19.6045 20.3656V6.30115C19.6045 4.39929 18.686 3.38806 16.8306 3.38806H16.6079C16.6172 3.46228 16.6172 3.54578 16.6172 3.62V4.45496C16.6172 4.60339 16.6079 4.75183 16.5801 4.88171H16.8027C17.6748 4.88171 18.1108 5.44763 18.1108 6.3197V20.347C18.1108 21.2748 17.6191 21.785 16.6543 21.785H6.9502C5.98535 21.785 5.49365 21.2748 5.49365 20.347V6.3197C5.49365 5.44763 5.92969 4.88171 6.80176 4.88171H7.02441C6.99658 4.75183 6.9873 4.60339 6.9873 4.45496V3.62C6.9873 3.54578 6.9873 3.46228 6.99658 3.38806H6.77393C4.91846 3.38806 4 4.39929 4 6.30115V20.3656C4 22.3138 4.95557 23.2787 6.87598 23.2787ZM7.71094 10.6893H15.8936C16.209 10.6893 16.478 10.4296 16.478 10.1141C16.478 9.79871 16.209 9.52966 15.8936 9.52966H7.71094C7.39551 9.52966 7.12646 9.79871 7.12646 10.1141C7.12646 10.4296 7.39551 10.6893 7.71094 10.6893ZM7.71094 13.9828H15.8936C16.2183 13.9828 16.478 13.723 16.478 13.3983C16.478 13.0829 16.2183 12.8324 15.8936 12.8324H7.71094C7.38623 12.8324 7.12646 13.0829 7.12646 13.3983C7.12646 13.723 7.38623 13.9828 7.71094 13.9828ZM7.71094 17.4525H11.8301C12.1455 17.4525 12.4053 17.1927 12.4053 16.8773C12.4053 16.5619 12.1548 16.3021 11.8301 16.3021H7.71094C7.38623 16.3021 7.12646 16.5619 7.12646 16.8773C7.12646 17.1927 7.39551 17.4525 7.71094 17.4525Z"
                    fill="#757575" />
            </svg>
            <span>Conta</span>
        </div>
    </div>
</div>
<div class="product-section" style="display: none;"></div>
<div class="cart-section" style="display: none;"></div>