<div class="linktree {{closed}}">
    <style>
        .linktree:not(.closed)+.product-area {
            display: none;
        }
        .linktree:not(.closed)~.bottom-bar {
            display: none;
        }
    </style>
    <div class="linktree-header"
        style="background-image: url(/cardapio.ai/img/linktree-header-{{tipoEstabelecimento}}.jpg), url(/cardapio.ai/img/linktree-header.jpg);">
        <div></div>
    </div>
    <div class="linktree-body">
        <div class="linktree-profile">
            <div class="linktree-profile-info">
                <img class="linktree-profile-img" src="{{logo}}">
                <div>
                    <p class="linktree-profile-name">{{nomeEstabelecimento}}</p>
                    <div class="linktree-profile-address">
                        <svg class="not-wl" width="17" height="16" viewBox="0 0 17 16" fill="none"
                            xmlns="http://www.w3.org/2000/svg">
                            <path
                                d="M8.49992 2.33325C5.91992 2.33325 3.83325 4.41992 3.83325 6.99992C3.83325 10.4999 8.49992 15.6666 8.49992 15.6666C8.49992 15.6666 13.1666 10.4999 13.1666 6.99992C13.1666 4.41992 11.0799 2.33325 8.49992 2.33325ZM8.49992 8.66659C7.57992 8.66659 6.83325 7.91992 6.83325 6.99992C6.83325 6.07992 7.57992 5.33325 8.49992 5.33325C9.41992 5.33325 10.1666 6.07992 10.1666 6.99992C10.1666 7.91992 9.41992 8.66659 8.49992 8.66659Z"
                                fill="#757575" />
                        </svg>
                        <p>{{endereco}}</p>
                    </div>
                    {{pedido_minimo}}
                </div>
            </div>
            <div class="linktree-profile-second">
                <div class="linktree-profile-time">
                    <div class="linktree-profile-time-minimized">
                        <div class="linktree-profile-time-minimized-status {{aberto}}">
                            <img src="/cardapio.ai/img/point-green.svg">
                            <p></p>
                        </div>
                        <div class="linktree-profile-time-minimized-button">
                            <p></p>
                            <svg width="16" height="20" viewBox="0 0 16 20" fill="none"
                                xmlns="http://www.w3.org/2000/svg">
                                <path
                                    d="M11.2848 8.42863L12 9.12199L8 13.0001L4 9.12199L4.71515 8.42863L8 11.6134L11.2848 8.42863Z"
                                    fill="#E4002B" />
                            </svg>
                        </div>
                    </div>
                    <div class="linktree-profile-time-maximized">
                        <div class="divider"></div>
                        <p class="linktree-profile-time-maximized-title">Horários de funcionamento</p>
                        {{timesItem}}
                    </div>
                </div>
                {{buttons}}
                {{simulateShipping}}
            </div>
        </div>
        <div class="linktree-share" link="https://cardapio.ai/{{path}}">
            <svg width="16" height="16" viewBox="0 0 16 16" fill="none" xmlns="http://www.w3.org/2000/svg">
                <path
                    d="M12 10.72C11.4933 10.72 11.04 10.92 10.6933 11.2333L5.94 8.46666C5.97333 8.31333 6 8.16 6 8C6 7.83999 5.97333 7.68666 5.94 7.53333L10.64 4.79333C11 5.12666 11.4733 5.33333 12 5.33333C13.1067 5.33333 14 4.44 14 3.33333C14 2.22666 13.1067 1.33333 12 1.33333C10.8933 1.33333 10 2.22666 10 3.33333C10 3.49333 10.0267 3.64666 10.06 3.79999L5.36 6.54C5 6.20666 4.52667 6 4 6C2.89333 6 2 6.89333 2 8C2 9.10666 2.89333 10 4 10C4.52667 10 5 9.79333 5.36 9.46L10.1067 12.2333C10.0733 12.3733 10.0533 12.52 10.0533 12.6667C10.0533 13.74 10.9267 14.6133 12 14.6133C13.0733 14.6133 13.9467 13.74 13.9467 12.6667C13.9467 11.5933 13.0733 10.72 12 10.72Z"
                    fill="#5D0F43" />
            </svg>
            <p></p>
        </div>
    </div>
</div>