<div class="header">
    <div class="back-arrow">
        <svg class="center-rel" width="14" height="24" viewBox="0 0 14 24" fill="none"
            xmlns="http://www.w3.org/2000/svg">
            <path d="M14 21.8545L11.8766 24L0 12L11.8766 0L14 2.14546L4.24679 12L14 21.8545Z" fill="#E4002B" />
        </svg>
    </div>
    <img class="center-rel logo" src="{{logo}}">
</div>
<div class="main-area center-rel-hor">
    <div class="responsive-product">
        <div class='image center-rel-hor'>
            <img src="{{url}}" onerror="this.src='/cardapio.ai/img/product-no-photo.svg'">
        </div>
        <div class='info'>
            <div class='title'>
                <span>
                    {{nomeProduto}}
                </span>
                <div class="subdescription">
                    {{medida}}
                    {{servePessoas}}
                </div>
            </div>
            {{descricao}}
        </div>
    </div>
    {{ingredients}}
    {{categorias}}
    <div class="note">
        <span class="note-text">
            Alguma observação?
        </span>
        <textarea type="text"></textarea>
    </div>
</div>
<div class="bottom-options">
    <div class="buttons-elegant-bottom elegant">
        <div>
            <svg class="item-disabled" width="16" height="16" viewBox="0 0 16 16" fill="none"
                xmlns="http://www.w3.org/2000/svg">
                <rect y="6.66675" width="16" height="2.66667" fill="#E4002B" />
            </svg>
        </div>
        <div>
            <span id="quantity-value">1</span>
        </div>
        <div>
            <svg width="16" height="16" viewBox="0 0 16 16" fill="none" xmlns="http://www.w3.org/2000/svg">
                <path d="M6.66667 0H9.33333V16H6.66667V0Z" fill="#E4002B" />
                <path d="M16 6.66667V9.33333L0 9.33333L1.16564e-07 6.66667L16 6.66667Z" fill="#E4002B" />
            </svg>
        </div>
    </div>
    <div class="confirm confirm-enabled">
        <span>Adicionar</span>
        <div>
            <span>R$</span>
            <span id="product-value">{{valorInicial}}</span>
        </div>
    </div>
</div>
<script>
    startLoading(false);
    $(".product-section .chooses").each(function () {
        if ($('.itens .item-container', this).length == 0 && $('.itens .selected-combo', this).length == 0)
            $(this).remove();
    });
    verifyAdditionalRequired();
</script>